@font-face {
  font-family: 'moderat';
  src: url("../assets/typefaces/moderat-subset/moderat-regular-webfont.woff2") format("woff2"), url("../assets/typefaces/moderat-subset/moderat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'moderat';
  src: url("../assets/typefaces/moderat-subset/moderat-bold-webfont.woff2") format("woff2"), url("../assets/typefaces/moderat-subset/moderat-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

* {
  box-sizing: border-box; }

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: black;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em; }

.posts li {
  line-height: 1.75em; }

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em; }

.header a {
  font-weight: bold;
  text-decoration: none; }

.title {
  display: inline-block;
  margin-bottom: 2em; }

.title a {
  color: #a00; }

.title a:hover {
  color: #000; }

.header a.extra {
  color: #aaa;
  margin-left: 1em; }

.header a.extra:hover {
  color: #000; }

.footer .contact {
  float: left;
  margin-right: 3em; }

.footer .contact a {
  color: #8085C1; }

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right; }

.footer .rss img {
  border: 0; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em; }

.post ul, .post ol {
  margin-left: 1.35em; }

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em; }

.post pre code {
  border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

.post pre.terminal code {
  background-color: #333; }

.ds-dot {
  display: block;
  width: 5em;
  height: 5em;
  margin: 0 auto;
  border-radius: 100%;
  background-color: #666; }
  .ds-dot--shadow {
    box-shadow: 0 0 2px rgba(10, 42, 79, 0.2); }

.ds-header {
  text-align: center;
  background: #5f11e8;
  color: #f8f8f8;
  padding: 4em;
  margin-bottom: 2em;
  margin-top: 2em; }

@-webkit-keyframes moveBack {
  100% {
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0); } }

@keyframes moveBack {
  100% {
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0); } }

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  100% {
    opacity: 1; } }

@-webkit-keyframes moveUpDown {
  45% {
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0); }
  55% {
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0); } }

@keyframes moveUpDown {
  45% {
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0); }
  55% {
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0); } }

/**
 * Basic styling
 */
html, body {
  background: #f8f8f8; }

body {
  font-weight: 400;
  font-size: calc( 12px + 0.5vw);
  line-height: 1.75;
  font-family: "Fira Mono", monospace;
  color: #0a2a4f;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
     -moz-font-kerning: normal;
          font-kerning: normal; }

/**
 * Set `margin-top` on a elements siblings
 */
p + * {
  margin-top: 30px; }

.about-us, .cases, .cases__item, .l-column-side {
  margin-top: 0 !important; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

svg {
  max-width: 100%; }

.image {
  width: 100%;
  height: auto; }

.image + * {
  margin-top: 30px; }
  @media screen and (min-width: 600px) {
    .image + * {
      margin-top: 60px; } }

.image-loader {
  position: relative;
  padding-bottom: 57.6388889%;
  width: 100%; }
  .image-loader img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transition: opacity 0.4s; }

/**
 * Page loader
 */
.transition-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 15.75px; }

pre {
  margin-top: 15px;
  margin-bottom: 15px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6, .h1, .h2, .navigation__link, .navigation__overlay, .h3, .h4, .ingress p, .h5, .h6 {
  font-family: "Moderat", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 0.05em;
  word-spacing: 0.1em; }
  @media screen and (min-width: 600px) {
    h1, h2, h3, h4, h5, h6, .h1, .h2, .navigation__link, .navigation__overlay, .h3, .h4, .ingress p, .h5, .h6 {
      padding-left: 30px;
      padding-right: 30px; } }

h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
  margin-top: 9px; }

h1, .h1 {
  font-size: calc( 3em + 2vw);
  max-width: calc( 11.2em + 60px); }

h2, .h2, .navigation__link, .navigation__overlay {
  font-size: 2.5em;
  max-width: calc( 22.4em + 60px); }

h3, .h3 {
  font-size: 2em;
  max-width: calc( 28em + 60px); }

h4, .h4, .ingress p {
  font-size: 1.5em;
  max-width: calc( 37.35em + 60px); }

h5, .h5, h6, .h6 {
  max-width: calc( 56em + 60px); }

.pre-header {
  font-size: 1em;
  letter-spacing: 0.125em; }

/**
 * Links
 */
a {
  color: #5f11e8;
  text-decoration: none; }
  a:visited {
    color: #5f11e8; }
  a:hover {
    color: #5f11e8; }

p > a:not(.button):not(.link):not(.metabutton) {
  position: relative;
  text-shadow: 1px 1px 0 #ffffff, 2px 1px 0 #ffffff, -1px 1px 0 #ffffff, -2px 1px 0 #ffffff, 1px -1px 0 #ffffff, 2px -1px 0 #ffffff, -1px -1px 0 #ffffff, -2px -1px 0 #ffffff;
  z-index: 1; }
  p > a:not(.button):not(.link):not(.metabutton):after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid #5f11e8;
    z-index: -1;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    transition: -webkit-transform 0.7s cubic-bezier(0.2, 1, 0.3, 0.8);
    transition: transform 0.7s cubic-bezier(0.2, 1, 0.3, 0.8); }
  p > a:not(.button):not(.link):not(.metabutton):hover:after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }

/**
 * Blockquotes
 */
blockquote {
  color: #666666;
  border-left: 4px solid #f8f8f8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #f8f8f8;
  border-radius: 3px;
  background-color: rgba(102, 102, 102, 0.2);
  text-align: left;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  word-break: break-all; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Other typography
 */
p {
  max-width: 56em;
  max-width: calc( 56em + 60px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 600px) {
    p {
      padding-left: 30px;
      padding-right: 30px; } }

.meta-description, .meta {
  letter-spacing: 0.125em; }

.meta-description {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 700; }

/**
 * Clearfix
 */
/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #666666; }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(5vh, auto);
  grid-auto-rows: minmax(5vh, auto); }
  .grid--space {
    margin-top: 60px;
    margin-bottom: 60px; }
  .grid--padding {
    padding-left: 30px;
    padding-right: 30px; }
  .grid__column1-2 {
    margin-bottom: 30px;
    grid-column: 1 / span 12;
    grid-row: 1; }
    @media screen and (min-width: 50em) {
      .grid__column1-2 {
        grid-column: 1 / span 6; } }
  .grid__column2-2 {
    margin-bottom: 30px;
    grid-column: 1 / span 12;
    grid-row: 2; }
    @media screen and (min-width: 50em) {
      .grid__column2-2 {
        grid-column: 7 / span 6;
        grid-row: 1; } }
  .grid__offsetcolumn1-2 {
    grid-column: 1 / span 12;
    grid-row: 4 / span 13; }
    @media screen and (min-width: 50em) {
      .grid__offsetcolumn1-2 {
        grid-column: 1 / span 8;
        grid-row: 2 / span 13; } }
    .grid__offsetcolumn1-2--small {
      grid-row: 4 / span 8; }
      @media screen and (min-width: 50em) {
        .grid__offsetcolumn1-2--small {
          grid-row: 2 / span 8; } }
  .grid__offsetcolumn2-2 {
    grid-column: 2 / span 13;
    grid-row: 1 / span 4; }
    @media screen and (min-width: 50em) {
      .grid__offsetcolumn2-2 {
        grid-column: 8 / span 5;
        grid-row: 1 / span 8; } }

.logowall {
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
  max-width: 59em; }
  .logowall .kappahl-logo {
    margin-top: 8px; }
  .logowall .column {
    margin-bottom: 30px; }

.footer {
  background-color: #ffffff;
  margin: 0 30px; }
  @media screen and (min-width: 50em) {
    .footer {
      font-size: 80%;
      margin: 60px 30px 0; } }
  .footer img {
    width: 6em;
    height: 5.6em; }

/**
 * Site header
 */
.site-header__svg {
  fill: #ffffff;
  opacity: 1;
  transition: fill 0.7s;
  width: 4em;
  height: 4em;
  background-size: 97% 97%; }
  .site-header__svg:hover {
    fill: #ffc1b4; }
  @media screen and (min-width: 50em) {
    .site-header__svg {
      width: 4em;
      height: 4em; } }

.site-header__logoanim {
  width: calc(7em + 3vw);
  height: calc(7em + 3vw); }

.site-header .button--nav {
  margin: 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5; }
  .site-header .button--nav.menu-open {
    z-index: 40; }

.site-header .site-header__logo {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 40; }

/**
 * Cases section
 */
.case2__image {
  width: 100vw;
  height: 50vw;
  -webkit-perspective: 1000px;
          perspective: 1000px; }
  @media screen and (min-width: 50em) {
    .case2__image {
      width: 30vw;
      height: 15vw; } }

#mbkz_bg, #mbkz_menu, #mbkz_side, #mbkz_content {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%; }

.text-content {
  padding: 15px 15px 15px;
  max-width: 59em;
  margin: 0 auto;
  text-align: left; }
  @media screen and (min-width: 50em) {
    .text-content {
      padding: 30px 30px 30px; } }
  .text-content--right {
    margin-right: 0; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: rgba(95, 17, 232, 0.2); }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

/**
 * Boxes with drop shadows
 */
.box {
  padding: 60px 0;
  background: #ffffff;
  position: relative;
  margin-left: 15px;
  margin-right: auto;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center;
  max-width: 59em;
  width: calc(100% - 30px); }
  @media screen and (min-width: 600px) {
    .box {
      margin-left: 30px;
      margin-bottom: 30px; } }
  .box:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #5f11e8;
    -webkit-transform: translate(15px, 15px);
            transform: translate(15px, 15px); }
    @media screen and (min-width: 600px) {
      .box:before {
        -webkit-transform: translate(30px, 30px);
                transform: translate(30px, 30px); } }
  .box--right {
    margin-left: auto;
    margin-right: 15px; }
    .box--right:before {
      -webkit-transform: translate(-15px, 15px);
              transform: translate(-15px, 15px); }
    @media screen and (min-width: 600px) {
      .box--right {
        margin-left: auto;
        margin-right: 30px; }
        .box--right:before {
          -webkit-transform: translate(-30px, 30px);
                  transform: translate(-30px, 30px); } }
  .box--center {
    margin-left: auto;
    margin-right: auto; }
  .box--people:before {
    background: #ffc1b4; }
  .box--business:before {
    background: #7bd75e; }
  .box--curiosities:before {
    background: #ffde7f; }
  .box--metal:before {
    background: #666666; }
  .box--bgsignal, .box--bgmetal {
    color: #ffffff; }
    .box--bgsignal:before, .box--bgmetal:before {
      background: #ffffff; }
  .box--bgpeople:before, .box--bgcuriosities:before, .box--bgbusiness:before {
    background: #ffffff; }
  .box--bgsignal {
    background: #5f11e8; }
  .box--bgpeople {
    background: #ffc1b4; }
  .box--bgcuriosities {
    background: #ffde7f; }
  .box--bgbusiness {
    background: #7bd75e; }
  .box--bgmetal {
    background: #666666; }

.box + * {
  margin-top: 60px; }

.boxtext {
  background-color: #ffffff;
  padding: 30px 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .boxtext {
      padding: 90px 90px; } }
  .boxtext--frame {
    background-color: #7bd75e;
    color: #ffffff;
    margin: calc(1.5em + 30px) 15px;
    position: relative; }
    @media screen and (min-width: 600px) {
      .boxtext--frame {
        margin-left: 60px;
        margin-right: 60px; } }
    .boxtext--frame:after, .boxtext--frame:before {
      content: "";
      position: absolute;
      left: 5%;
      right: 5%;
      pointer-events: none; }
    .boxtext--frame:before {
      top: -1.5em;
      bottom: -1.5em;
      border: 4px solid #7bd75e; }
    .boxtext--frame:after {
      top: 0;
      bottom: 0;
      border-left: 4px solid #ffffff;
      border-right: 4px solid #ffffff; }

.boxgrid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 30px 45px;
  margin-top: 30px;
  position: relative;
  max-width: 68.7em;
  margin-left: auto;
  margin-right: auto; }
  .boxgrid a {
    color: #0a2a4f; }
  .boxgrid__header {
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 30px 12% 15px;
    color: #5f11e8; }
  .boxgrid__box {
    width: 100%;
    position: relative;
    margin-top: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
    @media (min-width: 400px) {
      .boxgrid__box {
        width: auto;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
        margin-right: 15px;
        margin-left: 15px; } }
    .boxgrid__box figure {
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: start;
          align-items: flex-start;
      -ms-flex-direction: column;
          flex-direction: column; }
    .boxgrid__box figcaption {
      -ms-flex: 1 0 0%;
          flex: 1 0 0%; }
    .boxgrid__box:after {
      content: "";
      background: #ffffff;
      position: absolute;
      top: 15px;
      bottom: 0;
      left: -15px;
      width: 15px; }
    .boxgrid__box:nth-child(odd) {
      text-align: right; }
      .boxgrid__box:nth-child(odd):after {
        left: auto;
        right: -15px; }
      .boxgrid__box:nth-child(odd) figcaption {
        text-align: left;
        padding-left: 15px; }
      .boxgrid__box:nth-child(odd) figure {
        -ms-flex-align: end;
            align-items: flex-end; }
    .boxgrid__box img {
      width: 100%; }
  .boxgrid figcaption {
    background: #ffffff;
    display: inline-block;
    min-width: 80%;
    padding: 30px 0; }
    .boxgrid figcaption h3, .boxgrid figcaption p {
      padding-left: 0; }
  .boxgrid:before {
    content: "";
    border: 4px solid #5f11e8;
    position: absolute;
    top: 0;
    left: 12%;
    right: 12%;
    height: 100%; }
    @media (min-width: 400px) {
      .boxgrid:before {
        left: 12%;
        right: 12%; } }
    @media (min-width: 800px) {
      .boxgrid:before {
        left: 9%;
        right: 9%; } }
  @media (min-width: 400px) {
    .boxgrid--compact .boxgrid__box {
      -ms-flex: 1 0 calc(50% - 30px);
          flex: 1 0 calc(50% - 30px);
      max-width: calc(50% - 30px);
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column; } }
  @media (min-width: 800px) {
    .boxgrid--compact .boxgrid__box {
      -ms-flex: 1 0 calc(33% - 30px);
          flex: 1 0 calc(33% - 30px);
      max-width: calc(33% - 30px); } }
  .boxgrid--compact .boxgrid__box:after {
    display: none; }
  .boxgrid--compact .boxgrid__box figcaption {
    display: block;
    min-width: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    -ms-flex: 1 0 0%;
        flex: 1 0 0%; }
    .boxgrid--compact .boxgrid__box figcaption h3, .boxgrid--compact .boxgrid__box figcaption p {
      padding: 0; }

/**
* Buttons
*/
.button {
  font-family: "Moderat", sans-serif;
  font-weight: bold;
  border: none;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  z-index: 1;
  padding: 0;
  display: inline-block; }
  @media screen and (min-width: 50em) {
    .button {
      font-size: 0.8em; } }
  .button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #5f11e8;
    z-index: -1;
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
    transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
    transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9); }
  .button:hover:after, .button:focus:after {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  .button:focus, .button:active {
    outline: none; }
  .button span {
    letter-spacing: 0.15em;
    color: #5f11e8;
    padding: 0.55em 1.5em 0.45em;
    background-color: #ffffff;
    border: 2px solid #5f11e8;
    display: block;
    width: 100%;
    height: 100%;
    transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
    transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
    -webkit-transform: translate3D(0, -3px, 0);
            transform: translate3D(0, -3px, 0);
    position: relative; }
  .button:hover span, .button:focus span {
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0); }
  .button:active span {
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
    border: 2px solid transparent;
    background-color: transparent;
    color: #ffffff; }
    .button:active span :after {
      background-color: none; }
  .button--inv span {
    border-color: #ffffff;
    background-color: #5f11e8;
    color: #ffffff; }
  .button--inv:after {
    background-color: #ffffff; }
  .button--inv:active span {
    color: #5f11e8; }
  .button--nav span {
    padding: 0;
    line-height: 0;
    position: relative;
    z-index: 2; }
  .button--nav svg {
    margin: 0;
    width: 3em;
    height: 3em; }
  .button--nav line {
    fill: none;
    stroke: #5F11E8;
    stroke-width: 4;
    stroke-miterlimit: 10; }
  .button--nav line {
    transition: -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.3, 0.8);
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.3, 0.8); }
  .button--nav line:nth-child(1), .button--nav line:nth-child(3) {
    -webkit-transform-origin: top left;
            transform-origin: top left; }
  .button--nav line:nth-child(2) {
    -webkit-transform-origin: center left;
            transform-origin: center left; }
  .button--nav.menu-open line:nth-child(1) {
    -webkit-transform: rotate(45deg) translate3D(0.3em, -0.3em, 0);
            transform: rotate(45deg) translate3D(0.3em, -0.3em, 0); }
  .button--nav.menu-open line:nth-child(2) {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
  .button--nav.menu-open line:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate3D(0.3em, 0.3em, 0);
            transform: rotate(-45deg) translate3D(0.3em, 0.3em, 0); }

.link {
  font-size: 0.8em;
  font-family: "Moderat", sans-serif;
  color: #5f11e8;
  position: relative;
  padding: 15px; }
  .link:before {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 30px;
    right: 30px;
    height: 4px;
    background-color: #5f11e8;
    transition: -webkit-transform 0.4s cubic-bezier(0.2, 1, 0.3, 0.8);
    transition: transform 0.4s cubic-bezier(0.2, 1, 0.3, 0.8);
    -webkit-transform: translateX(-1em) scaleX(0);
            transform: translateX(-1em) scaleX(0);
    -webkit-transform-origin: top left;
            transform-origin: top left; }
  .link:hover {
    color: #5f11e8; }
    .link:hover:before {
      -webkit-transform: translateX(0) scaleX(1);
              transform: translateX(0) scaleX(1); }
    .link:hover:after {
      -webkit-transform: translateX(0.5em);
              transform: translateX(0.5em); }
  .link--next:after {
    content: "";
    display: inline-block;
    margin-left: 7.5px;
    width: 1em;
    height: 0.5em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE2IDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE2IDMuNTI4YzAgLjA4Ny0uMDMuMTYtLjA5My4yMjJsLTMuNTU1IDMuMjc4Yy0uMS4wODctLjIwNy4xMDUtLjMyNC4wNTYtLjExOC0uMDU2LS4xNzYtLjE0NS0uMTc2LS4yN1Y0Ljc0MkguMjk2Qy4yMSA0Ljc0LjE0IDQuNzE0LjA4MyA0LjY2LjAyOCA0LjYwMiAwIDQuNTMgMCA0LjQ0NVYyLjY2N2MwLS4wODYuMDI4LS4xNTcuMDgzLS4yMTNDLjE0IDIuNC4yMSAyLjM3LjI5NiAyLjM3aDExLjU1NlYuMjk4YzAtLjEzLjA1OC0uMjIuMTc2LS4yNy4xMTctLjA0OC4yMjUtLjAzMy4zMjQuMDQ4bDMuNTU1IDMuMjRjLjA2Mi4wNjIuMDkzLjEzMy4wOTMuMjEzeiIgZmlsbD0iIzVGMTBFOCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+");
    transition: -webkit-transform 0.4s cubic-bezier(0.2, 1, 0.3, 0.8);
    transition: transform 0.4s cubic-bezier(0.2, 1, 0.3, 0.8); }
  .link--invert {
    color: #ffffff; }
    .link--invert:before {
      background-color: #ffffff; }
    .link--invert.link--next:after {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE2IDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE2IDMuNTI4YzAgLjA4Ny0uMDMuMTYtLjA5My4yMjJsLTMuNTU1IDMuMjc4Yy0uMS4wODctLjIwNy4xMDUtLjMyNC4wNTYtLjExOC0uMDU2LS4xNzYtLjE0NS0uMTc2LS4yN1Y0Ljc0MkguMjk2Qy4yMSA0Ljc0LjE0IDQuNzE0LjA4MyA0LjY2LjAyOCA0LjYwMiAwIDQuNTMgMCA0LjQ0NVYyLjY2N2MwLS4wODYuMDI4LS4xNTcuMDgzLS4yMTNDLjE0IDIuNC4yMSAyLjM3LjI5NiAyLjM3aDExLjU1NlYuMjk4YzAtLjEzLjA1OC0uMjIuMTc2LS4yNy4xMTctLjA0OC4yMjUtLjAzMy4zMjQuMDQ4bDMuNTU1IDMuMjRjLjA2Mi4wNjIuMDkzLjEzMy4wOTMuMjEzeiIgZmlsbD0iI2ZmZmZmZiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+"); }
    .link--invert:hover {
      color: #ffffff; }

.metabutton {
  font-family: "Moderat", sans-serif;
  letter-spacing: 0.15em;
  border: 2px solid #ccc;
  color: #ccc;
  display: inline-block;
  padding: 15px 22.5px;
  font-size: 0.8em;
  font-weight: 300;
  transition: color 0.2s, border 0.2s; }
  .metabutton:hover {
    border: 2px solid #5f11e8; }
    .metabutton:hover span:after {
      -webkit-transform: scaleX(1);
              transform: scaleX(1); }
  .metabutton span {
    position: relative;
    z-index: 1; }
    .metabutton span:after {
      content: "";
      position: absolute;
      bottom: -0.1em;
      left: 0;
      right: 0;
      border-bottom: 2px solid #5f11e8;
      z-index: -1;
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      transition: -webkit-transform 0.7s cubic-bezier(0.2, 1, 0.3, 0.8);
      transition: transform 0.7s cubic-bezier(0.2, 1, 0.3, 0.8); }

.button + .link {
  margin-top: 15px; }

* + .button {
  margin-top: 30px; }

.column {
  padding: 10px 15px; }
  @media screen and (min-width: 50em) {
    .column {
      padding: 10px 30px; } }
  .column__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 30px 0; }
    @media screen and (min-width: 50em) {
      .column__wrapper {
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
  .column--vertical {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .column--2-4-4 {
    -ms-flex: 1 0 50%;
        flex: 1 0 50%;
    max-width: 100%; }
    @media screen and (min-width: 50em) {
      .column--2-4-4 {
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
        max-width: 25%; } }

/**
 * Curious section
 */
.hero__subheader {
  display: block;
  font-size: 0.3em;
  font-family: "Fira Mono", monospace;
  font-weight: normal;
  font-style: normal; }

.hero {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  background: #5f11e8;
  height: auto;
  min-height: 100vh; }
  @media (max-device-aspect-ratio: 3 / 4) {
    .hero {
      min-height: 84.31vw; } }
  @media (max-device-aspect-ratio: 2 / 3) {
    .hero {
      min-height: 96vw; } }
  @media (max-device-aspect-ratio: 10 / 16) {
    .hero {
      min-height: 103vw; } }
  @media (max-device-aspect-ratio: 9 / 16) {
    .hero {
      min-height: 115.46vw; } }
  @media screen and (min-width: 50em) {
    .hero {
      min-height: 100vh; } }
  .hero__header {
    position: relative;
    z-index: 1;
    -ms-flex: 1 1 0%;
        flex: 1 1 0%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    text-align: center;
    padding: 60px 0 30px;
    color: #f8f8f8; }
    .hero__header a {
      color: #f8f8f8; }
  .hero .header {
    margin-top: 2em; }
    @media screen and (min-width: 50em) {
      .hero .header {
        margin-top: 0; } }
  .hero--cc {
    background: #ffde7f; }
    .hero--cc .hero__header {
      color: #0a2a4f; }
  .hero > .button {
    margin-top: 3em; }

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.ingress {
  text-align: center;
  background: #ffffff;
  margin-left: 30px;
  margin-right: 30px;
  padding: 60px 0; }
  @media screen and (min-width: 50em) {
    .ingress {
      padding: calc(30px + 8vw) 60px; } }

.ingress--owd-bob p {
  max-width: calc( 34em + 60px); }

.metabox {
  position: relative;
  z-index: 10;
  -webkit-transform: translate3D(0, 4em, 0);
          transform: translate3D(0, 4em, 0);
  max-width: 60em;
  margin: 0 30px;
  width: calc(100% - 60px);
  background: #ffffff;
  -webkit-animation: moveBack 0.7s forwards cubic-bezier(0.3, 0, 0.1, 1);
          animation: moveBack 0.7s forwards cubic-bezier(0.3, 0, 0.1, 1);
  padding-bottom: 0; }
  @media screen and (min-width: 50em) {
    .metabox {
      -webkit-transform: translate3D(0, 4em, 0);
              transform: translate3D(0, 4em, 0); } }

.navigation {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .navigation__video {
    background-color: #5f11e8;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    transition: opacity 0.3s;
    z-index: 2; }
  .navigation__list {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    list-style-type: none;
    margin: 0 0 90px; }
  .navigation__item {
    position: relative; }
  .navigation__link, .navigation__overlay {
    color: #ffffff;
    padding: 15px 30px;
    display: inline-block; }
    @media screen and (min-width: 50em) {
      .navigation__link, .navigation__overlay {
        padding: 15px 60px; } }
    .navigation__link:visited, .navigation__link:hover, .navigation__overlay:visited, .navigation__overlay:hover {
      color: #ffffff; }
    .navigation__link:hover ~ .wave-svg, .navigation__overlay:hover ~ .wave-svg {
      stroke-dashoffset: 37; }
  .navigation__overlay {
    position: absolute;
    top: 0;
    z-index: 1;
    pointer-events: none; }
  .navigation .menu-work ~ .navigation__overlay {
    left: 1.552em; }
  .navigation .menu-about ~ .navigation__overlay {
    left: 1.344em; }
  .navigation .menu-curiosities ~ .navigation__overlay {
    left: 0.725em; }
  .navigation .menu-contact ~ .navigation__overlay {
    left: 1.35em; }
  .navigation .wave-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    stroke: #ffc1b4;
    stroke-width: 7px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 329, 340;
    stroke-dashoffset: 329;
    transition: stroke-dashoffset 0.8s cubic-bezier(0.16, 0, 0.1, 0.99);
    pointer-events: none; }
  .navigation .menu-work ~ .wave-svg {
    stroke: #7d3bf1; }
  .navigation .menu-work:hover ~ .wave-svg {
    stroke-dashoffset: 182; }
  .navigation .menu-about ~ .wave-svg {
    stroke: #7bd75e; }
  .navigation .menu-about:hover ~ .wave-svg {
    stroke-dashoffset: 148; }
  .navigation .menu-curiosities ~ .wave-svg {
    stroke: #ffde7f; }
  .navigation .menu-contact:hover ~ .wave-svg {
    stroke-dashoffset: 108; }
  .navigation.menu-open {
    z-index: 15; }

#startmenu {
  z-index: 10; }
  #startmenu .navigation__item {
    opacity: 0;
    -webkit-animation: slidedown 0.6s 0s forwards cubic-bezier(0.16, 0, 0.28, 0.99);
            animation: slidedown 0.6s 0s forwards cubic-bezier(0.16, 0, 0.28, 0.99); }
    #startmenu .navigation__item:nth-child(1) {
      -webkit-animation-delay: 0.06667s;
              animation-delay: 0.06667s; }
    #startmenu .navigation__item:nth-child(2) {
      -webkit-animation-delay: 0.13333s;
              animation-delay: 0.13333s; }
    #startmenu .navigation__item:nth-child(3) {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    #startmenu .navigation__item:nth-child(4) {
      -webkit-animation-delay: 0.26667s;
              animation-delay: 0.26667s; }
    #startmenu .navigation__item:nth-child(5) {
      -webkit-animation-delay: 0.33333s;
              animation-delay: 0.33333s; }

#menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  pointer-events: none; }
  #menu .navigation__item, #menu .navigation__video {
    opacity: 0; }
  #menu .navigation__item {
    -webkit-transform: translate3D(0, -2em, 0);
            transform: translate3D(0, -2em, 0);
    transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s; }
  #menu .navigation__bg {
    width: 100%;
    height: 100%;
    background-color: #5f11e8;
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
    -webkit-transform-origin: calc(0% + 30px) calc(0% + 30px);
            transform-origin: calc(0% + 30px) calc(0% + 30px);
    transition: -webkit-transform 0.45s cubic-bezier(0.16, 0, 0.28, 0.99), opacity 0.33s 0.27s;
    transition: transform 0.45s cubic-bezier(0.16, 0, 0.28, 0.99), opacity 0.33s 0.27s;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transform: scale(0.05, 0.01) translate3d(30px, 30px, 0);
            transform: scale(0.05, 0.01) translate3d(30px, 30px, 0);
    opacity: 0; }
    @media (orientation: landscape) {
      #menu .navigation__bg {
        -webkit-transform: scale(0.01, 0.05) translate3d(30px, 30px, 0);
                transform: scale(0.01, 0.05) translate3d(30px, 30px, 0); } }
  #menu.menu-open {
    pointer-events: auto;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    #menu.menu-open .navigation__bg {
      -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
              transform: scale(1, 1) translate3d(0, 0, 0);
      opacity: 1;
      transition: -webkit-transform 0.3s cubic-bezier(0.16, 0, 0.28, 0.99), opacity 0.1s 0s;
      transition: transform 0.3s cubic-bezier(0.16, 0, 0.28, 0.99), opacity 0.1s 0s; }
    #menu.menu-open .navigation__item, #menu.menu-open .navigation__video {
      opacity: 0; }
    #menu.menu-open .navigation__item {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      transition: -webkit-transform 0.3s, opacity 0.15s;
      transition: transform 0.3s, opacity 0.15s; }
    #menu.menu-open .navigation__item:nth-child(1) {
      transition-delay: 0.05s; }
    #menu.menu-open .navigation__item:nth-child(2) {
      transition-delay: 0.1s; }
    #menu.menu-open .navigation__item:nth-child(3) {
      transition-delay: 0.15s; }
    #menu.menu-open .navigation__item:nth-child(4) {
      transition-delay: 0.2s; }
    #menu.menu-open .navigation__item:nth-child(5) {
      transition-delay: 0.25s; }
    #menu.menu-open .navigation__video {
      opacity: 1;
      transition: opacity 0.45s 0.3s; }

@-webkit-keyframes openmenu {
  0% {
    -webkit-transform: scale(0.03, 0.04) translate3d(30px, 30px, 0);
            transform: scale(0.03, 0.04) translate3d(30px, 30px, 0);
    width: 100%;
    height: 100%; }
  100% {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
            transform: scale(1) translate3d(0, 0, 0);
    width: 100%;
    height: 100%; } }

@keyframes openmenu {
  0% {
    -webkit-transform: scale(0.03, 0.04) translate3d(30px, 30px, 0);
            transform: scale(0.03, 0.04) translate3d(30px, 30px, 0);
    width: 100%;
    height: 100%; }
  100% {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
            transform: scale(1) translate3d(0, 0, 0);
    width: 100%;
    height: 100%; } }

@-webkit-keyframes closemenu {
  0% {
    -webkit-transform: scale(100) translate3D(-30px, -30px, 0);
            transform: scale(100) translate3D(-30px, -30px, 0);
    opacity: 1; }
  99% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes closemenu {
  0% {
    -webkit-transform: scale(100) translate3D(-30px, -30px, 0);
            transform: scale(100) translate3D(-30px, -30px, 0);
    opacity: 1; }
  99% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes slidedown {
  0% {
    opacity: 0;
    -webkit-transform: translate3D(0, -20px, 0);
            transform: translate3D(0, -20px, 0); }
  70% {
    opacity: 1; }
  100% {
    opacity: 1;
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0); } }

@keyframes slidedown {
  0% {
    opacity: 0;
    -webkit-transform: translate3D(0, -20px, 0);
            transform: translate3D(0, -20px, 0); }
  70% {
    opacity: 1; }
  100% {
    opacity: 1;
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0); } }

#case2__image {
  height: 90%;
  width: auto;
  mix-blend-mode: multiply; }

/**
 * Colors
 */
.c-signal {
  color: #5f11e8; }

.c-signal-bg {
  background-color: #5f11e8;
  color: #ffffff; }

.c-people {
  color: #ffc1b4; }

.c-people-bg {
  background-color: #ffc1b4; }

.c-business {
  color: #7bd75e; }

.c-business-bg {
  background-color: #7bd75e; }

.c-curiosities {
  color: #ffde7f; }

.c-curiosities-bg {
  background-color: #ffde7f; }

.c-metal {
  color: #666666; }

.c-metal-bg {
  background-color: #666666;
  color: #ffffff; }

.c-light {
  color: #f8f8f8; }

.c-light-bg {
  background-color: #f8f8f8; }

.c-white {
  color: #ffffff; }

.c-white-bg {
  background-color: #ffffff; }

.c-dark {
  color: #0a2a4f; }

.c-dark-bg {
  background-color: #0a2a4f;
  color: #ffffff; }

.sectionspacing {
  margin-top: 90px;
  margin-bottom: 90px; }
  @media screen and (min-width: 50em) {
    .sectionspacing {
      margin-top: 180px;
      margin-bottom: 180px; } }

.center {
  text-align: center; }

.flexcenter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center; }

.background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .background-image--padding {
    padding: 30px 0; }
    @media screen and (min-width: 50em) {
      .background-image--padding {
        padding: 60px 0; } }

.invert {
  color: #ffffff; }
