<footer class="column__wrapper footer">

    <div class="column">
        <p><strong id="easter" style="cursor: pointer">Fully Studios</strong></p>
        <p><strong>Gothenburg office</strong><br>{{site.adress-gbg}}<br>
        <a href="https://www.google.se/maps/place/Fully+Studios/@57.7033354,11.9634248,17z/data=!3m1!4b1!4m5!3m4!1s0x464ff365f9958667:0xc960c81a24202e95!8m2!3d57.7033354!4d11.9656134">Navigate here</a>
        </p>
        <p><strong>Stockholm office</strong><br>{{site.adress-sthlm}}<br>
        <a href="https://www.google.se/maps/dir//Garage+56,+Br%C3%A4nnkyrkagatan+56,+118+22+Stockholm/@59.3189794,18.0554575,17z/data=!4m15!1m6!3m5!1s0x465f77e65865f8f7:0x8077f479d47ed65d!2sGarage+56!8m2!3d59.3189794!4d18.0576462!4m7!1m0!1m5!1m1!1s0x465f77e65865f8f7:0x8077f479d47ed65d!2m2!1d18.0576462!2d59.3189794">Navigate here</a>
        </p>
    </div>
 
    <div class="column">
        <p><strong>Contact us</strong></p>
        <p>
            <a href="tel:{{site.tel}}">{{site.tel}}</a><br>
            <a href="mailto:{{site.email}}">{{site.email}}</a>
        </p>
    </div>

    <div class="column">
        <p><strong>Follow us</strong></p>
        <p>
            <a href="{{site.facebook}}">Facebook</a><br>
            <a href="{{site.instagram}}">Instagram</a><br>
            <a href="{{site.vimeo}}">Vimeo</a><br>
            <a href="{{site.github}}">Github</a><br>
        </p>
    </div>

    <div class="column column--alignend">
        <p><a href="{{ site.baseurl }}/" class="custom-button"><img src="{{ "/assets/fully-studios-logo.svg" | prepend: site.baseurl }}" alt="Fully Studios" /></a></p>
    </div>

</footer>

    
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
    WebFont.load({
    google: {
        families: ['Fira Mono:400,700']
    }
    });
</script>

{% assign random = site.time | date: "%s%N" %}
{% capture boundle_src %}/assets/bundles/app.js?v={{ random }}{% endcapture %}

<script src="{{ boundle_src | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}"></script>

{% comment %} JIRA issue collector - hide on live site :) {% endcomment %}
{% comment %} <style>.atlwdg-trigger.atlwdg-SUBTLE {z-index: 1000; box-shadow: none; border: 2px solid #5f11e8; bottom: 5px; right: 5px; color: #5f11e8 }</style>
<script type="text/javascript" src="https://fullyworked.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/8bfls2/b/c/7ebd7d8b8f8cafb14c7b0966803e5701/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=277d6121"></script> {% endcomment %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-2473991-4', 'auto');
  ga('send', 'pageview');
</script>