<header class="site-header">
    <a href="#" class="button button--nav" id="openmenu">
    <span><svg xmlns="https://www.w3.org/2000/svg" x="0px" y="0px" width="60" height="60" viewBox="0 0 100 100">
        <line x1="27.6" y1="35.3" x2="72.4" y2="35.3"/>
        <line x1="27.6" y1="50.6" x2="72.4" y2="50.6"/>
        <line x1="27.6" y1="66" x2="72.4" y2="66"/>
    </svg></span>
    </a>
    <a class="site-header__logo" href="{{ site.baseurl }}/">
        <div class="site-header__logoanim" id="logo_anim"></div>
    </a>
</header>

<nav class="navigation" id="menu">
    <div class="navigation__bg"></div>
    {% include menu.html %}
</nav>