<header class="site-header">
    <a href="#" class="button button--nav" id="openmenu">
        <span>
            <div class="button--nav__line"></div>
            <div class="button--nav__line"></div>
            <div class="button--nav__line"></div>
        </span>
    </a>
    <a class="site-header__logo" href="{{ site.baseurl }}/">
        <div class="site-header__logoanim" id="logo_anim"></div>
    </a>
</header>

<nav class="navigation" id="menu">
    <div class="navigation__bg"></div>
    {% include menu.html %}
</nav>
