<section class="boxtext c-light-bg background-image" style="background-image: url()">
    <h3 class="center">Some of our friends</h2>
    <div class="column__wrapper logowall">
        <div class="column column--2-4-4">
            <img src="{{site.baseurl}}/assets/logowall/ica_logo.svg" alt="ICA">            
        </div>
        <div class="column column--2-4-4">
            <img class="kappahl-logo" src="{{site.baseurl}}/assets/logowall/kappahl_logo.svg" alt="Kappahl">
        </div>
        <div class="column column--2-4-4">
            <img src="{{site.baseurl}}/assets/logowall/collector_logo.svg" alt="Collector">
        </div>
        <div class="column column--2-4-4">
            <img src="{{site.baseurl}}/assets/logowall/ddb_logo.svg" alt="DDB">
        </div>

        <div class="column column--2-4-4">
            <img src="{{site.baseurl}}/assets/logowall/change_logo.svg" alt="Change the Agency">
        </div>
        <div class="column column--2-4-4">
            <style>.qgroup-logo-svg { width: 47%; height: 100% }</style>
            <img class="qgroup-logo-svg" src="{{site.baseurl}}/assets/logowall/qgroup_logo.svg" alt="Qgroup">
        </div>
        <div class="column column--2-4-4">
            <img src="{{site.baseurl}}/assets/logowall/mr_bear_logo.png" alt="Mr. Bear Family">
        </div>
        <div class="column column--2-4-4">
            <img src="{{site.baseurl}}/assets/logowall/stenaline_logo.svg" alt="StenaLine">
        </div>
    </div>
</section>