<section class="section c-metal-bg center slider-wide">
    <div class="slider js_slider">
        <div class="slider__frame js_frame">
            <ul class="slider__slides js_slides">
                {% unless page.slider == nil %}
                    {% for slide in page.slider %}
                        <li class="slider__slide js_slide">
                            <img class="image"
                            alt="Image of project {{page.title}}"
                            src="{{ site.baseurl }}/assets/{{ page.type }}/{{ page.slug }}/{{ slide.image }}">
                        </li>
                    {% endfor %}
                {% endunless %}
            </ul>
        </div>
        <span class="js_prev prev">
            <svg xmlns="https://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"></path></g></svg>
        </span>
        <span class="js_next next">
            <svg xmlns="https://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"></path></g></svg>
        </span>
        <ul class="js_dots dots"></ul>
    </div>
</section>