---
layout: curious
---

<!-- 
###################################
## Get all content (sections) from
## the current curious-about post
-->

{% unless page.section1 == nil %}
<div class="section section--1 sectionspacing-small">
    {{ page.section1 | markdownify }}
</div>
{% endunless %}


{% unless page.section2 == nil %}
<div class="section section--2 sectionspacing-small">
    <div class="box box--curiosities sectionspacing-small">
        {{ page.section2 | markdownify }}
    </div>
    <h3 class="center">{{ page.section2-prog_header }}</h3>
    <div class="imagegrid imagegrid--padding center">
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-signal" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section2-prog_martina }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section2-prog_martina }}%</tspan></text>
            </svg>
            <p>Martina</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-business" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section2-prog_mikael }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section2-prog_mikael }}%</tspan></text>
            </svg>
            <p>Mikael</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-people" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section2-prog_jonathan }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section2-prog_jonathan }}%</tspan></text>
            </svg>
            <p>Jonathan</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-curiosities" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section2-prog_jonas }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section2-prog_jonas }}%</tspan></text>
            </svg>
            <p>Jonas</p>
        </div>
    </div>

    <h3 class="center">{{ page.section2-goal_header }}</h3>
    <div class="imagegrid imagegrid--padding center">
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-signal" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section2-goal_martina }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section2-goal_martina }}%</tspan></text>
            </svg>
            <p>Martina</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-business" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section2-goal_mikael }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section2-goal_mikael }}%</tspan></text>
            </svg>
            <p>Mikael</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-people" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section2-goal_jonathan }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section2-goal_jonathan }}%</tspan></text>
            </svg>
            <p>Jonathan</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-curiosities" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section2-goal_jonas }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section2-goal_jonas }}%</tspan></text>
            </svg>
            <p>Jonas</p>
        </div>
    </div>
    
</div>
{% endunless %}


{% unless page.section3 == nil %}
<div class="section section--3 sectionspacing-small">
    <div class="box box--right box--business sectionspacing-small">
        {{ page.section3 | markdownify }}
    </div>
    <h3 class="center">{{ page.section3-prog_header }}</h3>
    <div class="imagegrid imagegrid--padding center">
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-signal" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section3-prog_martina }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section3-prog_martina }}%</tspan></text>
            </svg>
            <p>Martina</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-business" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section3-prog_mikael }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section3-prog_mikael }}%</tspan></text>
            </svg>
            <p>Mikael</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-people" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section3-prog_jonathan }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section3-prog_jonathan }}%</tspan></text>
            </svg>
            <p>Jonathan</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-curiosities" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section3-prog_jonas }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section3-prog_jonas }}%</tspan></text>
            </svg>
            <p>Jonas</p>
        </div>
    </div>

    <h3 class="center">{{ page.section3-goal_header }}</h3>
    <div class="imagegrid imagegrid--padding center">
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-signal" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section3-goal_martina }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section3-goal_martina }}%</tspan></text>
            </svg>
            <p>Martina</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-business" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section3-goal_mikael }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section3-goal_mikael }}%</tspan></text>
            </svg>
            <p>Mikael</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-people" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section3-goal_jonathan }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section3-goal_jonathan }}%</tspan></text>
            </svg>
            <p>Jonathan</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-curiosities" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section3-goal_jonas }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section3-goal_jonas }}%</tspan></text>
            </svg>
            <p>Jonas</p>
        </div>
    </div>

</div>
{% endunless %}


{% unless page.section4 == nil %}
<div class="section section--4 sectionspacing-small">
    <div class="box box--people sectionspacing-small">
        {{ page.section4 | markdownify }}
    </div>
    <h3 class="center">{{ page.section4-prog_header }}</h3>
    <div class="imagegrid imagegrid--padding center">
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-signal" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section4-prog_martina }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section4-prog_martina }}%</tspan></text>
            </svg>
            <p>Martina</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-business" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section4-prog_mikael }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section4-prog_mikael }}%</tspan></text>
            </svg>
            <p>Mikael</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-people" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section4-prog_jonathan }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section4-prog_jonathan }}%</tspan></text>
            </svg>
            <p>Jonathan</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-curiosities" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section4-prog_jonas }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section4-prog_jonas }}%</tspan></text>
            </svg>
            <p>Jonas</p>
        </div>
    </div>

    <h3 class="center">{{ page.section4-goal_header }}</h3>
    <div class="imagegrid imagegrid--padding center">
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-signal" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section4-goal_martina }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section4-goal_martina }}%</tspan></text>
            </svg>
            <p>Martina</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-business" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section4-goal_mikael }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section4-goal_mikael }}%</tspan></text>
            </svg>
            <p>Mikael</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-people" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section4-goal_jonathan }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section4-goal_jonathan }}%</tspan></text>
            </svg>
            <p>Jonathan</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-curiosities" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section4-goal_jonas }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section4-goal_jonas }}%</tspan></text>
            </svg>
            <p>Jonas</p>
        </div>
    </div>

</div>
{% endunless %}


{% unless page.section5 == nil %}
<div class="section section--5 sectionspacing-small">
    <div class="box box--right box--business sectionspacing-small">
        {{ page.section5 | markdownify }}
    </div>
    <h3 class="center">{{ page.section5-prog_header }}</h3>
    <div class="imagegrid imagegrid--padding center">
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-signal" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section5-prog_martina }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section5-prog_martina }}%</tspan></text>
            </svg>
            <p>Martina</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-business" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section5-prog_mikael }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section5-prog_mikael }}%</tspan></text>
            </svg>
            <p>Mikael</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-people" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section5-prog_jonathan }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section5-prog_jonathan }}%</tspan></text>
            </svg>
            <p>Jonathan</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-curiosities" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section5-prog_jonas }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section5-prog_jonas }}%</tspan></text>
            </svg>
            <p>Jonas</p>
        </div>
    </div>

    <h3 class="center">{{ page.section5-goal_header }}</h3>
    <div class="imagegrid imagegrid--padding center">
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-signal" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section5-goal_martina }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section5-goal_martina }}%</tspan></text>
            </svg>
            <p>Martina</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-business" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section5-goal_mikael }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section5-goal_mikael }}%</tspan></text>
            </svg>
            <p>Mikael</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-people" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section5-goal_jonathan }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section5-goal_jonathan }}%</tspan></text>
            </svg>
            <p>Jonathan</p>
        </div>
        <div class="imagegrid__image imagegrid__image--four imagegrid__image--twomobile statbox" data-scroll>
            <svg class="stat-circle c-curiosities" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 38 38">
                <path class="stat-circle__bg" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <path class="stat-circle__line" stroke-dashoffset="{{ 100 | minus: page.section5-goal_jonas }}" d="M19,3.1c8.8,0,15.9,7.1,15.9,15.9S27.8,34.9,19,34.9S3.1,27.8,3.1,19S10.2,3.1,19,3.1"/>
                <text transform="matrix(1 0 0 1 19 21)" text-anchor="middle"><tspan x="0" y="0" class="stat-circle__number">{{ page.section5-goal_jonas }}%</tspan></text>
            </svg>
            <p>Jonas</p>
        </div>
    </div>

</div>
{% endunless %}


{% unless page.section6 == nil %}
<div class="section section--6 sectionspacing-small">
    {{ page.section6 | markdownify }}
    <h3 class="center">{{ page.sectioheader }}</h3>
</div>
{% endunless %}


<script type="text/javascript">
    {% include {{ root | append: 'js/curious/opinionated-ecommerce.js' }} %}
</script>