---
layout: default
---

{% include menu.html %}

{% include cc.html %}

{% include case-highlight.html %}

{% include about-us.html %}

<section class="boxtext c-light-bg">
    <h3 class="center">Some of our friends</h2>
    <p class="center">[ grid with logos ]</p>
</section>

<section class="box box--people box--right box--center c-people center">
    <h2>Smell that?</h2>
    <p class="h4">Yeah, that’s the sweet smell of coffee (or tea). Swing by some time and have some.</p>
    <a href="mailto:{{ site.email }}" class="button"><span>Sign me up for fika!</span></a>
</section>

<br><br>


<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->