---
layout: default
---

<section class="curious-current">
    <ul class="curious-list">
        <!-- Get all curious-about posts and revers them -->
        {% assign items = site.curious-about | sort: 'date' | reverse %}
        <!-- Get only the latest post -->
        {% for curious in items limit:1 %}
        <li class="curious-list__item">
            <!-- <span class="curious-meta">{{ curious.date | date: "%b %-d, %Y" }}</span> -->

            <h1 class="header">
                <span class="curious__subheader">Current curiosity:</span> 
                {{ curious.title }}
            </h1>
            <a class="button button--inv" href="{{ curious.url | prepend: site.baseurl }}"><span>Explore</span></a>
            <div class="pagination">
                <div class="pagination__counter">1<span>/3</span></div>
                <a class="pagination__arrow pagination__next" href="#">→</a>
                <a class="pagination__arrow pagination__previous disabled" href="#">←</a>
            </div>



        </li>
        {% endfor %}
    </ul>
</section>

<div class="cases">

    <ul class="case-list">
        {% for case in site.case %}
        <li class="case-list__item">
            <!-- <span class="case-meta">{{ case.date | date: "%b %-d, %Y" }}</span> -->
            <h2 class="case-list__header">
                {{ case.start }}
            </h2>
            <a class="button" href="{{ case.url | prepend: site.baseurl }}">
                <span>See case</span>
            </a>
        </li>
        {% endfor %}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
