---
layout: case
---

lol

{% unless page.section1 == nil %}
    <style>
        #{{page.slug}}_bg {
            padding-bottom: 120px;
            background-image: url(../../assets/work/{{page.slug}}/{{page.image1_1440}});
            background-position: 100% 90%;
        }
        @media (min-width: 800px) {
            #{{page.slug}}_bg {
                padding-bottom: 240px;
                background-image: url(../../assets/work/{{page.slug}}/{{page.image1_2880}});
            }
        }
    </style>
    <div class="background-image background-image--contain background-image--largepadding invert" id="{{page.slug}}_bg">
        <p><span style="display: block; max-width: 30em">{{ page.section1 }}</span></p>
    </div>
{% endunless %}

{% unless page.section2 == nil %}
    <div class="box box--right box--people">
        {{ page.section2 | markdownify }}
    </div>
{% endunless %}

{% unless page.section3 == nil %}
    <div class="sectionspacing">
        <h2 class="center invert">{{page.section3-headline}}</h2>
        <div class="grid grid--space grid--padding invert">
            <div class="grid__column1-2">
                {{ page.section3 | markdownify }}
            </div>
            <div class="grid__column2-2 flexcenter">
                <img class="image"
                    alt="{{section3_image_alt}}"
                    width="1440" height="1653"
                    src="{{site.baseurl}}/assets/work/{{page.slug}}/{{ page.section3_image_small }}" 
                    srcset="{{site.baseurl}}/assets/work/{{page.slug}}/{{ page.section3_image_medium }} 1440w,
                            {{site.baseurl}}/assets/work/{{page.slug}}/{{ page.section3_image_small }} 720w"
                    sizes="100vw">
            </div>
        </div>
    </div>
{% endunless %}




{% unless page.section4 == nil %}
    <div class="sectionspacing invert">
        {{ page.section4 | markdownify }}
    </div>
{% endunless %}

{% unless page.section5 == nil %}
    <div class="sectionspacing invert">
        {{ page.section5 | markdownify }}
    </div>
{% endunless %}

{% unless page.section6 == nil %}
    <div class="box box--business box--center">
        {{ page.section6 | markdownify }}
    </div>
{% endunless %}

{% unless page.section7 == nil %}
    <div class="sectionspacing invert">
        {{ page.section7 | markdownify }}
        <p>
            <a class="metabutton" href="mailto:{{page.author-email}}">
                Author: <span>{{page.author}}</span>
            </a>
        </p>
    </div>
{% endunless %}