---
layout: case
---

{% unless page.section2 == nil %}
    <section class="sectionspacing">
        <div class="boxtext boxtext--frame boxtext--frame--curiosities center">
            <div class="h4">
                {{ page.section2 | markdownify }}
            </div>
        </div>
    </section>
{% endunless %}

{% unless page.section3 == nil %}
    <section class="sectionspacing">
        {{ page.section3 | markdownify }}
    </section>
{% endunless %}

<section class="grid">
    {% unless page.image2_2880 == nil %}
        <div class="grid__fullwidth">
            <img class="image"
                alt="{{image2_alt}}"
                width="1440" height="643"
                src="{{site.baseurl}}/assets/{{ page.image2_1440 }}" 
                srcset="{{site.baseurl}}/assets/{{ page.image2_2880 }} 2880w,
                        {{site.baseurl}}/assets/{{ page.image2_1440 }} 1440w"
                sizes="100vw">
        </div>
    {% endunless %}

    {% unless page.section4 == nil %}
        <div class="grid__boxunder boxtext">
            {{ page.section4 | markdownify }}
        </section>
    {% endunless %}

</div>

{% unless page.section5 == nil %}
    <section class="grid grid--space">
        <div class="grid__offsetcolumn2-2 box box--right">
            {{ page.section5 | markdownify }}
        </div>
        <div class="grid__offsetcolumn1-2 c-white-bg">
            <img class="image"
                alt="{{image3_alt}}"
                width="1440" height="643"
                src="{{site.baseurl}}/assets/{{ page.image3_1440 }}" 
                srcset="{{site.baseurl}}/assets/{{ page.image3_2880 }} 2880w,
                        {{site.baseurl}}/assets/{{ page.image3_1440 }} 1440w"
                sizes="100vw">
        </div>
    </section>
{% endunless %}

<section class="sectionspacing">
    {% unless page.section6 == nil %}
            {{ page.section6 | markdownify }}
    {% endunless %}

    <div class="imageline">
        <div class="imageline__image">
            <img class="image" alt="{{image4_alt}}"
                width="1440" height="960"
                src="{{site.baseurl}}/assets/{{ page.image4_1440 }}" 
                srcset="{{site.baseurl}}/assets/{{ page.image4_2880 }} 2880w,
                        {{site.baseurl}}/assets/{{ page.image4_1440 }} 1440w"
                sizes="100vw">
            </div>
        <div class="imageline__image">
            <img width="1440" height="960" alt="{{image5_alt}}" src="{{site.baseurl}}/assets/{{ page.image5 }}">
        </div>
    </div>
</section>


{% unless page.section7 == nil %}
    <section class="sectionspacing">
        <div class="box">
            {{ page.section7 | markdownify }}
        </div>
        <div class="video">
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/oVzgmvZ8DdY?rel=0&amp;showinfo=0" frameborder="0" 
        allowfullscreen></iframe>
        </div>
    </section>
{% endunless %}

{% unless page.section8 == nil %}
    <section class="flexcenter">
        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="4em" viewBox="0 0 100 100"><path fill="#ffde7f" d="M0 0l100 100H0"/></svg>
        <div class="c-curiosities-bg" style="width:100%; padding: 40px 60px 60px">
            {{ page.section8 | markdownify }}
            {{ page.section9 | markdownify }}
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="4em" viewBox="0 0 100 100"><path fill="#ffde7f" d="M100 100V0H0"/></svg>
    </section>
{% endunless %}

<picture>
    <source media="(max-width: 600px)"
            srcset="{{site.baseurl}}/assets/{{ page.image6_mobile_1x }} 375w,
                    {{site.baseurl}}/assets/{{ page.image6_mobile_2x }} 750w"
            sizes="100vw">
    <img
        class="image" alt="{{image6_alt}}"
        width="1440" height="960"
        src="{{site.baseurl}}/assets/{{ page.image6_1440 }}" 
        srcset="{{site.baseurl}}/assets/{{ page.image6_2880 }} 2880w,
                {{site.baseurl}}/assets/{{ page.image6_1440 }} 1440w"
        sizes="100vw">
</picture>

<br>


{% unless page.section10 == nil %}
    <section class="sectionspacing" id="buttons">
    <p>
    <a href="#buttons" class="button"><span>And</span></a>
    <a href="#buttons" class="button"><span>notice</span></a>
    <a href="#buttons" class="button"><span>how the</span></a>
    <a href="#buttons" class="button"><span>corners</span></a>
    <a href="#buttons" class="button"><span>pop when</span></a>
    <a href="#buttons" class="button"><span>you hover</span></a>
    <a href="#buttons" class="button"><span>over</span></a>
    <a href="#buttons" class="button"><span>a button?</span></a>
    </p>
        {{ page.section10 | markdownify }}
    </section>
{% endunless %}


{% unless page.section11 == nil %}
    <section class="sectionspacing">
        {{ page.section11 | markdownify }}
        <p>
            <a class="metabutton" href="mailto:{{page.authoremail}}">
                Author: <span>{{page.author}}</span>
            </a>
        </p>
    </section>
{% endunless %}


{% comment %}{% unless page.section4 == nil %}
<div class="grid grid--space">
    <div class="grid__offsetcolumn2-2 c-business-bg flexcenter" id="lettering2">
        <style>
        #lettering2 svg {
            padding: 6vw;
            max-height: 60vh;
        }
        </style>
    </div>

    <section class="grid__offsetcolumn1-2 grid__offsetcolumn1-2--small box box--business">
        {{ page.section4 | markdownify }}
    </section>
</div>
{% endunless %}{% endcomment %}


{% comment %}{% unless page.image3_2880 == nil %}
    <img class="image"
        alt="{{image3_alt}}"
        width="1440" height="643"
        src="{{site.baseurl}}/assets/{{ page.image3_1440 }}" 
        srcset="{{site.baseurl}}/assets/{{ page.image3_2880 }} 2880w,
                {{site.baseurl}}/assets/{{ page.image3_1440 }} 1440w"
        sizes="100vw">
{% endunless %}{% endcomment %}