---
layout: case
---


{% unless page.section1 == nil %}
    <section class="grid grid--space grid--padding">
        <div class="grid__column1-2">
            {{ page.section1 | markdownify }}
        </div>
        <div class="grid__column2-2">
            <img class="image"
                alt="{{image1_alt}}"
                width="1440" height="1653"
                src="{{site.baseurl}}/assets/{{ page.image1_720 }}" 
                srcset="{{site.baseurl}}/assets/{{ page.image1_1440 }} 1440w,
                        {{site.baseurl}}/assets/{{ page.image1_720 }} 720w"
                sizes="100vw"
                style="max-width: 20em">
        </div>
    </section>
{% endunless %}

{% unless page.section2 == nil %}
    <section class="box box--people box--right">
        {{ page.section2 | markdownify }}
    </section>
{% endunless %}


{% unless page.section3 == nil %}
    <section class="background-image background-image--padding" style="background-position: center right; background-size: contain; background-image: url({{site.baseurl}}/assets/owd-bob/owd-bob-logo-white-lq.png)">
            {{ page.section3 | markdownify }}
    </section>
{% endunless %}


{% unless page.image2_2880 == nil %}

    {% comment %}Good referense for images srcset and sizes: https://jakearchibald.com/2015/anatomy-of-responsive-images/{% endcomment %}
    <img class="image"
        alt="{{image2_alt}}"
        width="1440" height="643"
        src="{{site.baseurl}}/assets/{{ page.image2_1440 }}" 
        srcset="{{site.baseurl}}/assets/{{ page.image2_2880 }} 2880w,
                {{site.baseurl}}/assets/{{ page.image2_1440 }} 1440w"
        sizes="100vw">
    
{% endunless %}


{% unless page.section4 == nil %}
<div class="grid grid--space">
    <div class="grid__offsetcolumn2-2 c-business-bg flexcenter" id="lettering2">
        <style>
        #lettering2 svg {
            padding: 6vw;
            max-height: 60vh;
        }
        </style>
    </div>

    <section class="grid__offsetcolumn1-2 grid__offsetcolumn1-2--small box box--business">
        {{ page.section4 | markdownify }}
    </section>
</div>
{% endunless %}

{% unless page.imageline == nil %}
 <section class="sectionspacing c-dark-bg flexcenter">
     <div class="imageline">
        {% for image in page.imageline %}
            <div class="imageline__image">
                <img class="image"
                    alt="Image of projekt {{page.title}}"
                    src="{{site.baseurl}}/assets/{{ image }}">
            </div>
        {% endfor %}
    </div>
</section> 
{% endunless %}

<section class="slider-wide sectionspacing">
    <div class="slider js_slider">
        <div class="slider__frame js_frame">
            <ul class="slider__slides js_slides">
                    
                <li class="slider__slide js_slide" style="width:{{ page.slider.slide1.width }};">
                    <img class="image"
                        alt="Image of project {{page.title}}"
                        src="{{site.baseurl}}/assets/{{ page.slider.slide1.image }}">
                </li>

                <li class="slider__slide js_slide" style="width:{{ page.slider.slide2.width }};">
                    <img class="image"
                        alt="Image of project {{page.title}}"
                        src="{{site.baseurl}}/assets/{{ page.slider.slide2.image }}">
                </li>

                <li class="slider__slide js_slide" style="width:{{ page.slider.slide3.width }};">
                    <img class="image"
                        alt="Image of project {{page.title}}"
                        src="{{site.baseurl}}/assets/{{ page.slider.slide3.image }}">
                </li>

                <li class="slider__slide js_slide" style="width:{{ page.slider.slide1.width }};">
                    <img class="image"
                        alt="Image of project {{page.title}}"
                        src="{{site.baseurl}}/assets/{{ page.slider.slide1.image }}">
                </li>

                <li class="slider__slide js_slide" style="width:{{ page.slider.slide2.width }};">
                    <img class="image"
                        alt="Image of project {{page.title}}"
                        src="{{site.baseurl}}/assets/{{ page.slider.slide2.image }}">
                </li>

                <li class="slider__slide js_slide" style="width:{{ page.slider.slide3.width }};">
                    <img class="image"
                        alt="Image of project {{page.title}}"
                        src="{{site.baseurl}}/assets/{{ page.slider.slide3.image }}">
                </li>


                <!-- {% unless page.slider == nil %}
                    {% for slide in page.slider %}
                        <li class="slider__slide js_slide" style="width:{{ slide.width }}">
                            <img class="image"
                                alt="Image of project {{page.title}}"
                                src="{{site.baseurl}}/assets/{{ slide.image }}">
                        </li>
                    {% endfor %}
                {% endunless %} -->
            </ul>
        </div>

        <span class="js_prev prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"></path></g></svg>
        </span>

        <span class="js_next next">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"></path></g></svg>
        </span>
        
        <ul class="js_dots dots"></ul>

    </div>
</section>

<!-- <div class="c-metal-bg image">
<br><br>[ Image slider]<br><br><br>
{% comment %}TODO
$('.variable-width').slick({
  dots: true,
  infinite: true,
  speed: 300,
  slidesToShow: 1,
  centerMode: true,
  variableWidth: true
});{% endcomment %}
</div> -->

{% unless page.section5 == nil %}
    <section class="box box--center">
        <div class="h4">
            {{ page.section5 | markdownify }}
        </div>
    </section>
{% endunless %}


{% unless page.section6 == nil %}
    <section class="sectionspacing">
        {{ page.section6 | markdownify }}
        
        <p>
        <a class="metabutton" href="mailto:{{page.author-email}}">
			Author: <span>{{page.author}}</span>
		</a>
        </p>
		
    </section>
{% endunless %}