---
layout: case
---


{% unless page.section1 == nil %}
    <section class="grid grid--space grid--padding">
        <div class="grid__column1-2">
            {{ page.section1 | markdownify }}
        </div>
        <div class="grid__column2-2">
            <img class="image"
                alt="{{image1_alt}}"
                width="1440" height="1653"
                src="{{site.baseurl}}/assets/{{ page.image1_720 }}" 
                srcset="{{site.baseurl}}/assets/{{ page.image1_1440 }} 1440w,
                        {{site.baseurl}}/assets/{{ page.image1_720 }} 720w"
                sizes="100vw"
                style="max-width: 20em">
        </div>
    </section>
{% endunless %}

{% unless page.section2 == nil %}
    <section class="box box--people box--right">
        {{ page.section2 | markdownify }}
    </section>
{% endunless %}


{% unless page.section3 == nil %}
    <section class="background-image background-image--padding" style="background-position: center right; background-size: contain; background-image: url({{site.baseurl}}/assets/owd-bob/owd-bob-logo-white-lq.png)">
            {{ page.section3 | markdownify }}
    </section>
{% endunless %}


{% unless page.image2_2880 == nil %}

    {% comment %}Good referense for images srset and sizes: https://jakearchibald.com/2015/anatomy-of-responsive-images/{% endcomment %}
    <img class="image"
        alt="{{image2_alt}}"
        width="1440" height="643"
        src="{{site.baseurl}}/assets/{{ page.image2_1440 }}" 
        srcset="{{site.baseurl}}/assets/{{ page.image2_2880 }} 2880w,
                {{site.baseurl}}/assets/{{ page.image2_1440 }} 1440w"
        sizes="100vw">
    
{% endunless %}


{% unless page.section4 == nil %}
<div class="grid grid--space">
    <div class="grid__offsetcolumn2-2 c-business-bg flexcenter" id="lettering2">
        <style>
        #lettering2 svg {
            padding: 6vw;
            max-height: 60vh;
        }
        </style>
    </div>

    <section class="grid__offsetcolumn1-2 grid__offsetcolumn1-2--small box box--business">
        {{ page.section4 | markdownify }}
    </section>
</div>
{% endunless %}

{% unless page.image3_2880 == nil %}
    <img class="image"
        alt="{{image3_alt}}"
        width="1440" height="643"
        src="{{site.baseurl}}/assets/{{ page.image3_1440 }}" 
        srcset="{{site.baseurl}}/assets/{{ page.image3_2880 }} 2880w,
                {{site.baseurl}}/assets/{{ page.image3_1440 }} 1440w"
        sizes="100vw">
{% endunless %}

<div class="c-metal-bg image">
<br><br>[ Image slider]<br><br><br>
{% comment %}TODO
$('.variable-width').slick({
  dots: true,
  infinite: true,
  speed: 300,
  slidesToShow: 1,
  centerMode: true,
  variableWidth: true
});{% endcomment %}
</div>

{% unless page.section5 == nil %}
    <section class="box box--center">
        <div class="h4">
            {{ page.section5 | markdownify }}
        </div>
    </section>
{% endunless %}


{% unless page.section6 == nil %}
    <section class="sectionspacing">
        {{ page.section6 | markdownify }}
        
        <p>
        <a class="metabutton" href="mailto:{{page.authoremail}}">
			Author: <span>{{page.author}}</span>
		</a>
        </p>
		
    </section>
{% endunless %}