<!-- 
###############################
## Get code for the background
## set in current post
-->
{% unless case.background == nil %}
    {{ case.background }}
{% endunless %}

<!-- 
####################
## Get scripts from
## current post
-->
{% for js in case.scripts %}
    <script type="text/javascript">
    {% include {{ root | append: js }} %}
    </script>
{% endfor %}            

<h2 class="cases__header">
    {{ case.start }}
</h2>

<a class="button" href="{{ case.url | prepend: site.baseurl }}">
    <span>See case</span>
</a>