<!-- 
####################
## Loop through the latest work
-->
<div class="grid grid--space work-highlight">
    <!-- Get all cc-about posts and revers them -->
    {% assign items = site.work | sort: 'date' | reverse %}
    {% assign root = 'js/' %}
    
    {% for work in items limit:1 %}
        <!-- 
        ###############################
        ## Get code for the background
        ## set in current post
        -->
        {% unless work.background == nil %}
            {{ work.background }}
        {% endunless %}

        <!-- 
        ####################
        ## Get scripts from
        ## current post
        -->
        {% for js in work.scripts %}
            <script type="text/javascript">
            {% include {{ root | append: js }} %}
            </script>
        {% endfor %}     

        <div class="boxtext boxtext--lpc">
            <h2>{{work.title}}</h2>
            <p>{{work.subtitle}}</p>
            <a href="{{ work.url | prepend: site.baseurl }}" class="button"><span>{{work.button-text}}</span></a>
            <a href="{{ site.works | prepend: site.baseurl }}" class="link link--next"><span>View all projects</span></a>
        </div>
    {% endfor %}

</div>