<!-- 
####################
## Loop through the latest 3 cases
## and print them out in thre places
-->
<div class="cases">
    <!-- Get all cc-about posts and revers them -->
    {% assign items = site.case | sort: 'date' | reverse %}
    {% assign root = 'js/' %}
    
    {% for case in items limit:1 %}  
        <div class="l-column-main cases__item cases__item--1" id="case_{{ case.slug }}">    
            {% include case-item.html %}
        </div>
    {% endfor %}


    <div class="l-column-side">
        {% for case in items limit:1 offset:1 %}
            <div class="cases__item cases__item--2" id="case_{{ case.slug }}">
                {% include case-item.html %}
            </div>
        {% endfor %}


        {% for case in items limit:1 offset:2 %}
            <div class="cases__item cases__item--3" id="case_{{ case.slug }}">
                {% include case-item.html %}
            </div>
        {% endfor %}
    </div>
    

</div>