<footer class="site-footer">

    <h1>[ List on all staff and contact info ]</h1>

    <p>{{ site.description }}</p>

    <nav class="site-nav">
        <a class="page-link" href="{{ site.url }}">Home</a>
        {% for the_page in site.pages %}
        {% if the_page.title %}
        <a class="page-link" href="{{ the_page.url | prepend: site.baseurl }}">{{ the_page.title }}</a>
        {% endif %}
        {% endfor %}

    </nav>

</footer>

<script type="text/javascript">
{% include {{ root | append: '/js/TweenMax.min.js' }} %}
{% include {{ root | append: '/js/barba.min.js' }} %}
{% include {{ root | append: 'js/global.js' }} %}
</script>
