<footer class="column__wrapper footer">

    <div class="column">
        <p><strong>Fully Studios</strong></p>
        <p>{{site.adress}}<br>
        <a href="https://www.google.se/maps/dir//Fully+Flared+Digital+Agency,+Victoriapassagen,+S%C3%B6dra+Larmgatan+14,+411+16+G%C3%B6teborg/@57.7032779,11.9651249,19z/data=!4m8!4m7!1m0!1m5!1m1!1s0x464ff365f9958667:0xc960c81a24202e95!2m2!1d11.9656134!2d57.7033354">Navigate here</a>
        </p>
    </div>

    <div class="column">
        <p><strong>Contact us</strong></p>
        <p>
            <a href="tel:{{site.tel}}">{{site.tel}}</a><br>
            <a href="mailto:{{site.email}}">{{site.email}}</a>
        </p>
    </div>

    <div class="column">
        <p><strong>Follow us</strong></p>
        <p>
            <a href="{{site.facebook}}">Facebook</a><br>
            <a href="{{site.instagram}}">Instagram</a><br>
            <a href="{{site.vimeo}}">Vimeo</a><br>
            <a href="{{site.github}}">Github</a><br>
        </p>
    </div>

    <div class="column">
        <p><img src="/assets/fully-studios-logo.svg" alt="Fully Studios" /></p>
    </div>

</footer>

<script type="text/javascript">
{% include {{ root | append: '/js/TweenMax.min.js' }} %}
{% include {{ root | append: '/js/barba.min.js' }} %}
{% include {{ root | append: 'js/lory.min.js' }} %}
{% include {{ root | append: 'js/global.js' }} %}
</script>


 <nav style="display: none">
    <span>Placeholder navigation during development</span>
    <ul>
        <li><a style="font-size: 1em" href="{{ site.url }}">Home</a></li>
        {% for the_page in site.pages %}
        {% if the_page.title %}
        <li><a style="font-size: 1em" href="{{ the_page.url | prepend: site.baseurl }}">{{ the_page.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>