<ul class="navigation__list">
    <li class="navigation__item">
        <a class="navigation__link menu-work" href="/work">Work</a>
        <svg class="wave-svg" xmlns="http://www.w3.org/2000/svg" width="298" height="30" viewBox="0 0 298 30"><path d="M8,12c15.78,0,15.78,16,31.56,16S55.33,12,71.11,12s15.78,16,31.55,16,15.78-16,31.55-16S150,28,165.77,28s15.78-16,31.56-16,15.78,16,31.56,16,15.78-16,31.56-16S276.22,28,292,28" transform="translate(-1 -5)"/></svg>
        <span class="navigation__overlay" aria-hidden="true">r</span>
    </li>
    <li class="navigation__item">
        <a class="navigation__link menu-about" href="/about">About</a>
        <svg class="wave-svg" xmlns="http://www.w3.org/2000/svg" width="298" height="30" viewBox="0 0 298 30"><path d="M8,12c15.78,0,15.78,16,31.56,16S55.33,12,71.11,12s15.78,16,31.55,16,15.78-16,31.55-16S150,28,165.77,28s15.78-16,31.56-16,15.78,16,31.56,16,15.78-16,31.56-16S276.22,28,292,28" transform="translate(-1 -5)"/></svg>            
        <span class="navigation__overlay" aria-hidden="true">o</span>
    </li>
    <li class="navigation__item">
        <a class="navigation__link menu-curiosities" href="/curiousities">Curiosities</a>
        <svg class="wave-svg" xmlns="http://www.w3.org/2000/svg" width="298" height="30" viewBox="0 0 298 30"><path d="M8,12c15.78,0,15.78,16,31.56,16S55.33,12,71.11,12s15.78,16,31.55,16,15.78-16,31.55-16S150,28,165.77,28s15.78-16,31.56-16,15.78,16,31.56,16,15.78-16,31.56-16S276.22,28,292,28" transform="translate(-1 -5)"/></svg>            
        <span class="navigation__overlay" aria-hidden="true">u</span>
    </li>
    <li class="navigation__item">
        <a class="navigation__link menu-contact" href="/contact">Contact</a>
        <svg class="wave-svg" xmlns="http://www.w3.org/2000/svg" width="298" height="30" viewBox="0 0 298 30"><path d="M8,12c15.78,0,15.78,16,31.56,16S55.33,12,71.11,12s15.78,16,31.55,16,15.78-16,31.55-16S150,28,165.77,28s15.78-16,31.56-16,15.78,16,31.56,16,15.78-16,31.56-16S276.22,28,292,28" transform="translate(-1 -5)"/></svg>
        <span class="navigation__overlay" aria-hidden="true">n</span>
    </li>
</ul>

<video class="navigation__video" 
    poster="{{ site.baseurl }}/assets/introfilmen-poster.jpg"
    autoplay loop muted playsinline>
    <source src="{{ site.baseurl }}/assets/introfilmen-v0_2.mp4">
    <img src="{{ site.baseurl }}/assets/introfilmen-poster.jpg">
</video>
