 /**
 * (optional) define here the style definitions which should be applied on the slider container
 * e.g. width including further controls like arrows etc.
 */
section.slider-wide {

    padding-top: 25px !important;
    padding-bottom: 50px !important;
    background-color: #666;

    @include media-query($on-laptop) {
       
    }
}

.slider {

    &__frame {
        /**
        * (optional) wrapper width, specifies width of the slider frame.
        */
       width: 100%;

        position: relative;
        font-size: 0;
        line-height: 0;
        overflow: hidden;
        white-space: nowrap;
    }

    &__slides {
        display: inline-block;
    }

    &__slide {
        position: relative;
        display: inline-block;
        width:800px;
        max-width: 100vw;
        margin-left:5px;
        margin-right:5px;
        
        @include media-query($on-laptop) {
            max-width: 40vw;
            margin-left:10px;
            margin-right:10px;
        }

        /**
        * (optional) if the content inside the slide element has a defined size.
        */

        img {
            width: auto;
        }

        &.active {
            // opacity: 0.5;
        }
    }

    .prev, .next {
          display: none !important;
           position: absolute;
           // top: 50%;
           margin-top: -25px;
           display: block;
           cursor: pointer;
       }

       .next {
           right: 0;
       }

       .prev {
           left: 0;
       }

       .next svg, .prev svg {
           width: 25px;
       }

    .dots {
        margin: 0;
        padding: 0;
        text-align: center;
        position: absolute;
        width: 100%;
        height:50px;
        
    }

    .dots > li {
        background-color: #fff;
        border: 1px solid #fff;
        // border-radius: 5px;
        // box-shadow: inset 1px 1px 1px #888;
        display: inline-block;
        height: 3px;
        width: 31px;
        margin: 0 5px;
        cursor: pointer;
        opacity: 0.5;
    }

    .dots > li.active {
        opacity:1;
        // background-color: #41ABE5;
    }
}