/**
 * Site header
 */
.site-header {
    min-height: 56px;
    width: 100%;

    // Positioning context for the mobile navigation icon
    position: fixed;
    .wrapper {
        padding: $spacing-unit;
        max-width: $content-width;
        margin: 0 auto;
    }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-shadow: 2px 1px 0 #fff;
    &,
    &:visited {
        color: $text-color;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        text-shadow: 2px 1px 0 #fff;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @media only screen and (max-width: $on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * Curious section
 */
.curious-current {
    // background: url(../assets/sketch/curious.svg);
    // background-size: 100% 100%;
    // height: 0;
    // padding-bottom: 80vh;
    // @include media-query($on-laptop) {
    //     padding-bottom: 33.333%;
    // }
    text-align: center;
}

.curious__subheader {
    display: block;
    font-size: 0.5em;
}

/**
 * Cases section
 */
.cases {
    padding-top: $spacing-unit;
}
.case-list {
    margin-left: 0;
    list-style-type: none;
    color: $brand-color-invert;
    a {
        color: $brand-color-invert;
        padding: 0.5em 1em;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $brand-color;
        min-height: 40vh;
        @include media-query($on-laptop) {
            min-height: 80vh;
        }
    }
    &.case-list--small {
        display: flex;
        .case-list__item {
            flex: 1;
            &:first-child {
                border-right: 1px solid #fff;
            }
        }
        a {
            justify-content: flex-start;
            min-height: auto;
            height: 0;
            padding-bottom: 50%;
            // @include media-query($on-laptop) {
            //     min-height: 40vh;
            // }
        }
    }
}
.case-list__header { margin: 0 }
.case-list__item { 
    border-bottom: 1px solid transparent;
}


/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit;
    max-width: $content-width;
    margin: 0 auto;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    // margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}



.footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
}


.footer-col-1,
.footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col {
        float: left;
        margin-bottom: $spacing-unit / 2;
        padding-right: $spacing-unit / 2;
    }
    .footer-col-1 {
        width: -webkit-calc(35% - (#{$spacing-unit} / 2));
        width:         calc(35% - (#{$spacing-unit} / 2));
    }

    .footer-col-2 {
        width: -webkit-calc(20% - (#{$spacing-unit} / 2));
        width:         calc(20% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(45% - (#{$spacing-unit} / 2));
        width:         calc(45% - (#{$spacing-unit} / 2));
    }
}




/**
 * Page content
 */
// .page-content {
//     padding: 56px 0 0;
// }

.page-heading {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.page-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.page-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.page-link {
    display: inline-block;
    font-size: 24px;
}



/**
 * pages
 */
.page-header {
    margin-bottom: $spacing-unit;
}

.page-title {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 42px;
    }
}
.page {
    padding: $spacing-unit * 2 $spacing-unit $spacing-unit;
    max-width: $content-width;
    margin: 0 auto;
}


// Case


.case-header {
    padding: $spacing-unit $spacing-unit $spacing-unit/2;
    max-width: $content-width;
    margin: 0 auto;
}

.case-content {
    padding: $spacing-unit/2 $spacing-unit $spacing-unit;
    max-width: $content-width;
    margin: 0 auto;
}

.case-hero {
    margin-bottom: $spacing-unit;
    width: 100%;
    height: auto;
}
