/**
 * Site header
 */
.site-header {
    min-height: 56px;
    width: 100%;

    // Positioning context for the mobile navigation icon
    position: absolute;
    z-index: 10;
    .wrapper {
        padding: 1em $spacing-unit*0.5 0;
        // max-width: 80%;
        margin: 0 4%;
    }
    // mix-blend-mode: multiply;
}
.logo {
    fill: #fff;
    opacity: 1;
    &:hover {
        opacity: 0.5;
    }
    width: 2em;
    height: 2em;
    // background: url(../assets/sketch/logo-2.svg) no-repeat;
    background-size: 97% 97%;
    @include media-query($on-laptop) {
        width: 4em;
        height: 4em;
        margin-top: 2em;
    }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    &,
    &:visited {
        color: $text-color;
    }
}

.site-nav {
    display: block;
    text-align: center;
    line-height: 56px;
    margin-bottom: 3em;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $brand-color;
        line-height: $base-line-height;


        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @media only screen and (max-width: $on-palm) {

        margin-top: 0;


        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * Curious section
 */
.curious-current {
    // background: url(../assets/sketch/curious.svg);
    // background-size: 100% 100%;
    // height: 0;
    // padding-bottom: 80vh;
    // @include media-query($on-laptop) {
    //     padding-bottom: 33.333%;
    // }
    text-align: center;
}

.curious__subheader {
    display: block;
    font-size: 0.3em;
    font-family: $base-font-family;
    font-weight: normal;
    font-style: normal;
}

/**
 * Cases section
 */
.cases {

    // padding-top: $spacing-unit;
}
.case-list {
    margin: 0;

    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba($secondary-color,0.2) 100%);

    list-style-type: none;
    color: $brand-color-invert;
    .case-list__item  {
        color: $brand-color-invert;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // background: $brand-color;
        .case-link {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0.5em; 
            min-height: 50vh;

            @include media-query($on-laptop) {
                min-height: 100vh;
            }
        }
    }
    &.case-list--small {
        display: flex;
        .case-list__item {
            flex: 1;
            &:first-child {
                border-right: 1px solid #fff;
            }
        }
        .case-link {
            min-height: 10vh;

            @include media-query($on-laptop) {
                min-height: 20vh;
            }
        }
    }
}
.case-list__header { margin: 0; text-align: center; }
.case-list__item { 
    border-bottom: 1px solid transparent;
}

.case-list__item:nth-child(1), .case-list__item:nth-child(3) {
    background: url(../assets/sketch/case-1.jpg);
    background-size: cover;
    a {
        color: #fff;
    }
    .case-list__header { 
        font-size: 9vw;
        line-height: 1;
        margin-bottom: 20px
    }
}

.case-list__item:nth-child(2) {
    background: url(../assets/sketch/case-2.jpg);
    background-size: cover;
    a {
        color: #333;
    }
    .case-list__header { 
        font-size: 9vw;
        line-height: 1;
        margin-bottom: 20px
    }
    .button {
        @extend .button--inv-color;
    }
}

.case-link {
    display: block;
}

// Sketcheing

.curious-list {
    background: linear-gradient(to bottom, rgba($secondary-color,1) 0%,rgba($brand-color,1) 100%);
    min-height: 20vh;
    margin: 0;
    position: relative;
    color: $brand-color-invert;
    a { color: $brand-color-invert }

    .curious-list__item {
        padding: 0.5em 1em;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // background: $brand-color;
        min-height: 100vh;
        // @include media-query($on-laptop) {
        //     min-height: 100vh;
        // }
    }

    .header {
        margin-top: 2em;
        @include media-query($on-laptop) {
            margin-top: 0;
        }
    }
}

.curious-list__item {
    background: url(../assets/sketch/dots.svg);
    // background-size: 50%
    // -webkit-filter: grayscale(100%);
    // background-size: cover;
    // mix-blend-mode: lighten;
}

.curious__header {
}


// Pagination
.pagination {
    position: absolute;
    bottom: 1em;
    right: 1em;
    @include media-query($on-laptop) {
        bottom: 2em;
        right: 2em;  
    }
}
.pagination__counter {
    display: block;
    letter-spacing: 0.3em;
    span {
        // font-weight: bold;
        opacity: 0.5
    }
}

.pagination__arrow {
    display: none; 
    @include media-query($on-laptop) {
        width: 2.4em;
        height: 2.4em;
        border-radius: 2.4em;
        text-align: center;
        overflow: hidden;
        display: block;
        line-height: 1.9;
        border: 3px solid #fff;
        margin: 0.4em 0 0.6em;
        transition: background 0.1s, color 0.1s;
        mix-blend-mode: lighten;
        &:hover {
            background: #fff;
            color: #000;
        }
        &.disabled {
            opacity: 0.5;
            &:hover {
                background: inherit;
                color: inherit;
            }
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit;
    max-width: $content-width;
    margin: 0 auto;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    // margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}



.footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
}


.footer-col-1,
.footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col {
        float: left;
        margin-bottom: $spacing-unit / 2;
        padding-right: $spacing-unit / 2;
    }
    .footer-col-1 {
        width: -webkit-calc(35% - (#{$spacing-unit} / 2));
        width:         calc(35% - (#{$spacing-unit} / 2));
    }

    .footer-col-2 {
        width: -webkit-calc(20% - (#{$spacing-unit} / 2));
        width:         calc(20% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(45% - (#{$spacing-unit} / 2));
        width:         calc(45% - (#{$spacing-unit} / 2));
    }
}




/**
 * Page content
 */
// .page-content {
//     padding: 56px 0 0;
// }

.page-heading {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.page-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.page-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.page-link {
    display: inline-block;
    font-size: 24px;
}



/**
 * pages
 */
// .page-header {
//     margin-bottom: $spacing-unit;
// }

.page-title {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 42px;
    }
}
// .page {
//     padding: $spacing-unit * 2 $spacing-unit $spacing-unit;
//     max-width: $content-width;
//     margin: 0 auto;
// }


.page-header {
    padding: $spacing-unit $spacing-unit $spacing-unit/2;
    max-width: $content-width;
    margin: 0 auto;
}

.text-content {
    padding: $spacing-unit/2 $spacing-unit $spacing-unit;
    max-width: $content-width;
    margin: 0 auto;
}

.hero {
    margin-bottom: $spacing-unit;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center center;
}
