<div class="navigation__layerimage fully-hero" data-news="fully-hero">
  <div
    class="fully-hero__scene fully-hero__scene--1"
    data-scene="1"
    data-path="room_1_v010.json"
    data-preserveaspectratio="xMaxYMax slice"
  ></div>

  <div
    class="fully-hero__scene fully-hero__scene--2"
    data-scene="2"
    data-path="room_2_v010.json"
    data-preserveaspectratio="xMidYMax slice"
  ></div>

  <div
    class="fully-hero__scene fully-hero__scene--3"
    data-scene="3"
    data-path="room_3_v010.json"
    data-preserveaspectratio="xMinYMax slice"
  ></div>

  <div class="fully-hero__scene fully-hero__scene--4_bg"></div>

  <div
    class="fully-hero__scene fully-hero__scene--4"
    data-scene="4"
    data-path="room_4_v010.json"
    data-preserveaspectratio="xMaxYMax meet"
  ></div>

  <div
    class="fully-hero__scene fully-hero__scene--4_2"
    data-scene="4_2"
    data-path="room_42_v010.json"
    data-preserveaspectratio="xMidYMax meet"
  ></div>

  <div
    class="fully-hero__scene fully-hero__scene--5"
    data-scene="5"
    data-path="room_5_v010.json"
    data-preserveaspectratio="xMaxYMid meet"
  ></div>

  <div
    class="fully-hero__scene fully-hero__scene--6"
    data-scene="6"
    data-path="room_6_v010.json"
    data-preserveaspectratio="xMinYMax slice"
  ></div>


  <!-- <video class="fully-hero__mall" src="assets/news/fully-hero/mall.mp4" width="1920" height="1080" muted autoplay loop></video> -->
</div>


<!-- {% if include.newsflash == 'visible' %}
<div class="newsflash newsflash--transparent" data-videomodal>

  <h3>Headline</h3>
  <p>Lorem ipsum</p>

  <a href="mailto:hello@fullystudios.se" class="button">
    <span>Let's go!</span>
  </a>
  <a href="{{ site.baseurl }}/news" class="link link--next">
    <span>{{ site.morenews }}</span>
    <svg class="link--icon">
      <use xlink:href="#icon-arrow-right"></use>
    </svg>
  </a>

</div>
{% endif %} -->
