<div class="navigation__layerimage fully-hero" data-news="fully-hero" {% if site.herofile == page.htmlfile %}data-frontpage="true" {% endif %}>
  <div
    class="fully-hero__scene fully-hero__scene--1 fully-hero__floor"
    data-scene="1"
    data-path="fully-hero/room_1_v010.json"
    data-preserveaspectratio="xMaxYMax slice"
  ></div>

  <div
    class="fully-hero__scene fully-hero__scene--2 fully-hero__floor"
    data-scene="2"
    data-path="fully-hero/room_2_v012.json"
    data-preserveaspectratio="xMidYMax slice"
  ></div>

  <div
    class="fully-hero__scene fully-hero__scene--3 fully-hero__floor"
    data-scene="3"
    data-path="fully-hero/room_3_v010.json"
    data-preserveaspectratio="xMinYMax slice"
  ></div>

  <div class="fully-hero__scene fully-hero__scene--4_bg"></div>

  {% comment %} TODO: Show this when clicking a button, or something :)
  <div
    class="fully-hero__scene fully-hero__scene--4"
    data-scene="4"
    data-path="fully-hero/room_4_v010.json"
    data-preserveaspectratio="xMaxYMax meet"
  ></div>
  {% endcomment %}

  <div
    class="fully-hero__scene fully-hero__scene--4_2"
    data-scene="4_2"
    data-path="fully-hero/room_42_v010.json"
    data-preserveaspectratio="xMidYMax meet"
  ></div>

  <div
    class="fully-hero__scene fully-hero__scene--5"
    data-scene="5"
    data-path="fully-hero/room_5_v013.json"
    data-preserveaspectratio="xMinYMid slice"
  ></div>

  <div
    class="fully-hero__scene fully-hero__scene--6"
    data-scene="6"
    data-path="fully-hero/room_6_v010.json"
    data-preserveaspectratio="xMinYMax slice"
  ></div>

  {% comment %}
  {# <video class="fully-hero__mall" src="assets/news/fully-hero/mall.mp4" width="1920" height="1080" muted autoplay loop></video> #}
  {% endcomment %}

</div>

{% comment %}
<!-- {% if include.newsflash == 'visible' %}
<div class="newsflash newsflash--transparent" data-videomodal>

  <h3>Headline</h3>
  <p>Lorem ipsum</p>

  <a href="mailto:hello@fullystudios.se" class="button">
    <span>Let's go!</span>
  </a>
  <a href="{{ site.baseurl }}/news" class="link link--next">
    <span>{{ site.morenews }}</span>
    <svg class="link--icon">
      <use xlink:href="#icon-arrow-right"></use>
    </svg>
  </a>

</div>
{% endif %} -->
{% endcomment %}
