<div class="navigation__layerimage fully-hero" data-news="fully-hero">
  <div class="fully-hero__scene" data-scene="1" data-path="room_2_v0010.json"></div>
  <div class="fully-hero__scene" data-scene="2" data-path="room_2_v007.json"></div>
  <div class="fully-hero__scene" data-scene="3" data-path="room_2_v003.json"></div>
  <div class="fully-hero__scene" data-scene="4" data-path="room_2_v002.json"></div>
  <div class="fully-hero__scene" data-scene="5" data-path="room_2_v001.json"></div>
  <div class="fully-hero__scene" data-scene="6" data-path="room_2_v001.json"></div>
</div>


<!-- {% if include.newsflash == 'visible' %}
<div class="newsflash newsflash--transparent" data-videomodal>

  <h3>Headline</h3>
  <p>Lorem ipsum</p>

  <a href="mailto:hello@fullystudios.se" class="button">
    <span>Let's go!</span>
  </a>
  <a href="{{ site.baseurl }}/news" class="link link--next">
    <span>{{ site.morenews }}</span>
    <svg class="link--icon">
      <use xlink:href="#icon-arrow-right"></use>
    </svg>
  </a>

</div>
{% endif %} -->
