<div class="navigation__layerimage navigation__layerimage--summer-2018" data-news="summer-2018">
  <div class="parallax-container">
    <div class="parallax-layer" data-depth="0.05">
      <div class="img">
        <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0019_vatten.png">
        <div class="summer2018__vattenunder"></div>
      </div>
    </div>

    <div class="parallax-layer" data-depth="0.1">
      <img class="img" src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0018_Fully3-2.png">
    </div>

    <div class="parallax-layer" data-depth="0.08">
      <img class="img" src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0006_Isbit-2.png">
    </div>
    <div class="parallax-layer" data-depth="0.09">
      <img class="img" src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0005_Isbit_stor-2.png">
    </div>
    <div class="parallax-layer" data-depth="0.1">
      <img class="img" src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0004_Isbit-liten-2.png">
    </div>

    <div class="parallax-layer" data-depth="0.1">
      <img class="img" src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0017_Limeflyt-2.png">
    </div>

    <div class="parallax-layer" data-depth="0.15">
      <img class="img" src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0009_Isbit-4.png">
    </div>

    <div class="parallax-layer" data-depth="0.2">
      <img class="img" src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0008_Fully2-2.png">
    </div>



    <div class="parallax-layer" data-depth="0.25">
      <img class="img" src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0016_Isbit-3.png">
    </div>

    <div class="parallax-layer" data-depth="0.4">
      <img class="img" src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0007_Kaffelime-2.png">
    </div>

    <div class="parallax-layer" data-depth="0.38">
      <img class="img" src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0011_Isbit2-2.png">
    </div>

    <div class="parallax-layer" data-depth="0.5">
      <img class="img" src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0015_Lov2-2.png">
    </div>

    <div class="parallax-layer" data-depth="0.7">
      <img class="img" src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0001_Flaskpost-2.png">
    </div>

    <div class="parallax-layer" data-depth="0.7">
      <img class="img" src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0014_Lov1-2.png">
    </div>

    <div class="parallax-layer" data-depth="0.8">
      <img class="img" src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0012_Isbit3-2.png">
    </div>

    <div class="parallax-layer" data-depth="0.8">
      <img class="img" src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0010_Lime2-2.png">
    </div>

    <div class="parallax-layer" data-depth="0.85">
      <img class="img" src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0003_Lov3-2.png">
    </div>

    <div class="parallax-layer" data-depth="0.85">
      <img class="img" src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0013_Lime-2.png">
    </div>

    <div class="parallax-layer" data-depth="0.95">
      <img class="img" src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0002_Fullyfrontal-2.png">
    </div>

    <div class="parallax-layer" data-depth="1.5">
      <img class="img" src="{{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0000_Isbit1-2.png">
    </div>
  </div>
</div>


<div class="newsflash newsflash--transparent" data-videomodal>

  <h3>Join our Stockholm crew</h3>
  <p>Enjoy the summer, watch some yellow birds, sip on a lemony drink, apply for a job. If you think you could contribute to
    building our STHLM office, please get in touch!</p>

  <a href="mailto:hello@fullystudios.se" class="button">
    <span>Send us an email</span>
  </a>
  <a href="{{ site.baseurl }}/news" class="link link--next">
    <span>{{ site.morenews }}</span>
    <svg class="link--icon">
      <use xlink:href="#icon-arrow-right"></use>
    </svg>
  </a>

</div>