<div class="navigation__layerimage navigation__layerimage--summer-2018" data-news="summer-2018">
  <div class="parallax-container">
    <div class="parallax-layer" data-depth="0.05">
      <div class="img layer_0019_vatten">
        <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0019_vatten.png" alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0019_vatten.png 640w,
            {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0019_vatten.png 1920w"
            sizes="110vw">
        <div class="summer2018__vattenunder"></div>
      </div>
    </div>

    <div class="parallax-layer" data-depth="0.1">
      <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0018_Fully3-2.png" class="img layer_0018_Fully3-2"
        alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0018_Fully3-2.png 93w,
          {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0018_Fully3-2.png 278w"
          sizes="14.4791666667vw">
    </div>

    <div class="parallax-layer" data-depth="0.08">
      <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0006_Isbit-2.png" class="img layer_0006_Isbit-2"
        alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0006_Isbit-2.png 30w,
          {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0006_Isbit-2.png 89w"
          sizes="4.6354166667vw">
    </div>
    <div class="parallax-layer" data-depth="0.09">
      <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0005_Isbit_stor-2.png" class="img layer_0005_Isbit_stor-2"
        alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0005_Isbit_stor-2.png 33w,
            {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0005_Isbit_stor-2.png 97w"
            sizes="5.0520833333vw">
    </div>
    <div class="parallax-layer" data-depth="0.1">
      <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0004_Isbit-liten-2.png" class="img layer_0004_Isbit-liten-2"
        alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0004_Isbit-liten-2.png 17w,
          {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0004_Isbit-liten-2.png 47w"
          sizes="2.4479166667vw">
    </div>

    <div class="parallax-layer" data-depth="0.1">
      <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0017_Limeflyt-2.png" class="img layer_0017_Limeflyt-2"
        alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0017_Limeflyt-2.png 39w,
          {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0017_Limeflyt-2.png 115w"
          sizes="5.9895833333vw">
    </div>

    <div class="parallax-layer" data-depth="0.15">
      <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0009_Isbit-4.png" class="img layer_0009_Isbit-4"
        alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0009_Isbit-4.png 33w,
          {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0009_Isbit-4.png 95w"
          sizes="5.9895833333vw">
    </div>

    <div class="parallax-layer" data-depth="0.2">
      <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0008_Fully2-2.png" class="img layer_0008_Fully2-2"
        alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0008_Fully2-2.png 109w,
          {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0008_Fully2-2.png 327w"
          sizes="17.03125vw">
    </div>

    <div class="parallax-layer" data-depth="0.25">
      <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0016_Isbit-3.png" class="img layer_0016_Isbit-3"
        alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0016_Isbit-3.png 18w,
          {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0016_Isbit-3.png 50w"
          sizes="2.6041666667vw">
    </div>

    <div class="parallax-layer" data-depth="0.4">
      <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0007_Kaffelime-2.png" class="img layer_0007_Kaffelime-2"
        alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0007_Kaffelime-2.png 84w,
          {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0007_Kaffelime-2.png 250w"
          sizes="13.0208333333vw">
    </div>

    <div class="parallax-layer" data-depth="0.38">
      <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0011_Isbit2-2.png" class="img layer_0011_Isbit2-2"
        alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0011_Isbit2-2.png 58w,
          {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0011_Isbit2-2.png 172w"
          sizes="8.9583333333vw">
    </div>

    <div class="parallax-layer" data-depth="0.5">
      <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0015_Lov2-2.png" class="img layer_0015_Lov2-2"
        alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0015_Lov2-2.png 47w,
          {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0015_Lov2-2.png 137w"
          sizes="7.1354166667vw">
    </div>

    <div class="parallax-layer" data-depth="1.05">
      <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0001_Flaskpost-2.png" class="img layer_0001_Flaskpost-2"
        alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0001_Flaskpost-2.png 55w,
          {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0001_Flaskpost-2.png 153w"
          sizes="7.96875vw">
    </div>

    <div class="parallax-layer" data-depth="0.7">
      <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0014_Lov1-2.png" class="img layer_0014_Lov1-2"
        alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0014_Lov1-2.png 23w,
          {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0014_Lov1-2.png 67w"
          sizes="3.4895833333vw">
    </div>

    <div class="parallax-layer" data-depth="0.8">
      <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0012_Isbit3-2.png" class="img layer_0012_Isbit3-2"
        alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0012_Isbit3-2.png 72w,
        {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0012_Isbit3-2.png 215w"
        sizes="11.1979166667vw">
    </div>

    <div class="parallax-layer" data-depth="0.8">
      <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0010_Lime2-2.png" class="img layer_0010_Lime2-2"
        alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0010_Lime2-2.png 40w,
        {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0010_Lime2-2.png 119w"
        sizes="6.1979166667vw">
    </div>

    <div class="parallax-layer" data-depth="0.85">
      <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0003_Lov3-2.png" class="img layer_0003_Lov3-2"
        alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0003_Lov3-2.png 48w,
        {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0003_Lov3-2.png 142w"
        sizes="7.3958333333vw">
    </div>


    <div class="parallax-layer" data-depth="0.85">
      <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0013_Lime-2.png" class="img layer_0003_Lov3-2"
        alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0013_Lime-2.png 52w,
        {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0013_Lime-2.png 152w"
        sizes="7.9166666667vw">
    </div>


    <div class="parallax-layer" data-depth="0.95">
      <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0002_Fullyfrontal-2.png" class="img layer_0002_Fullyfrontal-2"
        alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0002_Fullyfrontal-2.png 267w,
        {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0002_Fullyfrontal-2.png 801w"
        sizes="41.71875vw">
    </div>

    <div class="parallax-layer" data-depth="1.5">
      <img src="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0000_Isbit1-2.png" class="img layer_0000_Isbit1-2"
        alt="Fully summer" srcset="{{ site.baseurl }}/assets/news/2018-06-01-summer/mobile/layer_0000_Isbit1-2.png 86w,
        {{ site.baseurl }}/assets/news/2018-06-01-summer/layer_0000_Isbit1-2.png 256w"
        sizes="13.3333333333vw">
    </div>
  </div>
</div>


<div class="newsflash newsflash--transparent" data-videomodal>

  <h3>Join our Stockholm crew</h3>
  <p>Enjoy the summer, watch some yellow birds, sip on a lemony drink, apply for a job. If you think you could contribute to
    building our STHLM office, please get in touch!</p>

  <a href="mailto:hello@fullystudios.se" class="button">
    <span>Send us an email</span>
  </a>
  <a href="{{ site.baseurl }}/news" class="link link--next">
    <span>{{ site.morenews }}</span>
    <svg class="link--icon">
      <use xlink:href="#icon-arrow-right"></use>
    </svg>
  </a>

</div>