<div class="navigation__layerimage lottie-scenes three-houses" data-news="three-houses">


  <div
    class="lottie-scenes__scene scene4"
    data-scene="4"
    data-path="three-houses/bg/bg.json"
    data-pathmobile="three-houses/bg_mobile/bg_mobile.json"
    data-preserveaspectratio="xMidYMid slice"
    data-preserveaspectratiomobile="xMinYMin slice"
  ></div>

  <div
    class="lottie-scenes__scene scene3"
    data-scene="3"
    data-path="three-houses/house3/house3.json"
    data-pathmobile="three-houses/house3_mobile/house3_mobile.json"
    data-preserveaspectratio="xMinYMid slice"
    data-preserveaspectratiomobile="xMinYMax slice"
  ></div>

  <div
    class="lottie-scenes__scene scene2"
    data-scene="2"
    data-path="three-houses/house2/house2.json"
    data-pathmobile="three-houses/house2_mobile/house2_mobile.json"
    data-preserveaspectratio="xMidYMid slice"
    data-preserveaspectratiomobile="xMaxYMax slice"
  ></div>

  <div
    class="lottie-scenes__scene scene1"
    data-scene="1"
    data-path="three-houses/house1/house1.json"
    data-pathmobile="three-houses/house1_mobile/house1_mobile.json"
    data-preserveaspectratio="xMidYMid slice"
    data-preserveaspectratiomobile="xMidYMax slice"
  ></div>

  <!--
    <img class="fully-hero__mall" src="/assets/news/three-houses/mall.png" width="1920" height="auto"></img>
  -->


</div>

{% comment %}
<!-- {% if include.newsflash == 'visible' %}
<div class="newsflash newsflash--transparent" data-videomodal>

  <h3>Headline</h3>
  <p>Lorem ipsum</p>

  <a href="mailto:hello@fullystudios.se" class="button">
    <span>Let's go!</span>
  </a>
  <a href="{{ site.baseurl }}/news" class="link link--next">
    <span>{{ site.morenews }}</span>
    <svg class="link--icon">
      <use xlink:href="#icon-arrow-right"></use>
    </svg>
  </a>

</div>
{% endif %} -->
{% endcomment %}
