---
layout: page
---

<section>
    {{page.script}}
    <style>
        .anim-container {
            position: relative;
            overflow: hidden;
            background-color: #ffffff;
            width: 100%;
        }
        .about-header {
            text-align: center;
            max-width: calc(20em + 60px);
            padding: 0;
            padding-left: 30px;
            padding-right: 30px;
            margin-top: 12vh;
            margin-bottom: 12vh;
            font-size: 3.6vh;
        }
        #about-bm-animation {
            margin: auto;
        }
        #under_text {
            text-align: center;
            margin-top: 12vh;
            margin-bottom: 12vh;
            max-width: calc(20em + 60px);
            font-size: 3.6vh;
        }
        .curiosity_text {
            color: #0A2A4F;
        }
        .sectionpadding.invert {
            background-color: #ffde7f;
        }

        @media (min-width: 40em) {
            #about-bm-animation {
                width: 50%;
            }
            .about-header {
                font-size: 2.5em;
            }
            #under_text {
                font-size: 2.5em;
            }
        }
    </style>

    <div class="anim-container">
        <h2 class="about-header">{{ page.section1 }}</h2>
        <script src="/../assets/about/bodymovin/lottie.js"></script>
        <div id="about-bm-animation"></div>
        <script>
        var anim = lottie.loadAnimation({
            container: document.getElementById('about-bm-animation'),
            renderer: 'svg',
            autoplay: true,
            loop: true,
            path: '/../assets/about/bodymovin/Fully_services_animation.json'
        });
        </script>
        <h2 id="under_text">{{ page.section2 }}</h2>
    </div>

</section>

<section class="background-image sectionpadding" style="background-color: #0A2A4F">
    <div style="position: relative; z-index: 1; pointer-events: none;">
        <div class="box box--center box--curiosities" style="max-width: 45em">
            {{ page.section3 | markdownify }}
        </div>
    </div>
</section>

<section class="sectionpadding invert center curiosity_text">
    {{ page.section4 | markdownify }}
    <a href="{{page.button-url | prepend: site.baseurl }}" class="button"><span>{{page.button-text}}</span></a>
</section>
