---
layout: page
---

<!-- {% unless page.section1 == nil %}
    <section class="grid">
        <div class="grid__column1-2 boxtext h4">
            {{ page.section1 | markdownify }}
        </div>
        <div class="grid__column2-2 anim-wrapper">
            <div>
                <iframe src="{{ site.baseurl }}/assets/about/experiment.html" scrolling="no" width="100%" height="100%" frameborder="0"></iframe>
            </div>
        </div>
    </section>
{% endunless %} -->

{% unless page.section2 == nil %}
    <section>
        {{page.script}}
        <style>
            .anim-container {
              position: relative;
              overflow: hidden;
              background-color: #ffffff;
              width: 100%;
            }
            #morphanim__text {
              text-align: center;
              max-width: calc(20em + 60px);
              padding: 0;
              padding-left: 30px;
              padding-right: 30px;
              margin-top: 12vh;
              margin-bottom: 12vh;
              font-size: 3.6vh;
            }
            #morphanim__text.tablet {
              transform: scale(0.5) translateY(-1em);
            }
            #morphanim__text.mobile {
              transform: scale(0.22) translateY(-2em);
            }
            #bm {
              width: 100%;
              height: 100%;
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
            #under_text {
              text-align: center;
              margin-top: 12vh;
              margin-bottom: 12vh;
              max-width: calc(20em + 60px);
              font-size: 3.6vh;
            }
            .curiosity_text {
              color: #0A2A4F;
            }
            .sectionpadding.invert {
              background-color: #ffde7f;
            }


            @media (min-width: 40em) {
                #bm {
                  width: 100%;
                  margin: auto;
                }
                #morphanim__text {
                  font-size: 2.5em;
                  margin-bottom: 0px;
                }
                #under_text {
                  font-size: 2.5em;
                  text-align: left;
                  margin: auto;
                  width: 100%;
                }
                .bm-text {
                  display: flex;
                  padding: 120px;
                }
            }
        </style>

        <div class="anim-container">
            <h2 id="morphanim__text">{{ page.section1 }}</h2>
            <div class="bm-text">
            <script src="/../assets/about/bodymovin/lottie.js"></script>
            <div id="bm"> </div>
            <script>
            var anim = bodymovin.loadAnimation({
                container: document.getElementById('bm'),
                renderer: 'svg',
                autoplay: true,
                loop: true,
                path: '/../assets/about/bodymovin/Fully_services_animation.json'
            });
            </script>
          <h2 id="under_text">{{ page.section2 }}</h2>
          </div>
        </div>

    </section>
{% endunless %}

{% unless page.section3 == nil %}
    <section class="background-image sectionpadding">
        <iframe style="width: 100%; height: 100%; position:absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden;" src="../assets/about/partiklar/index.html" frameborder="0"></iframe>
        <div style="position: relative; z-index: 1; pointer-events: none;">
            <div class="box box--center box--curiosities" style="max-width: 45em">
                {{ page.section3 | markdownify }}
            </div>
        </div>
    </section>
{% endunless %}

{% unless page.section4 == nil %}
    <section class="sectionpadding invert center curiosity_text">
        {{ page.section4 | markdownify }}
        <a href="{{page.button-url | prepend: site.baseurl }}" class="button"><span>{{page.button-text}}</span></a>
    </section>
{% endunless %}


<script type="text/javascript">
    {% include {{ root | append: 'js/page/about.js' }} %}
</script>
