---
layout: case
---


{% unless page.vimeo_IDs == nil %}
<section class="imagegrid imagegrid--firstlarge">
	{% for video in page.vimeo_IDs %}
	<div class="imagegrid__image">
		<div class="video">
			<iframe src="https://player.vimeo.com/video/{{video}}" width="1920" height="1080" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
	{% endfor %}
</section>
{% endunless %}


{% unless page.frames == nil %}
<div class="imagegrid">
{% for frame in page.frames %}
	<div class="imagegrid__image">
		<img alt="{{frame.alt}}" class="image" src="{{site.baseurl}}/assets/work/{{page.slug}}/{{frame.medium}}">
	</div>
{% endfor %}
</div>
{% endunless %}


{% unless page.column5050_text == nil %}
    <section class="grid grid--space grid--padding">
        <div class="grid__column1-2 flexcenter">
            {{ page.column5050_text | markdownify }}
        </div>
        <div class="grid__column2-2">
            <img class="image"
                alt="{{column5050_image_alt}}"
                width="1440" height="1653"
                src="{{site.baseurl}}/assets/work/{{page.slug}}/{{ page.column5050_image_720 }}" 
                srcset="{{site.baseurl}}/assets/work/{{page.slug}}/{{ page.column5050_image_1440 }} 1440w,
                        {{site.baseurl}}/assets/work/{{page.slug}}/{{ page.column5050_image_720 }} 720w"
                sizes="100vw">
        </div>
    </section>
{% endunless %}

{% unless page.text == nil %}
	<section class="sectionspacing">
		{{page.text | markdownify}}
		
		{% if page.author != nil and page.author2 != nil %}
		<p><span class="metabutton">
			Authors: <span><a href="mailto:{{page.author-email}}" target="_blank">{{page.author}}</a></span> & <span><a href="mailto:{{page.author2-email}}">{{page.author2}}</a></span>
		</span></p>
		{% endif %}
		{% if page.author != nil and page.author2 == nil %}
		<p><a class="metabutton" href="mailto:{{page.author-email}}">
			Author: <span>{{page.author}}</span>
		</a></p>
		{% endif %}
		
	</section>
{% endunless %}

