---
layout: page
---


{% unless page.section1 == nil %}
    <section class="gridabout">
        <div class="boxtext h4">
            {{ page.section1 | markdownify }}
        </div>
    </section>
{% endunless %}
<div class="contact-boxes">
  <div class="contact-boxes__box">
    <h3>Join our team?</h3>
    <p class="subject-msg">Make a spontanious application!</p>
    <p><a target="_blank" href="mailto:career@fullystudios.se">career@fullystudios.se</a></p>
  </div>
  <div class="contact-boxes__box">
    <h3>Just talk with us</h3>
    <p class="subject-msg">Enquiries and new projects</p>
    <p><a target="_blank" href="mailto:hello@fullystudios.se">hello@fullystudios.se</a></p>
  </div>
  {% unless page.hire-case-id == nil %}
  <div class="contact-boxes__box">
    <h3>We’re hiring!</h3>
    <p class="subject-msg">Temporary Account Manager</p>
    <p><a href="">Read more</a></p>
  </div>
  {% endunless %}
</div>
<div class="contact-wrapper">
  <section id="we-are-fully" class="boxgrid boxgrid--contact">

    {% for people in page.peoples %}
        <figure class="boxgrid__box">
            <div class="boxgrid__image image-loader">
                <img src="/assets/people/{{ people.image }}" alt="{{ people.name }}">
            </div>
            <figcaption class="boxgrid__caption">
                <p class="contact-details">
                    <a class="email" href="mailto:{{people.email}}">
                        <span class="h3 email__correct">{{people.email_name_correct}}</span>
                        <span class="h3 email__emailified">{{people.email_name}}</span>
                        <span>@{{people.email_domain}}</span>
                    </a>
                </p>
                <p>
                    <span class="contact-title">{{ people.title }}</span>
                    <br>{% unless people.tel == nil %}<a href="tel:{{people.tel}}">{{people.tel}}</a>{% endunless %}
                </p>
            </figcaption>
        </figure>
    {% endfor %}

  </section>
</div>


<h3 class="map__header center">Here are our offices, swing by!</h3>
<div class="map__container">
  <div class="map__container--city">
    <div class="map-wrapper">
      <div  class="office-overlay" style="background-image: url({{site.baseurl}}/assets/contact/{{page.image-gbg}})"></div>
      <div class="map" id="g_map_gbg">
          {% comment %}fallback text{% endcomment %}
          Visit us at:<br>
          Gothenburg:
          <a href="{{site.navigate-url-gbg}}">
              {{site.adress-gbg}}
          </a>
          Stockholm:
          <a href="{{site.navigate-url-sthlm}}">
              {{site.adress-sthlm}}
          </a>
      </div>
    </div>
    <div class="map__container--info">
      <h3>Göteborg</h3>
      <div class="address">
        <p> Victoriapassagen, </p>
        <p>Södra Larmgatan 14, </p>
        <p> 411 16 Göteborg </p>
      </div>
    </div>
  </div>
  <div class="map__container--city">
    <div class="map-wrapper">
      <div  class="office-overlay" style="background-image: url({{site.baseurl}}/assets/contact/{{page.image-sthlm}})"></div>
      <div class="map" id="g_map_sthlm">
          {% comment %}fallback text{% endcomment %}
          Visit us at:<br>
          Gothenburg:
          <a href="{{site.navigate-url-gbg}}">
              {{site.adress-gbg}}
          </a>
          Stockholm:
          <a href="{{site.navigate-url-sthlm}}">
              {{site.adress-sthlm}}
          </a>

      </div>
    </div>
    <div class="map__container--info">
      <h3>Stockholm</h3>
      <div class="office_address">
        <p>Högbergsgatan 33, </p>
        <p>116 20 Stockholm</p>
      </div>
    </div>
  </div>

    <script>
        var g_map;

        const mapParams = (pos) => {
          return {
              center: {...pos},
              zoom: 14,
              scrollwheel: false,
              zoomControl: true,
              mapTypeControl: false,
              scaleControl: true,
              streetViewControl: true,
              rotateControl: true,
              fullscreenControl: false,
              styles:
              [
                  {
                      "featureType": "all",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "color": "#ffc1b4"
                          },
                          {
                              "visibility": "on"
                          }
                      ]
                  },
                  {
                      "featureType": "all",
                      "elementType": "geometry.stroke",
                      "stylers": [
                          {
                              "color": "#ffffff"
                          },
                          {
                              "visibility": "on"
                          }
                      ]
                  },
                  {
                      "featureType": "all",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "saturation": "100"
                          },
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "all",
                      "elementType": "labels.text",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "all",
                      "elementType": "labels.text.stroke",
                      "stylers": [
                          {
                              "visibility": "off"
                          },
                          {
                              "weight": "1.00"
                          }
                      ]
                  },
                  {
                      "featureType": "all",
                      "elementType": "labels.icon",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "road",
                      "elementType": "all",
                      "stylers": [
                          {
                              "color": "#ffffff"
                          },
                          {
                              "visibility": "on"
                          }
                      ]
                  },
                  {
                      "featureType": "road",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "color": "#0a2a4f"
                          }
                      ]
                  },
                  {
                      "featureType": "road",
                      "elementType": "labels.text.stroke",
                      "stylers": [
                          {
                              "visibility": "on"
                          },
                          {
                              "weight": "0.53"
                          }
                      ]
                  },
                  {
                      "featureType": "water",
                      "elementType": "all",
                      "stylers": [
                          {
                              "color": "#f8f8f8"
                          }
                      ]
                  }
              ]
          }
        }

        function initMap() {
        fully_gbg = {lat: {{site.fully_gbg-lat}}, lng: {{site.fully_gbg-lng}}}
        fully_sthlm = {lat: {{site.fully_sthlm-lat}}, lng: {{site.fully_sthlm-lng}}}
        g_map_gbg = new google.maps.Map(document.getElementById('g_map_gbg'), mapParams(fully_gbg));
        g_map_sthlm = new google.maps.Map(document.getElementById('g_map_sthlm'), mapParams(fully_sthlm));

        var marker_icon = {
            path: 'M0,27.62A27.23,27.23,0,0,1,2.19,16.88,27.07,27.07,0,0,1,16.88,2.19,26.87,26.87,0,0,1,27.62,0,26.6,26.6,0,0,1,38.4,2.19,27.36,27.36,0,0,1,47.19,8a26.93,26.93,0,0,1,5.94,8.83,27.47,27.47,0,0,1,0,21.48,29.84,29.84,0,0,1-2.89,5.23L32,71.37q-1.8,2.73-4.3,2.73t-4.34-2.73L5.08,43.59a24.62,24.62,0,0,1-2.89-5.23A27.23,27.23,0,0,1,0,27.62Zm17.38,0A10.27,10.27,0,0,0,27.62,37.93a9.8,9.8,0,0,0,7.3-3,9.74,9.74,0,0,0,3-7.27,9.9,9.9,0,0,0-3-7.27,9.8,9.8,0,0,0-7.3-3,9.92,9.92,0,0,0-7.27,3A10.05,10.05,0,0,0,17.38,27.62Z',
            fillColor: '#092a4f',
            fillOpacity: 0.9,
            scale: 1,
            strokeColor: '#092a4f',
            strokeWeight: 1,
            anchor: new google.maps.Point(30, 60)
          };

        var g_marker_gothenburg = new google.maps.Marker({
            position: fully_gbg,
            map: g_map_gbg,
            icon: marker_icon
        });
        var g_marker_stockholm = new google.maps.Marker({
            position: fully_sthlm,
            map: g_map_sthlm,
            icon: marker_icon
        });

        function contentString(site_adress, site_navigate_url) {
            return '<div id="content">'+
            '<div id="bodyContent"><p><strong>Visit us at:</strong><br>'+
            site_adress +
            '</p>'+
            '<p>'+
            '<a target="_blank" href="' + site_navigate_url + '">'+
            'Navigate here'+
            '</a><br><br>'+
            '</div>'+
            '</div>';
        };

        var infowindow_gbg = new google.maps.InfoWindow({
            content: contentString("{{site.adress-gbg}}", "{{site.navigate-url-gbg}}")
        });
        var infowindow_sthlm = new google.maps.InfoWindow({
            content: contentString("{{site.adress-sthlm}}", "{{site.navigate-url-sthlm}}")
        });

        g_marker_gothenburg.addListener('click', function() {
            infowindow_gbg.open(g_map, g_marker_gothenburg);
        });

        g_marker_stockholm.addListener('click', function() {
            infowindow_sthlm.open(g_map, g_marker_stockholm);
        });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe3ra-SnCYjK0_ypN4eF0D88-W0IOEN3Y&callback=initMap" async defer></script>
</div>
