---
layout: default
---
<article class="page cc-{{ page.slug }}" itemscope itemtype="http://schema.org/BlogPosting">
	
	{% unless page.background-image_2880 == nil %}
		{% if page.background == nil %}
			<style>
				.hero--{{page.slug}} {
					background-image: url({{site.baseurl}}/assets/curious-about/{{page.slug}}/{{ page.background-image_1440 }});
				}
				@media (min-width: 1600px), (min-width: 1200px) and (min-resolution: 2dppx) {
					.hero--{{page.slug}} {
						background-image: url({{site.baseurl}}/assets/curious-about/{{page.slug}}/{{ page.background-image_2880 }});
					}
				}
			</style>
		{% endif %}
	{% endunless %}
	<div class="hero hero--cc hero--{{ page.slug }}{% unless page.background-image_2880 == nil %} background-image{% endunless %}" id="work_{{ page.slug }}" {% unless page.background-image_color == nil %} style="background-color: {{page.background-image_color}}"{% endunless %}>
		{% comment %}<span class="hero-meta">{{ page.date | date: "%b %-d, %Y" }}</span>{% endcomment %}

		
		{% comment %}<header class="hero__header hero__header--shadow">{% endcomment %}
		<header class="hero__header">
			<h1 class="hero__header-element" itemprop="name headline">
				<span class="hero__subheader">Current curiosity:</span> 
				{{ page.title }}
			</h1>
			
			{% comment %}<p class="page-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %} {% endcomment %}
			{% comment %}<span class="categories">{{ page.categories }}<span></p>{% endcomment %}
		</header>

		{% comment %}
		###################################
		## Get code for the background set
		## in current curious-about post
		{% endcomment %}
		{% unless page.background == nil %}
			{{ page.background }}
		{% endunless %}

    </div>

	<main class="content" itemprop="articleBody">
		{% unless page.ingress == nil %}
		<div class="c-white-bg">
			<div class="metabox metabox--wide metabox--offset column__wrapper center">
				<h4>
					{{ page.ingress | markdownify }}
				</h4>
			</div>
		</div>
		{% endunless %}

		{{ content }}

	</main>

</article>



<div class="boxgrid boxgrid--curiosity">
	<h2 class="boxgrid__header h4">Check out our other curiousities</h2>
	{% for curious in site.curious-about limit:3 %}
		{% if curious.title == page.title %}
			{% continue %}
		{% endif %}
		<a class="boxgrid__box" href="{{ curious.url | prepend: site.baseurl }}">
			
				<div class="boxgrid__image" {% unless curious.background-image_color == nil %} style="background-color: {{ curious.background-image_color }}" {% endunless %}>
				{% unless curious.background-image_720 == nil %}
					<img src="{{site.baseurl}}/assets/curious-about/{{curious.slug}}/{{curious.background-image_720}}" alt="{{ curious.title }}">	
				{% endunless %}
				</div>
				<div class="boxgrid__caption">
					<h3>{{ curious.title }}</h3>
					<p>{{ curious.subtitle }}</p>
				</div>
			
		</a>
	{% endfor %}
</div>
