---
layout: default
---
<article class="page page--{{ page.slug }}">
  
  {% unless page.background-image_2880 == nil %}
		{% if page.background == nil %}
			<style>
				.hero--{{page.slug}} {
					background-image: url({{site.baseurl}}/assets/{{ page.background-image_1440 }});
				}
				@media (min-width: 1600px), (min-width: 1200px) and (min-resolution: 2dppx) {
					.hero--{{page.slug}} {
						background-image: url({{site.baseurl}}/assets/{{ page.background-image_2880 }});
					}
				}
			</style>
		{% endif %}
	{% endunless %}
	<div class="hero hero--{{ page.slug }}{% unless page.background-image_2880 == nil %} background-image{% endunless %} {{page.bg-color}}" id="work_{{ page.slug }}">
		<header class="hero__header hyphenate">
			<div class="hero__header-wrap">
			{% if page.pagetitle != nil %}
				{{ page.pagetitle | markdownify }}
			{% else %}
				<h1 class="hero__header-element" itemprop="name headline">
					{{ page.title }}
				</h1>
				{% endif %}
				{% unless page.subtitle == nil %}
					<h2>{{page.subtitle}}</h2>
				{% endunless %}
			</div>
			{% unless page.sublink == nil %}
				<h4><a href="{{page.sublink}}">{{page.sublink-text}}</a></h4>
			{% endunless %}
		</header>

		{% comment %}
		###################################
		## Get code for the background set
		## in current curious-about post
		{% endcomment %}
		{% unless page.background == nil %}
			{{ page.background }}
		{% endunless %}
	</div>

	
		{{ content }}
	

</article>
