---
layout: page
---

<div class="grid">

    <div class="boxtext boxtext--simpleframe work-ingress c-light-bg">
        {{content}}
    </div>

    <!-- 
    ###################################################
    ## Get specific highlight posts set in _config.yml
    -->
    {% assign work1 = site.work[site.case_highlight1_id] %}

    {% unless work1.background-image_2880 == nil %}
        <style>
            .work1-image {
                background-image: url({{site.baseurl}}/assets/work/{{work1.slug}}/{{ work1.background-image_1440 }});
            }
            @media (min-width: 1600px), (min-width: 1200px) and (min-resolution: 2dppx) {
                .work1-image {
                    background-image: url({{site.baseurl}}/assets/work/{{work1.slug}}/{{ work1.background-image_2880 }});
                }
            }
        </style>
    {% endunless %}

    <div class="background-image work1-image">
        {% unless work1.background == nil %}
            {{ work1.background }}
        {% endunless %}
    </div>

    <div class="boxtext work1-text center">
        <h2>{{work1.title}}</h2>
        <p>{{work1.subtitle}}</p>
        <a href="{{ work1.url | prepend: site.baseurl }}" class="button"><span>{{work1.button-text}}</span></a>
    </div>
</div>

<section class="reelgrid">
    <div class="boxtext reelgrid__text">
        <h2>{{page.reel-text}}</h2>
        <p>{{page.reel-sub}}</p>
    </div>

    <div class="reelgrid__video video">
        <iframe src="https://player.vimeo.com/video/{{page.reel-vimeo-id}}" width="1920" height="1080" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

</section>

<section class="grid">
    <!-- 
    ###################################################
    ## Get specific highlight posts set in _config.yml
    -->
    {% assign work2 = site.work[site.case_highlight2_id] %}

    {% unless work2.background-image_2880 == nil %}
        <style>
            .work2-image {
                background-image: url({{site.baseurl}}/assets/work/{{work2.slug}}/{{ work2.background-image_1440 }});
            }
            @media (min-width: 1600px), (min-width: 1200px) and (min-resolution: 2dppx) {
                .work2-image {
                    background-image: url({{site.baseurl}}/assets/work/{{work2.slug}}/{{ work2.background-image_2880 }});
                }
            }
        </style>
    {% endunless %}

    <div class="background-image work2-image">
        {% unless work2.background == nil %}
            {{ work2.background }}
        {% endunless %}
    </div>

    <!-- 
    ####################
    ## Get scripts from
    ## current post
    -->
    {% comment %}
    {% for js in work2.scripts %}
        <script type="text/javascript">
        {% assign root = 'js/' %}
        {% include {{ root | append: js }} %}
        </script>
    {% endfor %}   
    {% endcomment %}  

    <div class="boxtext work2-text center">
        <h2>{{work2.title}}</h2>
        <p>{{work2.subtitle}}</p>
        <a href="{{ work2.url | prepend: site.baseurl }}" class="button"><span>{{work2.button-text}}</span></a>
    </div>
</section>


<section class="grid space-after">
    <!-- 
    ###################################################
    ## Get specific highlight posts set in _config.yml
    -->
    {% assign work3 = site.work[site.case_highlight3_id] %}

    {% unless work3.background-image_2880 == nil %}
        <style>
            .work3-image {
                background-image: url({{site.baseurl}}/assets/work/{{work3.slug}}/{{ work3.background-image_1440 }});
            }
            @media (min-width: 1600px), (min-width: 1200px) and (min-resolution: 2dppx) {
                .work3-image {
                    background-image: url({{site.baseurl}}/assets/work/{{work3.slug}}/{{ work3.background-image_2880 }});
                }
            }
        </style>
    {% endunless %}

    <div class="background-image work3-image">
        {% unless work3.background == nil %}
            {{ work3.background }}
        {% endunless %}
    </div>

    <!-- 
    ####################
    ## Get scripts from
    ## current post
    -->
    {% comment %}
    {% for js in work3.scripts %}
        <script type="text/javascript">
        {% assign root = 'js/' %}
        {% include {{ root | append: js }} %}
        </script>
    {% endfor %} 
    {% endcomment %}    

    <div class="boxtext work3-text center">
        <h2>{{work3.title}}</h2>
        <p>{{work3.subtitle}}</p>
        <a href="{{ work3.url | prepend: site.baseurl }}" class="button"><span>{{work3.button-text}}</span></a>
    </div>
</section>

<!-- 
####################
## Loop through the latest work
-->
<section class="boxgrid boxgrid--compact">
    <h2 class="boxgrid__header h4 invert">Recent work</h2>
    <!-- Get all work posts and revers them -->
    {% assign items = site.work | sort: 'date' | reverse %}
    {% assign root = 'js/' %}
    
    {% for work in items limit:9 %}

		{% if work.title == work1.title or work.title == work2.title or work.title == work3.title %}
			{% continue %}
		{% endif %}

        <div class="boxgrid__box">
            <div class="image-loader" style="background-color: {{work.background-color}}"> <!--Change this color to an average color from the image-->
                {% unless work.background-image_720 == nil %}
                    <img src="{{site.baseurl}}/assets/work/{{work.slug}}/{{work.background-image_720}}" alt="{{work.title}}">	
                {% endunless %}
            </div>
            <figcaption class="boxgrid__caption">
                <div>
                    <h3>{{work.title}}</h3>
                    <p>{{work.subtitle}}</p>
                </div>
                <a href="{{work.url}}" class="button"><span>{{work.button-text}}</span></a>
            </figcaption>
        </div>
        
    {% endfor %}

</section>