---
layout: page
---


    <!--
    ###################################################
    ## Get specific highlight posts set in _config.yml
    -->
        <style>
            .work1-image {
                background-image: url({{site.baseurl}}/assets/work/{{work1.slug}}/{{ work1.background-image_1440 }});
            }
            @media (min-width: 1600px), (min-width: 1200px) and (min-resolution: 2dppx) {
                .work1-image {
                    background-image: url({{site.baseurl}}/assets/work/{{work1.slug}}/{{ work1.background-image_2880 }});
                }
            }
            .overlapping-content {
              position: relative;
              padding-top: 90px;
              background-color: #F8F8F8;
            }
        </style>

<!-- Sidescroll workCases component -->

{% assign work1 = site.work[site.case_highlight1_id] %}
{% assign work2 = site.work[site.case_highlight2_id] %}
{% assign work3 = site.work[site.case_highlight3_id] %}

<section class="wc-section wc-section--2 sidescroll" id="work-cases">
  <div class="sidescroll__side">

    <div>
      <ol>

        <li class="sidescroll__item active" id="sidescroll-1">
          <div class="scroll-content">
            <p>{{work1.project}}</p>
            <h2>{{work1.title}}</h2>
            <p>{{work1.subtitle}}</p>
            <div><a href="{{ work1.url | prepend: site.baseurl }}" class="button"><span>{{work1.button-text}}</span></a></div>
          </div>
          <div class="image-container" style="background-color: {{work1.background-image_color}};">
            <img
            src="{{site.baseurl}}/assets/work/{{work1.slug}}/{{ work1.promo-image }}"
            alt=""
            draggable="false">
          </div>
        </li>

        <li class="sidescroll__item" id="sidescroll-2">
          <div class="scroll-content right">
            <p>{{work2.project}}</p>
            <h2>{{work2.title}}</h2>
            <p>{{work2.subtitle}}</p>
            <div><a href="{{ work2.url | prepend: site.baseurl }}" class="button"><span>{{work1.button-text}}</span></a></div>
          </div>
          <div class="image-container" style="background-color: {{work2.background-image_color}};">
            <img
            src="{{site.baseurl}}/assets/work/{{work2.slug}}/{{ work2.promo-image }}"
            alt=""
            draggable="false">
          </div>
        </li>

        <li class="sidescroll__item" id="sidescroll-3">
          <div class="scroll-content">
            <p>{{work3.project}}</p>
            <h2>{{work3.title}}</h2>
            <p>{{work3.subtitle}}</p>
            <div><a href="{{ work3.url | prepend: site.baseurl }}" class="button"><span>{{work3.button-text}}</span></a></div>
          </div>
          <div class="image-container" style="background-color: {{work3.background-image_color}};">
            <img
            src="{{site.baseurl}}/assets/work/{{work3.slug}}/{{ work3.promo-image }}"
            alt=""
            draggable="false">
          </div>
        </li>

      </ol>
    </div>
  </div>

  <div class="sidescroll__scroll">
    <div class="sidescroll__scrollwrap" id="sidecroll-screens">

        <div class="sidescroll__screens" style="background: linear-gradient(90deg, {{work1.background-image_color}}, {{work1.background-image_color}}, {{work2.background-image_color}}, {{work2.background-image_color}}, {{work3.background-image_color}}, {{work3.background-image_color}});">
          <div class="sidescroll__screen">
            <img
            src="{{site.baseurl}}/assets/work/{{work1.slug}}/{{ work1.promo-image }}"
            alt=""
            draggable="false">
          </div>
          <div class="sidescroll__screen">
            <img
            src="{{site.baseurl}}/assets/work/{{work2.slug}}/{{ work2.promo-image }}"
            alt=""
            draggable="false">
          </div>
          <div class="sidescroll__screen">
            <img
            src="{{site.baseurl}}/assets/work/{{work3.slug}}/{{ work3.promo-image }}"
            alt=""
            draggable="false">
          </div>
        </div>
      </div>
    </div>
  </section>




<div class="overlapping-content" >
<section

{% include workgrid.html %}
</div>
