---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
    font-family: 'moderat';
    src: url('../typefaces/moderat-subset/moderat-regular-subset.woff2') format('woff2'),
         url('../typefaces/moderat-subset/moderat-regular-subset.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'moderat';
    src: url('../typefaces/moderat-subset/moderat-bold-subset.woff2') format('woff2'),
         url('../typefaces/moderat-subset/moderat-bold-subset.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// Our variables
$base-font-family: "Fira Mono", monospace;
$header-font-family: "Moderat", sans-serif;

$base-font-size:    18px;
$base-font-weight:  400;
$small-font-size:   $base-font-size * 0.875;
$base-line-height:  1.75;

$spacing-unit:      30px;
$s-small:           30px;
$s-tiny:            10px;

$background-color:  #fdfdfd;

$c-signal:          rgba(95,17,232,1);
$c-people:          rgba(255,193,180,1);
$c-business:        rgba(123,215,94,1);
$c-curiosities:     rgba(255,222,127,1);
$c-metal:           #666666;
$c-light:           #f8f8f8;
$c-white:           #ffffff;
$c-dark:            rgba(10,42,79,1);



$cubic-bezier:      cubic-bezier(0.2,2,.3,.8);
$text-color:        $c-dark;
$cb-ease_out:       cubic-bezier(0.14, 0.79, 0.39, 1); // org cubic-bezier(0.2,1,.3,.8)
$cb-ease_in:        cubic-bezier(0.61, 0.02, 0.82, 0.43); // org cubic-bezier(0.2,1,.3,.8)
$easeout:           $cb-ease_out;
$easein:            $cb-ease_in;
$bounce:            cubic-bezier(0.08, 1.51, 0.27, 0.97);


// Width of the content area
$content-width:     59em;

$on-palm:           600px;
$on-laptop:         50em; //800px
$on-desktop:        1280px;

* { box-sizing: border-box }


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "reset",
    "design-system",
    "animations",
    "base",
    "layout",
    "curious",
    "syntax-highlighting", // kanske ta bort denna? 3k
    "_components/boxes",
    "_components/boxgrid",
    "_components/buttons",
    "_components/columns",
    "_components/hero",
    "_components/ingress",
    "_components/imagegrid",
    "_components/maps",
    "_components/metabox",
    "_components/newsflash",
    "_components/navigation",
    "_components/lory-slider",
    "_components/sidescroll",
    "_components/statbox",
    // "_cases/matbaren",
    "_cases/malbaren",
    "_cases/collector",
    "_cases/jool",
    "_cases/brooklyn",
    "_pages/contact",
    "_pages/about",
    "_cases/weibulls",
    // "_library/lory-slider",
    "helpclasses",
    "_news/firstnewsflash",
    "_news/train",
    "_news/svenskaskolan-london",
    "_news/summer-2018",
    "_news/fully-hero",
    "_news/three-houses",
    "_news/lottie-scenes",
    "_curious-about/fully-arcade";
