/**
 * Boxes with drop shadows
 */

.box {
    padding: $s-small*2 0; // make sure all content is inside a p or h tag.
    background: $c-white;
    position: relative;
    // margin-bottom: $s-small;
    margin-left: $s-small*0.5;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    max-width: $content-width;
    @include media-query($on-palm) {
        margin-left: $s-small;
    }
    &:before {
        content:"";
        display: block;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: -1;
        background: $c-signal;
        transform: translate($s-small*0.5, $s-small*0.5);
        @include media-query($on-palm) {
            transform: translate($s-small, $s-small);        
        }
    }

    // Right modification
    &--right{
        margin-left: auto;
        margin-right: $s-small*0.5;
        &:before { transform: translate(-$s-small*0.5, $s-small*0.5) }
        @include media-query($on-palm) {
            margin-left: auto;
            margin-right: $s-small;
            &:before { transform: translate(-$s-small, $s-small) }        
        }
    }

    // Center version
    &--center {
        margin-left: auto;
        margin-right: auto;
    }

    // Different colors
    &--people:before     { background: $c-people }
    &--business:before   { background: $c-business }
    &--curiosities:before { background: $c-curiosities }
    &--metal:before      { background: $c-metal }

    // Background colors on the box and white shadow
    &--bgsignal, &--bgmetal {
        color: $c-white;
        &:before { background: $c-white }
    }
    &--bgpeople, &--bgcuriosities, &--bgbusiness {
        &:before { background: $c-white }
    }
    &--bgsignal     { background: $c-signal };
    &--bgpeople     { background: $c-people };
    &--bgcuriosities { background: $c-curiosities };
    &--bgbusiness   { background: $c-business };
    &--bgmetal      { background: $c-metal };

}

.box + .box {
    margin-top: $s-small*2;
}

// Boxtext
.boxtext {
    background-color: $c-white;
    padding: $s-small $s-small*0.5;
    @include media-query($on-palm) {
        padding: $s-small*3 $s-small*3;    
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &--frame {
        background-color: $c-business;
        color: $c-white;
        margin: calc(1.5em + #{$s-small}) $s-small*0.5;
        position: relative;
        @include media-query($on-palm) {
            margin-left: $s-small*2;
            margin-right: $s-small*2; 
        }
        &:after, &:before {
            content: "";
            position: absolute;
            left: 5%;
            right: 5%;
            pointer-events: none;
        }
        &:before {
            top: -1.5em;
            bottom: -1.5em;
            border: 4px solid $c-business;
        }
        &:after {
            top: 0;
            bottom: 0;
            border-left: 4px solid $c-white;
            border-right: 4px solid $c-white;
        }
    }
}
