/**
* Buttons
*/

$bmove: 4px;

//Default button for use on dark background
.button {
	font-size: 1em;
	font-family: $header-font-family;
	font-weight: bold;
	border: none;
	background-color: transparent;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	user-select: none;
	position: relative;
	z-index: 1;
	padding: 0;
	display: inline-block;
	
	// 3D sida under
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: $c-signal;
		z-index: -1;
		transform: translateX(-$bmove);
		transition: transform 0.6s cubic-bezier(0,.90,.13,.90);
	}
	&:hover, &:focus {
		&:after {
			transform: translateX(0);			
		}
	}

	// End Shadow
	&:focus, &:active {
		outline: none;    
	}

	//The button-part with the text
	span {
		letter-spacing: 0.15em;
		color: $c-signal;
		padding: 0.5em 1.5em;
		background-color: $c-white;
		border: 2px solid $c-signal;
		display: block;
		width: 100%;
		height: 100%;
		transition: transform 0.6s cubic-bezier(0,.90,.13,.90);
		transform: translate3D(0, -$bmove, 0);
		position: relative;
	}
	&:hover, &:focus {
		span {
			transform: translate3D(0, 0, 0);
		}
	}
	&:active span {
		transform: translate3D(0, 0, 0);
		border: 2px solid transparent;
		background-color: transparent;
		color: $c-white;
		:after {
			background-color: none;
		}
	}

	// Inverted button (when on signal bg)
	&--inv {
		span {
			border-color: $c-white;
			background-color: $c-signal;
			color: $c-white;
		}
		&:after {
			background-color: $c-white;
		}
		&:active {
			span {
				color: $c-signal;
			}
		}
	}
}
