.column {
    &__wrapper {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: $s-small 0;
        @include media-query($on-laptop) {
            justify-content: space-around;
        }
    }
    padding: $s-small/3 $s-small;
    
    &--vertical {
        display: flex;
        flex-direction: column;
    }
}