---
layout: default
---

<div class="navigation__wrapper">
    <nav class="navigation" id="startmenu">
        {% include menu.html %}
        <div data-news="firstnewsflash">
            <video class="navigation__video" id="startvideo" poster="{{ page.baseurl }}/assets/hero/{{ page.bgvideoname }}.jpg" autoplay
                muted playsinline loop>
                <source src="{{ page.baseurl }}/assets/hero/{{ page.bgvideoname }}.mp4">
                <img src="{{ page.baseurl }}/assets/hero/{{ page.bgvideoname }}.jpg">
            </video>
            {% unless page.newsflash_buttonurl == nil %}
            <div class="newsflash newsflash--firstnewsflash" data-videomodal>
                {% else %}
                <div class="newsflash newsflash--firstnewsflash" data-videomodal>
                    {% endunless %} {{ page.newsflash | markdownify }} {% unless page.newsflash_buttontext == nil %}
                    <a href="{{page.newsflash_buttonurl}}" class="button button--transparent">
                        <span>{{ page.newsflash_buttontext }}</span>
                    </a>
                    {% endunless %} {% unless page.newsflash_buttonurl == nil %}
                </div>
                {% else %}
            </div>
            {% endunless %}
        </div>
    </nav>
</div>


<div class="boxgrid">
    <h2 class="boxgrid__header h4">Check out our other news</h2>
    {% for new in site.news %}
        {% if new.title == page.title %}
            {% continue %}
        {% endif %}
        <a class="boxgrid__box" href="{{ new.url | prepend: site.baseurl }}">
            
                <div class="boxgrid__image" {% unless new.background-image_color == nil %} style="background-color: {{ new.background-image_color }}" {% endunless %}>
                {% unless new.thumbnail == nil %}
                    <img src="{{site.baseurl}}/assets/news/{{new.slug}}/{{new.thumbnail}}" alt="{{ new.title }}">   
                {% endunless %}
                </div>
                <div class="boxgrid__caption">
                    <h3>{{ new.title }}</h3>
                    <p>{{ new.subtitle }}</p>
                </div>
            
        </a>
    {% endfor %}
</div>