---
layout: default
---

<div class="navigation__wrapper">
    <nav class="navigation" id="startmenu">
        {% include menu.html %}
        <div class="navigation__layerimage navigation__layerimage--svenskaskolan-london" data-news="svenskaskolan-london">
            <div class="parallax-container">
                <div class="parallax-layer" data-depth="0.25">
                    <img src="{{ site.baseurl }}/assets/hero/{{ site.news_imgcloud }}" class="navigation__layerimage-cloud">
                    <img src="{{ site.baseurl }}/assets/hero/{{ site.news_imgcloud }}" class="navigation__layerimage-cloud">
                </div>
                <div class="parallax-layer" data-depth="0.20">
                    <img src="{{ site.baseurl }}/assets/hero/{{ site.news_imgbackground }}" class="navigation__layerimage-background">
                </div>
                <div class="parallax-layer" data-depth="0.15">
                    <img src="{{ site.baseurl }}/assets/hero/{{ site.news_imgright }}" class="navigation__layerimage-right">
                </div>
                <div class="parallax-layer" data-depth="0.1">
                    <img src="{{ site.baseurl }}/assets/hero/{{ site.news_imgleft }}" class="navigation__layerimage-left">
                </div>
            </div>
        </div>
        {% unless page.newsflash_buttonurl == nil %}
        <div class="newsflash newsflash--svenskaskolan-london" data-videomodal>
            {% else %}
            <div class="newsflash newsflash--svenskaskolan-london" data-videomodal>
                {% endunless %} {{ page.newsflash | markdownify }} {% unless page.newsflash_buttontext == nil %}
                <a href="{{page.newsflash_buttonurl}}" class="button">
                    <span>{{ page.newsflash_buttontext }}</span>
                </a>
                {% endunless %} {% unless page.newsflash_buttonurl == nil %}
            </div>
            {% else %}
        </div>
        {% endunless %}
    </nav>
</div>


<div class="boxgrid">
	<h2 class="boxgrid__header h4">Check out our other old news</h2>
	{% for new in site.news limit:3 %}
		{% if new.title == page.title %}
			{% continue %}
		{% endif %}
		<a class="boxgrid__box" href="{{ new.url | prepend: site.baseurl }}">
			
				<div class="boxgrid__image" {% unless new.background-image_color == nil %} style="background-color: {{ new.background-image_color }}" {% endunless %}>
				{% unless new.background-image_720 == nil %}
					<img src="{{site.baseurl}}/assets/news/{{new.slug}}/{{new.background-image_720}}" alt="{{ new.title }}">	
				{% endunless %}
				</div>
				<div class="boxgrid__caption" style="padding-top: 3em">
					<h3>{{ new.title }}</h3>
					<p>{{ new.subtitle }}</p>
				</div>
			
		</a>
	{% endfor %}
</div>