/**
 * Basic styling
 */
html,body {
    background: $c-light;
    // overflow-x: hidden;
}
body {
    font-weight: $base-font-weight;
    font-size: calc( 12px + 0.5vw );
    line-height: $base-line-height;
    font-family: $base-font-family;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

/**
 * Set `margin-top` on a elements siblings
 */
* + *:not(body, path, #barba-wrapper, .site-footer, .box) {
    margin-top: $spacing-unit;
}

// remove this later
.about-us, .cases, .cases__item, .l-column-side {
    margin-top: 0 !important;
}

.header {
    font-size: 3em;
    font-size: 9vw;
    line-height: 1.3;
    @include media-query($on-laptop) {
        font-size: 6vw;
        line-height: 1;
    }
}
.sub-header {
    font-family: $base-font-family;
    font-size: 0.7em;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

.image {
    @extend .fadeIn;
    width: 100%;
}
.image-container {
    position: relative;
    padding-bottom: 100%; /* ratio 1:1 */
    height: 0;
    overflow: hidden;

    &--wide {
        padding-bottom: 75%; /* ratio 4:3 */
        @include media-query($on-laptop) {
            padding-bottom: 33.333%; /* ratio 3:1 */
        }
    }
}



.image-container img, .image-container .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $header-font-family;
    font-weight: 700;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
    // background: red;
}
// p { background: green;}

h1, .h1 { 
    font-size: 5em;
    max-width: calc( 11.2em + #{$spacing-unit*2});
}

h2, .h2 { 
    font-size: 2.5em;
    max-width: calc( 22.4em + #{$spacing-unit*2});
}

h3, .h3 { 
    font-size: 2em;
    max-width: calc( 28em + #{$spacing-unit*2});    
}

h4, .h4 { // eg ingress
    font-size: 1.5em;
    max-width: calc( 37.35em + #{$spacing-unit*2});        
}

h5, .h5, h6, .h6 {
    max-width: calc( 56em + #{$spacing-unit*2});
}

/**
 * Links
 */
a {
    color: $c-signal;
    text-decoration: none;

    &:visited {
        color: $c-signal;
    }
    &:hover   { color: #000; }

    // &:hover {
    //     color: $text-color;
    //     text-decoration: underline;
    // }
}



/**
 * Blockquotes
 */
blockquote {
    color: $c-metal;
    border-left: 4px solid $c-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $c-light;
    border-radius: 3px;
    background-color: rgba($c-metal, 0.2);
    text-align: left;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Other typography
 */
p {
    max-width: 56em; // max 95 characters
    max-width: calc( 56em + #{$spacing-unit*2});
    
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
}

.ingress {
    @extend .h4;
}
p.ingress {
    max-width: calc( 37.35em + #{$spacing-unit*2});    
}


// /**
//  * Wrapper
//  */
// .wrapper {
//     max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
//     max-width:         calc(#{$content-width} - (#{$spacing-unit}));
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//     margin-right: auto;
//     margin-left: auto;
//     @extend %clearfix;

//     @include media-query($on-laptop) {
//         max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
//         max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
//         padding-right: $spacing-unit;
//         padding-left: $spacing-unit;
//     }
// }



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $c-metal;
        }
    }
}


/**
 * Colors
 */

// Help classes for colors
.c-signal { color: $c-signal; }
.c-signal-bg { background-color: $c-signal; color: $c-white; }

.c-people { color: $c-people; }
.c-people-bg { background-color: $c-people }

.c-business { color: $c-business; }
.c-business-bg { background-color: $c-business }

.c-curiosites { color: $c-curiosites; }
.c-curiosites-bg { background-color: $c-curiosites }

.c-metal { color: $c-metal; }
.c-metal-bg { background-color: $c-metal; color: $c-white; }

.c-light { color: $c-light; }
.c-light-bg { background-color: $c-light }

.c-white { color: $c-white; }
.c-white-bg { background-color: $c-white }

.c-dark { color: $c-dark; }
.c-dark-bg { background-color: $c-dark; color: $c-white; }