// Speed Bumps
.cc-speed-bumps {
	.section--2, .section--4 {
		background: $brand-color;
		color: #fff;
	}
}

//Mobile first
.cc-mobile-first {
	.section--2 {
		background: $secondary-color;
		color: #fff;
	}
}