//Single curious pages
.content {
    background: $c-light;
}
$moveContent: 50px; 
.section--1 {
    position: relative;
    z-index: 10;
    top: -$moveContent;
    transform: translate3D(0,$moveContent,0);
    max-width: 60em;
    width: 90%;
    background: #fff;
    // border: 3px solid #ddd;
    // border-radius: 1.5em;
    // mix-blend-mode: exclusion;
    // color: #ddd;

    margin: 0 auto;
    animation: moveBack 0.7s forwards cubic-bezier(0.3,0,.1,1);
    // box-shadow: 0 5px 10px rgba(#000, 0.05);
    @include media-query($on-laptop) {
        $moveContent: 100px;
        top: -$moveContent;
        transform: translate3D(0,$moveContent,0);
    }
}

.wrapper--1 {
	position: relative;
	padding-bottom: 5em;
	@include media-query($on-laptop) {
		padding-bottom: 0;
	}

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		background: url(../assets/owd-bob/owd-bob_signed.jpg) no-repeat;
		@include media-query($on-laptop) {
			background-image: url(../assets/owd-bob/owd-bob_signed-2.jpg);
		}
		background-size: cover;
		background-position: right;
		// background-size: auto 100%;
		// background-position: 0% 40%;
		opacity: 0;
	}
}
.ready .wrapper--1:before {
	animation: fadeIn 1s forwards;
}


// Art Directed posts

// Speed Bumps
$speed-bumps-color: #232b40;

.cc__item--speed-bumps {
    background: $speed-bumps-color;
    // background: linear-gradient(to bottom, rgba(#232b40,1) 0%,rgba(#304270,1) 100%);
    position: relative;

    .cc__image {
        width: 50%;
        opacity: 0.3;
        transition: transform 3s $cb-ease_out;
        transform: rotate3d(-21, 12, 0, 50deg) translate3d(50%,0,0);
    }
    &:hover .cc__image {
    	transform: rotate3d(-15, 8, 0, 48deg) translate3d(50%,0,0);
    }
}


.cc-speed-bumps {
	color: $speed-bumps-color;

	.cc__overlay {
		transform: translate3D(0, -10px,0);
		@include media-query($on-laptop) {
			transform: translate3D(0, -2px,0);
		}
		animation: moveBack 0.7s forwards;
	}
	.page-meta {
		opacity: 0;
		animation: fadeIn 0.7s forwards;
	}


	// Section 2
	
	.section--2 {
		width: 90%;
		max-width: 60em;
		margin: 0 2% 0 auto;
		position: relative;
		top: -$moveContent*2;
		padding-top: $moveContent;
		background: $speed-bumps-color;
		color: #fff;
		@include media-query($on-laptop) {
			width: 80%;
			margin: 0 2% 0 auto;
			$moveContent: 100px;
			top: -$moveContent*2;
			padding-top: $moveContent;
		}
	}

	// Section 3

	.section--3 {
		.text-content {
			@extend .l-center;
		}
	}
	.section--3__image {
		width: 80%;
		@extend .l-small-column;
		path {
			stroke: $speed-bumps-color;
		}
	}


	// Section 4
	
	.section--4 {
		.text-content {
			background: $speed-bumps-color;
			color: #fff;
		}
	}

	.section--5 {
		.text-content {
			@extend .l-flex;
		}
	}
	.section--6 {
		background: $speed-bumps-color;
		color: #fff;

		.text-content {
			@extend .l-center;
			flex-direction: column;
		}
		
	}
	.keyhole__svg {
	    width: 100%;
	    height: auto;
	    fill: $c-light;
	    position: absolute;
	    top: 0; left: 0;
	    z-index: 2;
	    // pointer-events: none;
	}

	.keyhole {
		@extend .l-small-column;
	    width: 190px;
	    height: 285px;
	    margin-bottom: 2em;
	    overflow: hidden;
	    background: #f3f3f3;
	    position: relative;
	    @include media-query($on-laptop) {
	    	width: 100px;
		    height: 358px;
		}
	}
	.keyhole__content {
	    position: absolute;
	    top: 0; left: 0;
	    width: 100%;
	    height: 100%;
	    // overflow: scroll;
	    margin: 2px; //firefox fix to prevent spilling outside of container
	    img {
	        width: 100%;
	        height: auto;
	        transform: translate3D(0,-50%,0);
	        animation: moveUpDown 120s infinite ease;
	    }
	    &:hover img {
	        animation-play-state: paused;
	        // transform: translate3D(0,20px,0);
	    }
	}

	// .keyhole__svg {
	//     width: 100%;
	//     height: auto;
	//     fill: $c-light;
	//     position: absolute;
	//     top: 0; left: 0;
	//     z-index: 2;
	//     pointer-events: none;
	// }

	// .keyhole {
	// 	@extend .l-small-column;
	//     margin-bottom: $spacing-unit/2;
	//     width: 70%;
	//     height: 0;
	//     padding-bottom: 105%;
	//     @include media-query($on-laptop) {
	//     	padding-bottom: 42.8%;
	//     }
	//     overflow: hidden;
	//     background: #f3f3f3;
	//     position: relative;
	//     pointer-events: none;
	// }
	// .keyhole__content {
	//     position: absolute;
	//     top: 0; left: 0;
	//     width: 100%;
	//     height: 100%;
	//     overflow: scroll;
	//     img {
	//         width: 100%;
	//         height: auto;
	//         transition: transform 5s ease;
	//         transform: translate3D(0,-20px,0);
	//         animation: moveUpDown 15s infinite ease reverse;
	//     }
	//     &:hover img {
	//         animation-play-state: paused;
	//         //transform: translate3D(0,0,0);
	//     }
	// }
}


//Mobile first
.cc-mobile-first {
	.section--2 {
		background: $c-signal;
		color: #fff;
	}
}