.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(5vh, auto); // 20 rows per vp
    grid-auto-rows: minmax(5vh, auto);
    // min-height: 100vh;
    &--space {
        margin-top: $s-small*2;
        margin-bottom: $s-small*2;
    }
    &--padding {
        padding-left: $s-small;
        padding-right: $s-small;
    }

    // 2 column grid component. Example: Case Owd Bob
    &__column1-2 {
        margin-bottom: $s-small;
        grid-column: 1 / span 12;
        grid-row: 1;
        justify-self: center;
        @include media-query($on-laptop) {
            grid-column: 1 / span 6;
        }
    }
    &__column2-2 {
        margin-bottom: $s-small;
        grid-column: 1 / span 12;        
        grid-row: 2;
        justify-self: center;
        @include media-query($on-laptop) {
            grid-column: 7 / span 6;
            grid-row: 1;
        }
    }

    // 2 column offset component. Example: Landing Case
    &__offsetcolumn1-2 {
        grid-column: 1 / span 12;
        grid-row: 4 / span 13;
        @include media-query($on-laptop) {
            grid-column: 1 / span 8;
            grid-row: 2 / span 13;
        }
        &--small {
            grid-row: 4 / span 8;        
            @include media-query($on-laptop) {
                grid-row: 2 / span 8;
            }
        }
    }
    &__offsetcolumn2-2 {
        grid-column: 2 / span 13;
        grid-row: 1 / span 4; 
        @include media-query($on-laptop) {
            grid-column: 8 / span 5;
            grid-row: 1 / span 8;
        }
    }

    // Fullwidth image with box underneath
    &__fullwidth {
        grid-column: 1 / span 12;
        grid-row: 1 / span 10; 
    }

    &__boxunder {
        grid-column: 2 / span 10;
        grid-row: 7 / span 4; 
        @include media-query($on-laptop) {
            grid-column: 2 / span 10;
            grid-row: 7 / span 8;
        }
    }

    
}


// Landing layout
.logowall {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: $content-width;
    .kappahl-logo {
        margin-top: 8px;
    }
    .column {
        margin-bottom: $s-small;
    }
}

.footer {
    background-color: $c-white;
    margin: 0 $s-small;
    
    @include media-query($on-laptop) {
        font-size: 80%;
        margin: $s-small*2 $s-small 0;
    }
    img {
        width: 6em;
        height: 5.6em;
    }
}


// About layout
.gridabout {
    display: grid;
    grid-template-columns: 1fr;
    @include media-query($on-laptop) {
        grid-template-columns: 1fr 1fr;
    }
}

/**
 * Site header
 */
.site-header {
    &__svg {
        fill: $c-white;
        opacity: 1;
        transition: fill 0.7s;
        &:hover {
            fill: $c-people;
        }
        width: 4em;
        height: 4em;
        // background: url(../assets/sketch/logo-2.svg) no-repeat;
        background-size: 97% 97%;
        @include media-query($on-laptop) {
            width: 4em;
            height: 4em;
        }
    }

    &__logoanim {
        width: calc(7em + 3vw);
        height: calc(7em + 3vw);
    }

    .button--nav {
        margin: $s-small;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        &.menu-open {
            z-index: 40;
        }
    }
    .site-header__logo {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 40;
    }
}


// Image grid
.imagegrid {
    display: flex;
    flex-flow: row wrap;
    margin: $s-small*0.5;
    @include media-query($on-palm) {
        margin: $s-small*0.75;
    }
    .imagegrid__image {
        margin: $s-small*0.25 0;
        @include media-query($on-palm) {
            margin: $s-small*0.25;
            height: auto; 
            flex: 1 0  calc(50% - #{$s-small*0.5});
            max-width: calc(50% - #{$s-small*0.5});
        }
        @include media-query($on-laptop) {
            flex: 1 0  calc(33.333% - #{$s-small*0.5});
            max-width: calc(33.333% - #{$s-small*0.5});
        }
    }
    img {
        width: 100%;
        height: auto;
    }
    &--firstlarge {
        .imagegrid__image:first-child {
            width: 100%;
            @include media-query($on-palm) {
                flex: 1 0  calc(100% - #{$s-small*0.5});
                max-width: calc(100% - #{$s-small*0.5});
            }
        }
    }
}
.imageline {
    background-color: $c-dark;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    max-width: 1300px;
    padding: $s-small*0.5;
    @include media-query($on-palm) {
        padding: $s-small;
    }

    &__image {
        flex: 1 0 calc(50% - #{$s-small*0.5});
        @include media-query($on-palm) {
            flex: 1;
        }
        margin: $s-small*0.25;
        // display: inline-block;
        // background: #fff;
        // width: 100%;
        // grid-column: auto;
        // grid-row: auto;
        // padding: $s-small*0.5;
        // height: 40vh;
        // width: auto;
        // img {
        // }
    }
    // display: grid;
    // grid-gap: 10px;
    // grid-template-columns: repeat(auto-fill, 100px ) ;
    // // grid-template-rows: 40vh;
}


/**
 * Cases section
 */


.case2__image {
    width: 100vw;
    height: 100vw * 0.5;
    @include media-query($on-laptop) {
        width: 30vw;
        height: 30vw * 0.5;
    }

    perspective: 1000px;
}
#mbkz_bg, #mbkz_menu, #mbkz_side, #mbkz_content {
    // transition: transform 1.6s $cubic-bezier;
    transform-origin: 50% 50%;
}

// ###############################################
// remove this??? ################################

.text-content {
    padding: $spacing-unit/2 $spacing-unit/2 $spacing-unit/2;
    max-width: $content-width;
    margin: 0 auto;
    text-align: left;
    @include media-query($on-laptop) {
        padding: $spacing-unit $spacing-unit $spacing-unit;
    }
    &--right {
        margin-right: 0;
    }
}
