// @import url(https://fonts.googleapis.com/css?family=Playfair+Display:900italic,700italic);


@font-face {
    font-family: 'moderat';
    src: url('../assets/typefaces/moderat-subset/moderat-regular-webfont.woff2') format('woff2'),
         url('../assets/typefaces/moderat-subset/moderat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'moderat';
    src: url('../assets/typefaces/moderat-subset/moderat-bold-webfont.woff2') format('woff2'),
         url('../assets/typefaces/moderat-subset/moderat-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// Our variables
$base-font-family: "Fira Mono", monospace;
$header-font-family: "Moderat", sans-serif;

$base-font-size:    18px;
$base-font-weight:  400;
$small-font-size:   $base-font-size * 0.875;
$base-line-height:  1.75;

$spacing-unit:      30px;
$s-small:           30px;

$background-color:  #fdfdfd;

$c-signal:          rgba(95,17,232,1);
$c-people:          rgba(255,193,180,1);
$c-business:        rgba(123,215,94,1);
$c-curiosities:      rgba(255,222,127,1);
$c-metal:           #666666;
$c-light:           #f8f8f8;
$c-white:           #ffffff;
$c-dark:            rgba(10,42,79,1);



$cubic-bezier:      cubic-bezier(0.2,2,.3,.8);
$text-color:        $c-dark;
$cb-ease_out:       cubic-bezier(0.2,1,.3,.8);


// Width of the content area
$content-width:     60em;

$on-palm:           600px;
$on-laptop:         50em; //640px

* { box-sizing: border-box }


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "reset",
    "design-system",
    "animations",
    "base",
    "layout",
    "curious",
    "syntax-highlighting",
    "components/boxes",
    "components/boxgrid",
    "components/buttons",
    "components/columns",
    "components/hero",
    "components/ingress",
    "components/metabox",
    "components/navigation",
    "cases/matbaren";
