// @import url(https://fonts.googleapis.com/css?family=Playfair+Display:900italic,700italic);

@font-face {
  font-family: "GT-Pressura-Mono-Regular";
  src: url("../assets/sketch/GT-Pressura-Mono-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

// Our variables
$base-font-family: "GT-Pressura-Mono-Regular", monospace;
$header-font-family: "Playfair Display", serif;

$base-font-size:    16px;
$base-font-weight:  400;
$small-font-size:   $base-font-size * 0.875;
$base-line-height:  1.5;

$spacing-unit:      60px;

$background-color:  #fdfdfd;
$brand-color:       #e08f8f;
$brand-color-invert:#ffffff;

// $secondary-color:   rgba(52,170,199,1);
$secondary-color:   rgb(195, 255, 220);
$secondary-color-invert:   #333;

$third-color:       rgba(174,90,253,1);
$third-color-invert: #ffffff;

$grey:       #828282;
$grey-light: lighten($grey, 45%);
$grey-dark:  darken($grey, 25%);

$cubic-bezier:      cubic-bezier(0.2,2,.3,.8);
$text-color:        $brand-color;
$cb-ease_out:       cubic-bezier(0.2,1,.3,.8);


// Width of the content area
$content-width:     60em;

$on-palm:           600px;
$on-laptop:         40em; //640px

* { box-sizing: border-box }


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"reset",
  "animations",
  "base",
  "layout",
  "curious",
  "syntax-highlighting",
  "components/buttons";