---
layout: case
---

{% unless page.section1 == nil %}
    <section class="sectionspacing">
        {{ page.section1 | markdownify }}
    </section>
{% endunless %}

{% unless page.section2 == nil %}
    <section class="sectionspacing">
        {{ page.section2 | markdownify }}
    </section>
{% endunless %}

{% unless page.section3 == nil %}
    <section class="sectionspacing">
        {{ page.section3 | markdownify }}
    </section>
{% endunless %}

{% unless page.section4 == nil %}
    <section class="sectionspacing">
        {{ page.section4 | markdownify }}
    </section>
{% endunless %}

{% unless page.section5 == nil %}
    <section class="sectionspacing">
        {{ page.section5 | markdownify }}
    </section>
{% endunless %}

{% unless page.section6 == nil %}
    <section class="sectionspacing">
        {{ page.section6 | markdownify }}
    </section>
{% endunless %}

{% unless page.section7 == nil %}
    <section class="sectionspacing">
        {{ page.section7 | markdownify }}
    </section>
{% endunless %}

{% unless page.section8 == nil %}
    <section class="sectionspacing">
        {{ page.section8 | markdownify }}
    </section>
{% endunless %}

{% unless page.section9 == nil %}
    <section class="sectionspacing">
        {{ page.section9 | markdownify }}
    </section>
{% endunless %}

<p>
<a class="metabutton" href="mailto:{{page.author-email}}">
    Author: <span>{{page.author}}</span>
</a>
</p>

{% comment %}{% unless page.section4 == nil %}
<div class="grid grid--space">
    <div class="grid__offsetcolumn2-2 c-business-bg flexcenter" id="lettering2">
        <style>
        #lettering2 svg {
            padding: 6vw;
            max-height: 60vh;
        }
        </style>
    </div>

    <section class="grid__offsetcolumn1-2 grid__offsetcolumn1-2--small box box--business">
        {{ page.section4 | markdownify }}
    </section>
</div>
{% endunless %}{% endcomment %}


{% comment %}{% unless page.image3_2880 == nil %}
    <img class="image"
        alt="{{image3_alt}}"
        width="1440" height="643"
        src="{{site.baseurl}}/assets/{{ page.image3_1440 }}" 
        srcset="{{site.baseurl}}/assets/{{ page.image3_2880 }} 2880w,
                {{site.baseurl}}/assets/{{ page.image3_1440 }} 1440w"
        sizes="(min-width: 580px) 50vw,
                100vw">
{% endunless %}{% endcomment %}