---
layout: case
---

{% unless page.section1 == nil %}
    <section class="sectionspacing-small">
        <p>
            {{ page.section1 | markdownify }}
        </p>
    </section>
{% endunless %}

{% unless page.video_IDs == nil %}
    <section class="imagegrid imagegrid--firstlarge">
        {% for video in page.video_IDs %}
        <div class="imagegrid__image imagegrid__image--two">
            <div class="video">
                <iframe src="https://player.vimeo.com/video/{{video}}?color=5F11E8&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        {% endfor %}
    </section>
{% endunless %}

{% unless page.section2 == nil %}
    <section class="sectionspacing-small">
        <div class="box box--right box--business">
            {{ page.section2 | markdownify }}
        </div>
    </section>
{% endunless %}

{% unless page.trivia == nil %}
    <section class="imagegrid imagegrid--compact-center">
        {% for trivia in page.trivia %}
            <div class="imagegrid__image">
                <video class="image" loop autoplay muted playsinline>
                    <source src="{{ site.baseurl }}/assets/work/{{page.slug}}/{{ trivia.video }}">
                </video>
                <div class="caption">
                    {{trivia.text}}
                </div>
            </div>
        {% endfor %}
    </section>
{% endunless %}
