---
layout: case
---

{% unless page.section1 == nil %}

    <div class="grid grid--space grid--padding">
        <div class="grid__column1-2 flexcenter">
            {{ page.section1 | markdownify }}
        </div>
        <div class="grid__column2-2 flexcenter">
            <img class="image"
                alt="{{page.section1-image_alt}}"
                width="1920" height="1080"
                src="{{site.baseurl}}/assets/work/{{page.slug}}/{{ page.section1-image_small }}" 
                srcset="{{site.baseurl}}/assets/work/{{page.slug}}/{{ page.section1-image_medium }} 1440w,
                        {{site.baseurl}}/assets/work/{{page.slug}}/{{ page.section1-image_small }} 720w"
                sizes="(min-width: 580px) 50vw,
                        100vw">
        </div>
    </div>

{% endunless %}

{% unless page.section2 == nil %}
    <div class="box box--business">
        {{ page.section2 | markdownify }}
    </div>
{% endunless %}

{% unless page.section3 == nil %}
    <div class="sectionspacing center">
        {{ page.section3 | markdownify }}
    </div>
{% endunless %}

{% unless page.section3_video == nil %}
    <div class="video">
        <iframe src="https://player.vimeo.com/video/{{page.section3_video}}" width="1920" height="1080" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
{% endunless %}

{% unless page.section4 == nil %}
    <div class="grid grid--space sectionspacing-small">
        <div class="background-image grid__offsetcolumn1-2" style="background-image: url({{site.baseurl}}/assets/work/{{page.slug}}/{{page.section4-image_large}})"></div>
        <div class="grid__offsetcolumn2-2 bring-to-front">
            <div class="box box--people box--up box--right">{{ page.section4 | markdownify }}</div>
        </div>
    </div>
{% endunless %}

{% unless page.section5 == nil %}
    <div class="sectionspacing-small">
        {{ page.section5 | markdownify }}
        

    </div>
{% endunless %}

{% unless page.section5_videos == nil %}
    <section class="imagegrid">
        {% for videoid in page.section5_videos %}
        <div class="imagegrid__image imagegrid__image--two">
            <div class="video">
                <iframe src="https://player.vimeo.com/video/{{videoid}}" width="1920" height="1080" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        {% endfor %}
    </section>
{% endunless %}

{% unless page.section6 == nil %}
    <div class="sectionspacing-small box box--center">
        {{ page.section6 | markdownify }}
        <p>
            <a class="metabutton" href="mailto:{{page.author-email}}">
                Author: <span>{{page.author}}</span>
            </a>
        </p>
    </div>
{% endunless %}