---
layout: default
---
<article class="page" itemscope itemtype="http://schema.org/BlogPosting">
	
	{% unless page.backgroundimage_2880 == nil %}
	<style>
		.hero--{{page.slug}} {
			background-image: url({{site.baseurl}}/assets/{{ page.backgroundimage_1440 }});
		}
		@media (min-width: 1600px), (min-width: 1200px) and (min-resolution: 2dppx) {
			.hero--{{page.slug}} {
				background-image: url({{site.baseurl}}/assets/{{ page.backgroundimage_2880 }});
			}
		}
	</style>
	{% endunless %}
	<div class="hero hero--{{ page.slug }}{% unless page.backgroundimage_2880 == nil %} background-image{% endunless %}" id="work_{{ page.slug }}">
		{% comment %}<span class="hero-meta">{{ page.date | date: "%b %-d, %Y" }}</span>{% endcomment %}
		<header class="hero__header">
			<h1 itemprop="name headline">
				{{ page.title }}
			</h1>
			<h2>{{page.subtitle}}</h2>
			{% comment %}<p class="page-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %} {% endcomment %}
			{% comment %}<span class="categories">{{ page.categories }}<span></p>{% endcomment %}
		</header>

		{% comment %}
		###################################
		## Get code for the background set
		## in current curious-about post
		{% endcomment %}
		{% unless page.background == nil %}
		<div class="hero__background">
			{{ page.background }}
		</div>
		{% endunless %}

		<div class="metabox column__wrapper">
			<div class="column column--vertical">
				<strong class="meta-description">Client:</strong>
				<span class="meta">{{page.client}}</span>
			</div>
			<div class="column column--vertical">
				<strong class="meta-description">Project:</strong>
				<span class="meta">{{page.project}}</span>
			</div>
			<div class="column column--vertical">
				<a href="{{page.link}}" class="button"><span>{{page.link-text}}</span></a>
			</div>
		</div>

    </div>

	{% unless page.ingress == nil %}
	<div class="ingress ingress--{{ page.slug }}">
		{{ page.ingress | markdownify }}

		<a class="metabutton" href="mailto:{{page.authoremail}}">
			Author: <span>{{page.author}}</span>
		</a>
		
	</div>
	{% endunless %}

	<main itemprop="articleBody">
		{{ content }}
	</main>

</article>

<div class="boxgrid">
	<h2 class="boxgrid__header h4">Check out our other projects</h2>
	{% for work in site.work %}
		{% if work.title == page.title %}
			{% continue %}
		{% endif %}
		<a class="boxgrid__box" href="{{ work.url | prepend: site.baseurl }}">
			<figure>
				<div class="image-loader" style="background: #ccc"> 
					<img src="http://placekitten.com/g/644/400" alt="{{ work.title }}">	
				</div>
				<figcaption>
					<h3>{{ work.title }}</h3>
					<p>{{ work.subtitle }}</p>
				</figcaption>
			</figure>
		</a>
	{% endfor %}
</div>

{% comment %}
####################
## Get scripts from
## current post
{% endcomment %}

{% for js in page.scripts %}
	{% assign root = 'js/' %}
	<script type="text/javascript">
	{% include {{ root | append: js }} %}
	</script>
{% endfor %}