---
layout: page
---


{% unless page.section1 == nil %}
    <section class="gridabout">
        <div class="boxtext h4">
            {{ page.section1 | markdownify }}
        </div>
    </section>
{% endunless %}

<section id="we-are-fully" class="boxgrid boxgrid--offset">

    {% for employee in page.employees %}
        <figure class="boxgrid__box">
            <div class="image-loader" style="background: #c1c1c1"> <!--Change this color to an average color from the image-->
                <img src="" alt="{{ employee.name }}">	
            </div>
            <figcaption>
                <h3>{{ employee.name }}</h3>
                <p>{{ employee.title }}</p>
                <p>Drop me a line at <a href="mailto:{{employee.email}}">{{employee.email}}</a> or give me a call on <a href="tel:{{employee.tel}}"></a>{{employee.tel}}</p>
            </figcaption>
        </figure>
    {% endfor %}

</section>


<h1  class="center">[ MAP ]</h1>