---
layout: default
---
<article class="page cc-{{ page.slug }}" itemscope itemtype="http://schema.org/BlogPosting">
	
	<div class="cc">
        <div class="cc__item cc__item--{{ page.slug }} ">
            <!-- <span class="cc-meta">{{ page.date | date: "%b %-d, %Y" }}</span> -->
            <header class="cc__overlay">
                <h1 class="header" itemprop="name headline">
                    <span class="cc__subheader">Current curiosity:</span> 
                    {{ page.title }}
                </h1>
				<p class="page-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %} 
				<span class="categories">{{ page.categories }}<span></p>
            </header>
      <!--       <div class="pagination">
                <div class="pagination__counter">1<span>/3</span></div>
                <a class="pagination__arrow pagination__next" href="#">→</a>
                <a class="pagination__arrow pagination__previous disabled" href="#">←</a>
            </div> -->
			
			<!-- 
			###################################
			## Get code for the background set
			## in current curious-about post
			-->
            {% unless page.background == nil %}
            <div class="cc__background">
                {{ page.background }}
            </div>
            {% endunless %}

            <!-- 
            ####################
            ## Get scripts from
            ## current post
            -->
            {% for js in page.scripts %}
                <script type="text/javascript">
                {% include {{ js }} %}
                </script>
            {% endfor %}
       


        </div>
    </div>

	<div class="content" itemprop="articleBody">
		
		<!-- 
		###################################
		## Get all content (sections) from
		## the current curious-about post
		-->
		<div class="wrapper wrapper--1">
			{% unless page.section1 == nil %}
			<div class="section section--1">
				<div class="text-content">
					{{ page.section1 | markdownify }}
				</div>
			</div>
			{% endunless %}

			{% unless page.section2 == nil %}
			<div class="section section--2">
				<div class="text-content">
					{{ page.section2 | markdownify }}
				</div>
			</div>
			{% endunless %}
		</div>

		{% unless page.section3 == nil %}
		<div class="section section--3">

			<div class="text-content">
				<div class="section--3__image" id="lettering2"></div>
				<script type="text/javascript">
				var lettering2 = document.getElementById('lettering2');
				if( lettering2 ) {
				    var filepath = '/assets/owd-bob/feb27.svg';
				    //var filepath = '/assets/owd-bob/apr12.svg';
				    var lettering2_v = new Vivus('lettering2', {
				        duration: 250, 
				        file: filepath,
				        type: 'delayed',
				        animTimingFunction: Vivus.EASE_OUT,
				        onReady: function(e){
				        	setInterval(function(){ e.play(-1); }, 3000);
				        	setInterval(function(){ e.play(); }, 4000);
				        }
				    });


				}
				</script>
				<div>
				{{ page.section3 | markdownify }}
				</div>
			</div>
		</div>
		{% endunless %}

		{% unless page.section4 == nil %}
		<div class="section section--4">
			<div class="text-content">
				{{ page.section4 | markdownify }}
			</div>
		</div>
		{% endunless %}

	</div>

</article>


<header class="text-content">
	<h2>Other curiousities:</h2>
</header>
<ul class="case-list case-list--small">
	{% for curious in site.curious-about %}
		{% if curious.title == page.title %}
			{% continue %}
		{% endif %}
		<li class="case-list__item">
			<!-- <span class="case-meta">{{ case.date | date: "%b %-d, %Y" }}</span> -->
			<a class="case-link" href="{{ curious.url | prepend: site.baseurl }}">
				<h2 class="case-list__header">
					{{ curious.title }}
				</h2>
			</a>
		</li>
	{% endfor %}
</ul>