---
layout: default
---
<article class="page" itemscope itemtype="http://schema.org/BlogPosting">
	
	<div class="hero" style="background-image: url({{ site.baseurl }}/assets/sketch/curious.svg)"></div>
	
	<header class="page-header">
		<h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>
		<p class="page-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %} 
		<span class="categories">{{ page.categories }}<span></p>
	</header>

	<div class="text-content" itemprop="articleBody">
		{{ content }}
	</div>

</article>


<header class="text-content">
	<h2>Older curiousities:</h2>
</header>
<ul class="case-list case-list--small">
	{% for curious in site.curious-about %}
		{% if curious.title == page.title %}
			{% continue %}
		{% endif %}
		<li class="case-list__item">
			<!-- <span class="case-meta">{{ case.date | date: "%b %-d, %Y" }}</span> -->
			<a class="case-link" href="{{ curious.url | prepend: site.baseurl }}">
				<h2 class="case-list__header">
					{{ curious.title }}
				</h2>
			</a>
		</li>
	{% endfor %}
</ul>