---
layout: default
---
<article class="page cc-{{ page.slug }}" itemscope itemtype="http://schema.org/BlogPosting">
	
	<div class="cc">
        <div class="cc__item cc__item--{{ page.slug }} ">
            <!-- <span class="cc-meta">{{ page.date | date: "%b %-d, %Y" }}</span> -->
            <header class="cc__overlay">
                <h1 class="header" itemprop="name headline">
                    <span class="cc__subheader">Current curiosity:</span> 
                    {{ page.title }}
                </h1>
				<p class="page-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %} 
				<span class="categories">{{ page.categories }}<span></p>
            </header>
      <!--       <div class="pagination">
                <div class="pagination__counter">1<span>/3</span></div>
                <a class="pagination__arrow pagination__next" href="#">→</a>
                <a class="pagination__arrow pagination__previous disabled" href="#">←</a>
            </div> -->
			
			<!-- 
			###################################
			## Get code for the background set
			## in current curious-about post
			-->
            {% unless page.background == nil %}
            <div class="cc__background">
                {{ page.background }}
            </div>
            {% endunless %}

            <!-- 
            ####################
            ## Get scripts from
            ## current post
            -->
            {% for js in page.scripts %}
                <script type="text/javascript">
                {% include {{ js }} %}
                </script>
            {% endfor %}
       


        </div>
    </div>

	<div class="content" itemprop="articleBody">
		
		<!-- 
		###################################
		## Get all content (sections) from
		## the current curious-about post
		-->
		<div class="wrapper wrapper--1">
			{% unless page.section1 == nil %}
			<div class="section section--1">
				<div class="text-content">
					{{ page.section1 | markdownify }}
				</div>
			</div>
			{% endunless %}

			{% unless page.section2 == nil %}
			<div class="section section--2">
				<div class="text-content">
					{{ page.section2 | markdownify }}
				</div>
			</div>
			{% endunless %}
		</div>

		{% unless page.section3 == nil %}
		<div class="section section--3">

			<div class="text-content">
				<div class="section--3__image" id="lettering2"></div>
				<script type="text/javascript">
				var lettering2 = document.getElementById('lettering2');
				if( lettering2 ) {
				    var filepath = '/assets/owd-bob/feb27.svg';
				    //var filepath = '/assets/owd-bob/apr12.svg';
				    var lettering2_v = new Vivus('lettering2', {
				        duration: 250, 
				        file: filepath,
				        type: 'delayed',
				        animTimingFunction: Vivus.EASE_OUT,
				        onReady: function(e){
				        	setInterval(function(){ e.play(-1); }, 3000);
				        	setInterval(function(){ e.play(); }, 4000);
				        }
				    });


				}
				</script>
				<div>
				{{ page.section3 | markdownify }}
				</div>
			</div>
		</div>
		{% endunless %}

		{% unless page.section4 == nil %}
		<div class="section section--4">
			<div class="l-offset">
				<div class="image-container image-container--wide">
					<picture class="image">
						<source srcset="{{ "/assets/owd-bob/mona_with_logo_1200.jpg" | prepend: site.baseurl }}" media="(min-width: 641px)">
						<source srcset="{{ "/assets/owd-bob/mona_with_logo_2300.jpg" | prepend: site.baseurl }}" media="(min-width: 1800px)">
						<img src="{{ "/assets/owd-bob/mona_with_logo_1200.jpg" | prepend: site.baseurl }}" alt="Owd Bob's logo on top of Mona Lisa">
					</picture>
				</div>
			</div>
			<div class="l-offset l-offset--right">
				<div class="text-content text-content--right">
					{{ page.section4 | markdownify }}
				</div>
			</div>
		</div>
		{% endunless %}

		{% unless page.section5 == nil %}
		<div class="section section--5">
			<div class="text-content">

				<div class="keyhole">
				    <div class="keyhole__content">
				        <img src="{{ "/assets/owd-bob/instagram-feed_elin-johnsson.jpg" | prepend: site.baseurl }}" alt="Instagram feed from Owd Bob">
				    </div>
				    <svg class="keyhole__svg" xmlns="http://www.w3.org/2000/svg" width="200" height="300" viewBox="0 0 200 300"><title>keyhole</title><path d="M100,0a80,80,0,0,1,56.12,137l-2.43,2.39c-2.91,2.37-4.68,8.76-3.93,14.21l18.87,136.49A8.49,8.49,0,0,1,160,300h40V0H100Z"/><path d="M0,300H40a8.49,8.49,0,0,1-8.63-9.91L50.24,153.6c0.75-5.45-1-11.84-3.93-14.21L43.88,137A80,80,0,0,1,100,0H0V300Z"/></svg>

				</div>

				<div class="text">
					{{ page.section5 | markdownify }}
				</div>
			</div>
		</div>
		{% endunless %}

		{% unless page.section6 == nil %}
		<div class="section section--6">
			<div class="text-content">
				{{ page.section6 | markdownify }}
				<a href="{{site.baseurl}}/contact" class="button"><span>Get in touch</span></a>
			</div>
		</div>
		{% endunless %}

	</div>

</article>


<header class="text-content">
	<h2>Other curiousities:</h2>
</header>
<ul class="case-list case-list--small">
	{% for curious in site.curious-about %}
		{% if curious.title == page.title %}
			{% continue %}
		{% endif %}
		<li class="case-list__item">
			<!-- <span class="case-meta">{{ case.date | date: "%b %-d, %Y" }}</span> -->
			<a class="case-link" href="{{ curious.url | prepend: site.baseurl }}">
				<h2 class="case-list__header">
					{{ curious.title }}
				</h2>
			</a>
		</li>
	{% endfor %}
</ul>