---
layout: default
---
<article class="page">
  

  <div class="hero hero--{{ page.slug }}{% unless page.background-image_2880 == nil %} background-image{% endunless %} {{page.bg-color}}" id="work_{{ page.slug }}">
    <header class="hero__header">
      <h1 itemprop="name headline">
        {% if page.pagetitle != nil %}
          {{ page.pagetitle }}
        {% else %}
          {{ page.title }}
        {% endif %}
      </h1>
      {% unless page.subtitl == nil %}
      <h2>{{page.subtitle}}</h2>
      {% endunless %}
    </header>

    {% comment %}
    ###################################
    ## Get code for the background set
    ## in current curious-about post
    {% endcomment %}
    {% unless page.background == nil %}
    <div class="hero__background">
      {{ page.background }}
    </div>
    {% endunless %}
  </div>

  <div>
    {{ content }}
  </div>

</article>
