<!DOCTYPE html>
<html lang="en-US">
  <meta charset="utf-8">
  <title>Redirecting&hellip;</title>
  <link rel="canonical" href="{{ page.redirect.to }}">
  <meta http-equiv="refresh" content="0; url={{ page.redirect.to }}">
  <meta name="robots" content="noindex">
  <style>
  html,body {
    background-color: #f8f8f8;
    height: 100%;
    color: rgba(95,17,232,1);
    font-family: 'Fira Mono', monospace;
    margin: 0;
  }
  body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  a, a:visited { color: rgba(95,17,232,1); }
  </style>
  <body>
    <h1>Redirecting…</h1>
    <a href="{{ page.redirect.to }}">Click here if you are not redirected.</a>
    <script>location="{{ page.redirect.to }}"</script>
  </body>
</html>