/**
 * Basic styling
 */
html,body {
    background: $c-light;
    width: 100%;
    height: 100%;
}
body {
    font-weight: $base-font-weight;
    font-size: calc( 12px + 0.5vw );
    line-height: $base-line-height;
    font-family: $base-font-family;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    color: $text-color;
}

/**
 * Set `margin-top` on a elements siblings
 */
// * + *:not(body, path, #barba-wrapper, .barba-container, .site-footer, .box, .cc__background, .column, .meta) {
//     margin-top: $spacing-unit;
// }
p + *, ol + *, ul + * {
    margin-top: $spacing-unit;
}

/**
 * Images
 */
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
svg { max-width: 100%}

.image {
    width: 100%;
    height: auto;
}
.image + * {
    margin-top: $s-small;
    @include media-query($on-palm) {
        margin-top: $s-small*2;
    }
}

.image-loader {
    // display: inline-block;
    position: relative;
    padding-bottom: 56.3%; // 16 : 9 ratio
    width: 100%;
    overflow: hidden;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        transition: opacity 0.4s;
    }
}

// Video
.video {
    position: relative;
    padding-bottom: 55.95%; /* 16:9 */
    height: 0;
}
.video iframe, .video .video__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.inlinevideo {
    width: 100%;
    height: auto;
    display: block;
}

.video + .video {
    margin-top: $s-small;
}

/**
 * Page loader
 */
.transition-overlay {
    width: 100%;
    height: 100%;
    // background-color: $c-signal;
    position: fixed;
    top: 0; left: 0;
    z-index: 10;
    pointer-events: none;
    // opacity: 0;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

pre {
    margin-top: $s-small * 0.5;
    margin-bottom: $s-small * 0.5;
}


/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
    max-width: 56em; // max 95 characters
    max-width: calc( 56em + #{$spacing-unit*2});
    
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing-unit*2;
    padding-right: $spacing-unit*2;
    @include media-query($on-palm) {
        padding-left: $spacing-unit*3;
        padding-right: $spacing-unit*3;
    }
    font-weight: bold;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $header-font-family;
    font-weight: 700;
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing-unit*0.5;
    padding-right: $spacing-unit*0.5;
    @include media-query($on-palm) {
        padding-left: $spacing-unit;
        padding-right: $spacing-unit;
    }
    letter-spacing:  0.05em;
    word-spacing: 0.1em;
    // background: red;
}
h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
    margin-top: $s-small*0.5;
    @include media-query($on-laptop) {
        margin-top: $s-small;
    }
}
// p { background: green;}

h1, .h1 { 
    font-size: calc( 3em + 2vw );
    max-width: calc( 12em + #{$spacing-unit*2});
}

h2, .h2 { 
    font-size: 2.5em;
    max-width: calc( 22.4em + #{$spacing-unit*2});
}

h3, .h3 { 
    font-size: 1.5em;
    max-width: calc( 37.35em + #{$spacing-unit*2});
}

h4, .h4 { // eg ingress
    font-size: 1.5em;
    max-width: calc( 37.35em + #{$spacing-unit*2});        
}

h5, .h5, h6, .h6 {
    max-width: calc( 56em + #{$spacing-unit*2});
}

.pre-header {
    font-size: 1em;
    letter-spacing: 0.125em;
}

.sub-header {
    font-size: 1.25em;
}

/**
 * Links
 */
a {
    color: $c-signal;
    text-decoration: none;

    &:visited  {
        color: $c-signal;
    }
    &:hover {
        color: $c-signal;
    }
}
p > a:not(.button):not(.link):not(.metabutton):not(.custom-button), h2 > a {
    position: relative;
    text-shadow: 1px 1px 0 $c-white, 2px 1px 0 $c-white, -1px 1px 0 $c-white, -2px 1px 0 $c-white, 1px -1px 0 $c-white, 2px -1px 0 $c-white, -1px -1px 0 $c-white, -2px -1px 0 $c-white;
    z-index: 1;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 2px solid $c-signal;
        z-index: -1;
        transform: scaleX(0);
        // transform-origin: top left;
        transition: transform .7s $easeout;
    }
    &:hover:after {
        transform: scaleX(1);
    }
}
.c-business-bg a, h2 > a {
    text-shadow: none !important;
}
.c-people-bg a {
    color: $c-dark;
    &:after {
        border-color: $c-white;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $c-metal;
    border-left: 4px solid $c-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing:  -1px;
    font-style: italic;
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $c-light;
    border-radius: 3px;
    background-color: rgba($c-metal, 0.2);
    text-align: left;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Other typography
 */
p {
    max-width: 56em; // max 95 characters
    max-width: calc( 56em + #{$spacing-unit*2});
    
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing-unit*0.5;
    padding-right: $spacing-unit*0.5;
    @include media-query($on-palm) {
        padding-left: $spacing-unit;
        padding-right: $spacing-unit;
    }
}

.meta-description , .meta {
    letter-spacing:  0.125em;
}
.meta-description {
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 700;
}