$bgShadow: $s-small * 0.5;

$bgMqSmall: 400px;
$bgMqSmallMedium: 500px;
$bgMqMedium: 800px;
$bgMqLarge: 1100px;

.boxgrid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 $s-small*0.5 $s-small*0.5;
    margin-top: $s-small;
    margin-bottom: $s-small;
    position: relative;
    max-width: 68.7em; //magic number to align the border to the content on large displays
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $bgMqSmall) {
        padding: 0 $s-small*0.25 $s-small*0.25;
    }
    @media (min-width: $bgMqLarge) {
        padding: 0 $s-small $s-small*0.5;
        margin-top: $s-small*3;
        margin-bottom: $s-small*3;
    }
    a {
        color: $c-dark;
    }

    &__header {
        width: 100%;
        max-width: 100%;
        text-align: center;
        padding: $s-small 15% $s-small*0.5;
        color: $c-signal;
    }
    a.boxgrid__box {
        transition: transform 0.3s $easeout;
        &:focus {
            outline: none;
            transform: translateY(-$s-small*0.5);
        }

    }
    &__box {
        width: 30em;
        max-width: 100%;
        position: relative;
        margin-top: $s-small*1.5;
        flex: 1 0 100%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        align-items: flex-start;
        background-color: $c-white;
        @media (min-width: $bgMqSmall) {
            margin-top: $s-small*3;
            width: auto;
            flex: 1 0 calc(50% - #{$s-small*0.5});
            max-width: calc(50% - #{$s-small*0.5});
            margin-right: $s-small*0.25;
            margin-left: $s-small*0.25;
        }
        @media (min-width: $bgMqMedium) {
            flex: 1 0 calc(50% - #{$s-small*3});
            max-width: calc(50% - #{$s-small*3});
            margin-right: $s-small*1.5;
            margin-left: $s-small*1.5;
        }

        &:nth-of-type(even) {
            align-items: flex-end;
            text-align: right;
            .boxgrid__caption {
                text-align: left;
            }
            .boxgrid__image {
                transform: translate(-$s-small*0.5, -$s-small*0.5);
                @media (min-width: $bgMqMedium) {
                    transform: translate(-$s-small, -$s-small)
                }
            }
            .boxgrid_box {
                align-items: flex-end;
            }
        }
        img {
            width: 100%;
        }
    }

    &__caption {
        // @extend .hyphenate;
        flex: 1 0 100%;
        min-width: 100%;
        color: $c-dark;
        display: block;
        padding: 0 $s-small*0.5 $s-small;
        overflow: auto;
        @media (min-width: $bgMqMedium) {
            padding: 0 $s-small $s-small;
        }
        h3, p {
            padding-left: 0;
        }
    }
    .boxgrid__image {
        width: 100%; // IE fix
        transform: translate($s-small*0.5, -$s-small*0.5);
        @media (min-width: $bgMqMedium) {
            transform: translate($s-small, -$s-small);
        }
    }

    // The box border effect
    &:before {
        content: "";
        border: 4px solid $c-signal;
        @at-root {
            .c-people-bg .boxgrid:before { border-color: $c-dark }
            .c-signal-bg .boxgrid:before { border-color: $c-white }
        }
        position: absolute;
        top: 0;
        left: 4em;
        right: 4em;
        height: 100%;
        @media (min-width: $bgMqMedium) {
            top: -$s-small;
            left: 8em;
            right: 8em;
        }
    }

    &--curiosity {
        .boxgrid__header {
            color: $c-curiosities;
        }
        .boxgrid__box {
            margin-top: $s-small*2;
        }
        &:before {
            border-color: $c-curiosities;
            top: 0;
        }
    }

    // The compact version used in ex the case grid under page Work

    &--contact {
      &:before {
          top: 0;
      }
      .boxgrid__box {
          margin-top: $s-small*2;
          @media (min-width: $bgMqSmallMedium) {
              flex: 1 0 calc(50% - #{$s-small});
              max-width: calc(50% - #{$s-small});
              display: flex;
              flex-direction: column;
          }
          @media (min-width: $bgMqMedium) {
              flex: 1 0 calc(33% - #{$s-small});
              max-width: calc(33% - #{$s-small});
              margin-right: $s-small*0.5;
              margin-left: $s-small*0.5;
          }

          @media (min-width: $bgMqLarge) {
              flex: 1 0 calc(25% - #{$s-small});
              max-width: calc(25% - #{$s-small});
              margin-right: $s-small*0.5;
              margin-left: $s-small*0.5;
          }

          .boxgrid__caption {
              display: block;
              display: flex;
              justify-content: space-between;
              flex-direction: column;
              min-width: auto;
              width: 100%;
              padding-top: $s-small*0.5;
              padding-left: $s-small*0.5;
              padding-right: $s-small*0.5;
              flex-grow: 1;
              flex-shrink: 0;
              flex-basis: auto;
              .email {
                color: $c-signal;
              }
              h3, p {
                  padding: 0;
                  margin-left: 0;
              }
              .button {
                  align-self: center;
              }
          }
          .boxgrid__image {
              transform: none;
          }
      }
    }

    &--compact {
        &:before {
            top: 0;
        }
        .boxgrid__box {
            margin-top: $s-small*2;
            @media (min-width: $bgMqSmall) {
                flex: 1 0 calc(50% - #{$s-small*0.5});
                max-width: calc(50% - #{$s-small*0.5});
                display: flex;
                flex-direction: column;
            }
            @media (min-width: $bgMqMedium) {
                flex: 1 0 calc(33% - #{$s-small});
                max-width: calc(33% - #{$s-small});
                margin-right: $s-small*0.5;
                margin-left: $s-small*0.5;
            }

            .boxgrid__caption {
                display: block;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                min-width: auto;
                width: 100%;
                padding-top: $s-small*0.5;
                padding-left: $s-small*0.5;
                padding-right: $s-small*0.5;
                text-align: center;

                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: auto;
                h3, p {
                    padding: 0;
                }
                .button {
                    align-self: center;
                }
            }
            .boxgrid__image {
                transform: none;
            }
        }
    }

    // Offset version
    &--offset {
        @media (min-width: 829px) {
            max-width: 76rem; // lock it to a two grid
            margin-bottom: calc(#{$s-small} + 6em);
            .boxgrid__box {
                transform: translateY(-2.5em);
                &:nth-of-type(even) {
                    transform: translateY(3.5em);
                }
            }
        }
    }

    //Light version
    &--light{
      &:before {
        border: 4px solid $c-light;
      }

      .boxgrid__header {
        color: $c-light;
      }
    }
}

// Page specific changes
.page-contact, .page-curiosities {
    .boxgrid {
        &:before {
            border-color: $c-dark;
        }
        &__header {
            color: $c-dark;
        }
    }
}
