/**
 * Boxes with drop shadows
 */
:root {
    --boxShadowX: #{$s-small*0.5};
    --boxShadowY: #{$s-small*0.5};
}

.box {
    padding: $s-small*2 0; // make sure all content is inside a p or h tag.
    background: $c-white;
    position: relative;
    // margin-bottom: $s-small;
    margin-left: $s-small*0.5;
    margin-right: auto;
    margin-bottom: $s-small*0.5;
    background-size: cover;
    background-position: center;
    max-width: $content-width;
    width: calc(100% - #{$s-small});
    @include media-query($on-palm) {
        --boxShadowX: #{$s-small};
        --boxShadowY: #{$s-small};
        margin-left: $s-small;
        margin-bottom: $s-small;
        width: calc(100% - #{$s-small * 2});
    }
    &:before {
        content:"";
        display: block;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: -1;
        background: $c-signal;
        transform: translate($s-small*0.5, $s-small*0.5);
        animation: flying 7s infinite cubic-bezier(0.15, 0, 0.2, 0.99); // breathing animation
        @media (prefers-reduced-motion) {
            animation: none;
        }
        @include media-query($on-palm) {
            transform: translate($s-small, $s-small);
        }
    }

    // Right modification
    &--right{
        margin-left: auto;
        margin-right: $s-small*0.5;
        --boxShadowX: -#{$s-small*0.5};
        --boxShadowY: #{$s-small*0.5};
        &:before { 
            transform: translate(-$s-small*0.5, $s-small*0.5);
        }
        @include media-query($on-palm) {
            margin-left: auto;
            margin-right: $s-small;
            --boxShadowX: -#{$s-small};
            --boxShadowY: #{$s-small};
            &:before { 
                transform: translate(-$s-small, $s-small);
            }
        }
    }

    // transform the shadow upwards instead
    &--up {
        --boxShadowX: #{$s-small*0.5};
        --boxShadowY: -#{$s-small*0.5};
        &.box--right {
            margin-right: $s-small;
            @include media-query($on-palm) {
                margin-right: $s-small*2;
            }
        }
        &:before { 
            transform: translate($s-small*0.5, -$s-small*0.5);
        }
        @include media-query($on-palm) {
            --boxShadowX: #{$s-small};
            --boxShadowY: -#{$s-small};
            &:before { 
                transform: translate($s-small, -$s-small);
            }
        }
    }

    // Center version
    &--center {
        margin-left: auto;
        margin-right: auto;
        h4, .h4, h4 + * {
            @include media-query($on-laptop) {
                padding-left: $s-small*4;
                padding-right: $s-small*4;
            }
        }
    }

    &--noshadow {
        &:before {
            display: none;
        }
    }

    // Different colors
    &--people:before     { background: $c-people }
    &--business:before   { background: $c-business }
    &--curiosities:before { background: $c-curiosities }
    &--metal:before      { background: $c-metal }

    // Background colors on the box and white shadow
    &--bgsignal, &--bgmetal, &--invert {
        color: $c-white;
        &:before { background: $c-white }
    }
    &--bgpeople, &--bgcuriosities, &--bgbusiness {
        &:before { background: $c-white }
    }
    &--bgsignal     { background: $c-signal };
    &--bgpeople     { background: $c-people };
    &--bgcuriosities { background: $c-curiosities };
    &--bgbusiness   { background: $c-business };
    &--bgmetal      { background: $c-metal };

    ul {
        font-weight: normal;
    }
}

@keyframes flying {
    0%, 90%, 100% {
        transform: translate(var(--boxShadowX), var(--boxShadowY));
    }
    60% {
        transform: translate( var(--boxShadowX), calc( var(--boxShadowY) * 0.75));
    }
}

.box + * {
    margin-top: $s-small*2;
}

.box + .box--up {
    margin-top: $s-small*3;
}

// Boxtext
.boxtext {
    background-color: $c-white;
    color: $c-dark;
    padding: $s-small $s-small*0.25;
    @include media-query($on-palm) {
        padding: $s-small*2 $s-small;    
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &--frame {
        background-color: $c-business;
        color: $c-white;
        margin: calc(1.5em + #{$s-small}) auto;
        position: relative;
        max-width: $content-width;
        padding: $s-small;
        @include media-query($on-palm) {
            padding: $s-small*2; 
        }

        &:after, &:before {
            content: "";
            position: absolute;
            left: 5%;
            right: 5%;
            pointer-events: none;
        }
        &:before {
            top: -1.5em;
            bottom: -1.5em;
            border: 4px solid $c-business;
        }
        &:after {
            top: 0;
            bottom: 0;
            border-left: 4px solid $c-white;
            border-right: 4px solid $c-white;
        }
        &--curiosities {
            background-color: $c-curiosities;
            color: $c-dark;
            &:before {
                border-color: $c-curiosities;
            }
        }
        &--darkoncuriosity {
            background-color: $c-dark;
            color: $c-curiosities;
            &:before {
                border-color: $c-dark;
            }
            &:after {
                border-left-color: $c-curiosities;
                border-right-color: $c-curiosities;
            }
        }
        &--dark {
            background-color: $c-dark;
            color: $c-white;
            &:before {
                border-color: $c-dark;
            }
        }
        &--people {
            background-color: $c-people;
            color: $c-dark;
            &:before {
                border-color: $c-people;
            }
        }
        // &--signal {
        //     background-color: $c-signal;
        //     &:before {
        //         border-color: $c-signal;
        //     }
        // }
    }

    &--simpleframe {
        background-color: transparent;
        color: $c-signal;
        border-top: 4px solid $c-signal;
        border-left: 4px solid $c-signal;
        border-right: 4px solid $c-signal;
        margin-left: $s-small*0.5;
        margin-right: $s-small*0.5;
        margin-top: -$s-small*2;
        position: relative;
        z-index: 1;
        @include media-query($on-laptop) {
            margin-left: $s-small;
            margin-right: $s-small;
        }
    }

    &--texttop {
        padding-top: $s-small*0.25;
        justify-content: space-between;
        @include media-query($on-palm) {
            padding-top: $s-small;    
        }
    }

    &__texttop {
        margin-bottom: $s-small;
    }
}
