/**
 * Curious section
 */

.hero__subheader {
    display: block;
    font-size: 0.3em;
    font-family: $base-font-family;
    font-weight: normal;
    font-style: normal;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    // background: $c-signal;
    height: 100%;
    overflow: hidden;

    // min-height: 100vh;
    //  Hacky way to prevent page from scrolling when URL-bar disapears.
    // -9vw is the magic number for the URL-bar
    @media (max-device-aspect-ratio: 3/4) {
        min-height: (100vw * 1.333 - 9vw);
    }
    @media (max-device-aspect-ratio: 2/3) {
        min-height: (100vw * 1.5 - 9vw);
    }
    //ex iPhone 5
    @media (max-device-aspect-ratio: 10/16) {
        min-height: (100vw * 1.6 - 9vw);
    }
    //ex iPhone 6, Nexus 5X, Galaxy S5
    @media (max-device-aspect-ratio: 9/16) {
        min-height: (100vw * 1.778 - 9vw);
    }

    @include media-query($on-laptop) {
        min-height: 100vh;
    }

    &__header {
        position: relative;
        z-index: 3;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: $s-small*4 0 $s-small;
        color: $c-light;
        &--shadow {
            text-shadow:
                -5px 4px 0px $c-dark, // big shadow - the rest is outlines
                0px -2px 0px $c-dark,
                0px 2px 0px $c-dark,
                2px 2px 0px $c-dark,
                -2px -2px 0px $c-dark,
                2px -2px 0px $c-dark, 
                -2px 2px 0px $c-dark,
                1px 1px 0px $c-dark,
                -1px -1px 0px $c-dark,
                1px -1px 0px $c-dark, 
                -1px 1px 0px $c-dark;
            // text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.33), -3px -1px 19px rgba(0, 0, 0, 0.11);
        }
        
    }
    &__header-wrap {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header {
        margin-top: 2em;
        @include media-query($on-laptop) {
            margin-top: 0;
        }
    }

    // &--cc {
    //     background-color: $c-curiosities;
    // }

    > .button {
        margin-top: 3em;
    }

    .button {
        text-align: center;
    }

    h4 {
        color: inherit;
        margin-top: $s-small*2;
        a {
            color: inherit;
            &:after {
                content: "";
                background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNy4xIDE2Ij48c3R5bGU+LnN0MHtmaWxsOiNmZmZmZmY7fTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMuNiAxNmMtLjEgMC0uMiAwLS4yLS4xTC4xIDEyLjNjLS4xIDAtLjEtLjItLjEtLjMuMS0uMS4xLS4yLjMtLjJoMi4xVi4zYzAtLjEgMC0uMi4xLS4yIDAtLjEuMS0uMS4yLS4xaDEuOGMuMSAwIC4yIDAgLjIuMS4xLjEuMS4xLjEuMnYxMS42aDIuMWMuMSAwIC4yLjEuMy4ydi4zTDQgMTZoLS40eiIvPjwvc3ZnPg==);                
                background-repeat: no-repeat;
                background-position: bottom center;
                width: 7.1px;
                height: 16px;
                display: block;
                padding-top: $s-small;
                margin: 0 auto;
                transition: transform 0.4s $easeout;
            }
            &:hover {
                &:after {
                    transform: translateY(16px);
                }
            }
        }
    }
}

// For custom backgrounds
.hero__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    @media (min-aspect-ratio: 16/9) {
        width: 100%;
        height: auto;
        transform: translateY(-25%);
        top: 25%;
    }
    @media (max-aspect-ratio: 16/9) {
        width: auto;
        height: 100%;
        transform: translateX(-75%);
        margin-top: 0;
        left: 75%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__bgcenter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Custom heros
.hero--about {

    h1 {
        font-size: calc( 2em + 2vw );
    }
}

// Page specific changes
.hero--contact {
    a, h4 {
        color: $c-dark;
    }
    h4 a:after {
        background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNy4xIDE2Ij48c3R5bGU+LnN0MHtmaWxsOiMwQTJBNEY7fTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMuNiAxNmMtLjEgMC0uMiAwLS4yLS4xTC4xIDEyLjNjLS4xIDAtLjEtLjItLjEtLjMuMS0uMS4xLS4yLjMtLjJoMi4xVi4zYzAtLjEgMC0uMi4xLS4yIDAtLjEuMS0uMS4yLS4xaDEuOGMuMSAwIC4yIDAgLjIuMS4xLjEuMS4xLjEuMnYxMS42aDIuMWMuMSAwIC4yLjEuMy4ydi4zTDQgMTZoLS40eiIvPjwvc3ZnPg==);        
    }
}

// Start 
.page- {
    .c-curiosities-bg .hero__bgcenter {
        padding-top: 8em;
        @include media-query($on-laptop) {
            padding-top: 0;
        }
    }
}

.hero--the-internet-by-hand {
    .hero__header-element {
        color: $c-dark;
    }
}