// Image grid
.imagegrid {
    display: flex;
    flex-flow: row wrap;
    margin: $s-small*0.5;
    @include media-query($on-palm) {
        margin: $s-small*0.75;
    }
    .imagegrid__image {
        margin: $s-small*0.25 0;
        @include media-query($on-palm) {
            margin: $s-small*0.25;
            height: auto; 
            flex: 1 0  calc(50% - #{$s-small*0.5});
            max-width: calc(50% - #{$s-small*0.5});
        }
        @include media-query($on-laptop) {
            flex: 1 0  calc(33.333% - #{$s-small*0.5});
            max-width: calc(33.333% - #{$s-small*0.5});
        }
        &--two {
            @include media-query($on-laptop) {
                flex: 1 0  calc(50% - #{$s-small*0.5});
                max-width: calc(50% - #{$s-small*0.5});
            }
        }
    }
    img {
        width: 100%;
        height: auto;
    }
    &--firstlarge {
        .imagegrid__image:first-child {
            width: 100%;
            @include media-query($on-palm) {
                flex: 1 0  calc(100% - #{$s-small*0.5});
                max-width: calc(100% - #{$s-small*0.5});
            }
        }
    }
}