// Image grid
.imagegrid {
    margin: $s-small*0.5;
    @include media-query($on-palm) {
        display: flex;
        flex-flow: row wrap;
        margin: $s-small*0.75;
    }
    .imagegrid__image {
        margin: $s-small*0.25 0;
        @include media-query($on-palm) {
            margin: $s-small*0.25;
            height: auto; 
            flex: 1 0  calc(50% - #{$s-small*0.5});
            max-width: calc(50% - #{$s-small*0.5});
        }
        @include media-query($on-laptop) {
            flex: 1 0  calc(33.333% - #{$s-small*0.5});
            max-width: calc(33.333% - #{$s-small*0.5});
        }
        &--twomobile {
            margin: $s-small*0.25;
            height: auto; 
            flex: 1 0  calc(50% - #{$s-small*0.5});
            max-width: calc(50% - #{$s-small*0.5});
        }
        &--threemobile {
            margin: $s-small*0.25;
            height: auto; 
            flex: 1 0  calc(33.333% - #{$s-small*0.5});
            max-width: calc(33.333% - #{$s-small*0.5});
        }
        &--two {
            @include media-query($on-laptop) {
                flex: 1 0  calc(50% - #{$s-small*0.5});
                max-width: calc(50% - #{$s-small*0.5});
            }
        }
        &--four {
            @include media-query($on-laptop) {
                flex: 1 0  calc(25% - #{$s-small*0.5});
                max-width: calc(25% - #{$s-small*0.5});
            }
        }
        &--padding {
            padding: $s-small $s-small*3;
            @include media-query($on-laptop) {
                padding: 0 $s-small*4;
            }
        }

    }
    img {
        width: 100%;
        height: auto;
    }
    &--firstlarge {
        .imagegrid__image:first-child {
            width: 100%;
            @include media-query($on-palm) {
                flex: 1 0  calc(100% - #{$s-small*0.5});
                max-width: calc(100% - #{$s-small*0.5});
            }
        }
    }
    &--padding {
        padding-left: $s-small*0.25;
        padding-right: $s-small*0.25;
        @include media-query($on-laptop) {
            padding-left: $s-small;
            padding-right: $s-small;
        }
        max-width: 82rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.imagegrid + h3 {
    margin-top: $s-small*2;    
}