.map {
    height: 60vh;
    min-height: 400px;
    width: 100%;
    margin: 0 auto;

    &__container {
        position: relative;
        margin-top: $s-small*2;
        margin-bottom: $s-small*4;
        &:after {
            content: "";
            display: block;
            border: 4px solid $c-dark;
            left: 1%;
            width: 96%;
            @include media-query($on-laptop) {
                width: 80%;
                left: 10%;
            }
            position: absolute;
            top: -$s-small; 
            bottom: -$s-small*2;
            pointer-events: none;
        }
    }
    & > div {
        background-color: transparent !important;
    }

    &__header {
        margin-bottom: $s-small;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}