$animTime: .3s;

.navigation {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    padding: $s-small;
    //  Hacky way to prevent page from scrolling when URL-bar disapears.
    // -7vw is the magic number for the URL-bar
    @media (max-aspect-ratio: 3/4) {
        min-height: (100vw * 1.333 - 6vw);
    }
    @media (max-aspect-ratio: 2/3) {
        min-height: (100vw * 1.5 - 6vw);
    }
    //ex iPhone 5
    @media (max-aspect-ratio: 10/16) {
        min-height: (100vw * 1.6 - 6vw);
    }
    //ex iPhone 6, Nexus 5X, Galaxy S5
    @media (max-aspect-ratio: 9/16) {
        min-height: (100vw * 1.778 - 6vw);
    }

    // Menu to the bottom left both on mobile and desktop
    // display: flex;
    // justify-content: flex-end;
    // align-items: flex-start;
    // flex-direction: column;
    // min-height: 100vh;

    // Uncomment if you wanna have the menu in the top left on mobile
    // and bottom left on desktop
    // flex-direction: column;
    // justify-content: flex-end;
    // align-items: flex-start;
    // @include media-query($on-laptop) {
    //     justify-content: flex-start;
    //     align-items: flex-end;
    //     flex-direction: row;
    //     min-height: 100vh;
    // }

    // min-height: 100vh;
    // &:after {
    //     content: "";
    //     position: absolute;
    //     top: 0; right: 0; bottom: 0; left: 0;
    //     background: $c-signal;
    //     background: linear-gradient(to bottom, rgba($c-people, 0.5) 0%,rgba($c-signal,0.5) 100%);
    //     mix-blend-mode: multiply;
    //     z-index:1;
    // }
    &__video, &__layerimage {
        // background-color: $c-dark;
        background-color: #100F36; // for the train bg
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        margin-top: 0;
        @media (min-aspect-ratio: 16/9) { // Landscape
            width: 100%;
            height: auto;
            // transform: translateY(-25%); // focus on the stubbe/train
            // top: 25%;
        }
        @media (max-aspect-ratio: 16/9) { // Portrait
            width: auto;
            height: 100%;
            transform: translateX(-75%);  // focus on the stubbe/train
            left: 75%;
        }
    }
    &__list {
        // position: relative;
        // IE 11 ugly fix;
        position: absolute;
        bottom: 0;
        left: 0;

        display: inline-block;
        z-index: 3;
        list-style-type: none;
        margin: 100px 0 $s-small;
        padding: 0;
        @media (min-width: $on-laptop) and (min-height: 445px) {
           // bottom: 0;
            ///top: auto;
            margin: 0 0 $s-small*2;
        }
    }
    &__item {
        position: relative;
    }
    &__link, &__overlay {
        @extend .h2;
        color: $c-white;
        padding: $s-small*0.25 $s-small;
        @include media-query($on-laptop) {
            padding: $s-small*0.4 $s-small*2;
        }
        @media (max-height: 445px) {
            padding: 0.2em $s-small;
        }
        @media (max-height: 415px) {
            font-size: calc(1em + 2vh);
        }
        @media (orientation: portrait) {
            text-shadow: 0px 2px 10px rgba($c-dark,0.3);
        }
        display: inline-block;
        &:visited, &:hover, &:focus {
            color: $c-white;
            outline: none;
        }
        &:hover ~ .wave-svg, &:focus ~ .wave-svg {
            stroke-dashoffset: 37px;
        }
    }
    // &--shadow {
    //     .navigation__link, .navigation__overlay {
    //         text-shadow: 0px 2px 10px rgba($c-signal,0.3);
    //     }
    // }
    &__overlay{
        position: absolute;
        top: 0;
        z-index: 1;
        pointer-events: none;
        @media (max-width: $on-laptop - 1){
            text-shadow: none;
        }
        // color: red;
    }
    &__wrapper {
        position: relative;
    }

    .menu-work ~ .navigation__overlay { left: 1.552em; }
    .menu-about ~ .navigation__overlay { left: 1.344em; }
    .menu-curiosities ~ .navigation__overlay { left: 0.725em; }
    .menu-contact ~ .navigation__overlay { left: 1.35em; }

    .wave-svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -$s-small * 0.5;
        // z-index: -1;
        stroke: $c-people;
        stroke-width:7px;
        fill:none;stroke-linecap:round;stroke-linejoin:round;

        transition: stroke-dashoffset 0.8s cubic-bezier(0.16, 0, 0.1, 0.99);
        pointer-events: none;

        @include media-query($on-laptop) {
           left: $s-small;
        }

        // Critical css
        // stroke-dasharray: 329px, 340px;
        // stroke-dashoffset: 330px; // max 320 - px is needed in Edge
    }
    .menu-work ~ .wave-svg { stroke: lighten($c-signal, 10%); }
    .menu-work:hover ~ .wave-svg, .menu-work:focus ~ .wave-svg { stroke-dashoffset: 132px; }
    .menu-about ~ .wave-svg { stroke: $c-business; }
    .menu-about:hover ~ .wave-svg, .menu-about:focus ~ .wave-svg { stroke-dashoffset: 111px; }
    .menu-curiosities ~ .wave-svg { stroke: $c-curiosities; }
    .menu-contact:hover ~ .wave-svg, .menu-contact:focus ~ .wave-svg { stroke-dashoffset: 38px; }
    @media (min-width: $on-laptop) {
        .menu-work:hover ~ .wave-svg, .menu-work:focus ~ .wave-svg { stroke-dashoffset: 182px; }
        .menu-about:hover ~ .wave-svg, .menu-about:focus ~ .wave-svg { stroke-dashoffset: 148px; }
        .menu-contact:hover ~ .wave-svg, .menu-contact:focus ~ .wave-svg { stroke-dashoffset: 108px; }
    }
    &.menu-open {
        z-index: 15;
    }

}

#startmenu {
    z-index: 10;
    height: auto;
    background-color:#0d0d3a;
    // justify-content: space-between;
    //  Hacky way to prevent page from scrolling when URL-bar disapears.
    // -7vw is the magic number for the URL-bar
    @media (max-aspect-ratio: 3/4) {
        min-height: (120vw * 1.333 - 6vw);
    }
    @media (max-aspect-ratio: 2/3) {
        min-height: (120vw * 1.5 - 6vw);
    }
    //ex iPhone 5
    @media (max-aspect-ratio: 10/16) {
        min-height: (120vw * 1.6 - 6vw);
    }
    //ex iPhone 6, Nexus 5X, Galaxy S5
    @media (max-aspect-ratio: 9/16) {
        min-height: (120vw * 1.778 - 6vw);
    }

    .navigation__item {
        opacity: 0;
        animation: slidedown $animTime*2 0s forwards cubic-bezier(0.16, 0, 0.28, 0.99);
        @media (prefers-reduced-motion) {
            animation: none;
            opacity: 1;
        }

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                animation-delay: #{$i / 15}s;
            }
        }
    }
    .navigation__list{
        margin-top: 0;
    }

    // .navigation__video {
    //     @media (max-aspect-ratio: 16/9) { // Portrait
    //         height: 80%;
    //     }
    // }
}

#menu {
    position: fixed; top: 0; left: 0; right: 0; bottom: 0;
    z-index: 4;
    pointer-events: none;
    .navigation__item, .navigation__video, .navigation__layerimage {
        opacity: 0;
    }
    .navigation__item {
        transform: translate3D(0,-2em,0);
        transition: transform $animTime, opacity $animTime;
    }
    .navigation__bg {
        width: 100%; height: 100%;
        background-color: $c-signal;
        // background-color: red;
        transform: translateX(-3px);
        transform-origin: calc(0% + #{$s-small}) calc(0% + #{$s-small});
        transition: transform $animTime*1.5 cubic-bezier(0.16, 0, 0.28, 0.99), opacity $animTime*1.1 $animTime*0.9;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transform: scale(0.05, 0.01) translate3d($s-small,$s-small,0);
        @media (orientation: landscape) {
            transform: scale(0.01, 0.05) translate3d($s-small,$s-small,0);
        }
        opacity: 0;
    }
    &.menu-open {
        pointer-events: auto;
        z-index: 20;
        .navigation__bg {
            transform: scale(1, 1) translate3d(0,0,0);
            opacity: 1;
            transition: transform $animTime cubic-bezier(0.16, 0, 0.28, 0.99), opacity 0.1s 0s;
            @media (prefers-reduced-motion) {
                transition: none;
            }
        }
        .navigation__item, .navigation__video, .navigation__layerimage {
            opacity: 0;
        }
        .navigation__item {
            opacity: 1;
            transform: translate3d(0,0,0);
            transition: transform $animTime, opacity $animTime*0.5;
            // animation: slidedown $animTime 0s forwards;
        }
        @for $i from 1 through 5 {
            .navigation__item:nth-child(#{$i}) {
                transition-delay: #{$i / 20}s;
            }
        }

        .navigation__video, .navigation__layerimage{
            opacity: 1;
            transition: opacity $animTime*1.5 $animTime;
            // animation: show $animTime $animTime forwards;
        }
        position: fixed; top: 0; left: 0; right: 0; bottom: 0;
    }

    &.menu-closed {
        .navigation__bg {
            // animation: closemenu $animTime forwards cubic-bezier(0.16, 0, 0.28, 0.99);
            // transform-origin: 0% 0%;
        }
        .navigation__item, .navigation__video, .navigation__layerimage {
            // opacity: 1;
            // animation: hide $animTime forwards;
        }
    }
}

@keyframes openmenu {
	0% {
        transform: scale(0.03, 0.04) translate3d($s-small,$s-small,0);
        width: 100%; height: 100%;
    }
	100% {
        transform: scale(1) translate3d(0,0,0);
        width: 100%; height: 100%;
    }
}
@keyframes closemenu {
	0% {
        transform: scale(100) translate3D(-#{$s-small}, -#{$s-small}, 0);
        opacity: 1;
    }
	// 50% { transform: scale(50) translate3D(-#{$s-small}, -#{$s-small}, 0) }
	99% { opacity: 1 }
    100% { opacity: 0 }
}
@keyframes show {
	0% {
        opacity: 0;
    }
	100% {
        opacity: 1;
    }
}
@keyframes hide {
	0% {
        opacity: 1;
    }
	100% {
        opacity: 0;
    }
}

@keyframes slidedown {
    0% {
        opacity: 0;
        transform: translate3D(0,-20px,0);
    }

    70% {
        opacity: 1;
    }

	100% {
        opacity: 1;
        transform: translate3D(0,0,0);
    }
}


// iOS webview video fix
.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}