$animTime: .3s;

.navigation {
    width: 100%;
    height: 100vh;
    // min-height: 100vh;
    position: relative;
    overflow: hidden;
    // &:after {
    //     content: "";
    //     position: absolute;
    //     top: 0; right: 0; bottom: 0; left: 0;
    //     background: $c-signal;
    //     background: linear-gradient(to bottom, rgba($c-people, 0.5) 0%,rgba($c-signal,0.5) 100%);
    //     mix-blend-mode: multiply;
    //     z-index:1;
    // }
    &__video { 
        background-color: $c-dark;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        @media (min-aspect-ratio: 16/9) {
            width: 100%;
            height: auto;
            transform: translateY(-25%);
            top: 25%;
        }
        @media (max-aspect-ratio: 16/9) {
            width: auto;
            height: 100%;
            transform: translateX(-75%);
            margin-top: 0;
            left: 75%;
        }
    }
    &__list {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        list-style-type: none;
        margin: 0 0 $s-small*3;
    }
    &__item {
        position: relative;
    }
    &__link, &__overlay {
        @extend .h2;
        color: $c-white;
        padding: $s-small*0.5 $s-small;
        @include media-query($on-laptop) {
            padding: $s-small*0.5 $s-small*2;        
        }
        display: inline-block;
        &:visited, &:hover {
            color: $c-white;
        }
        &:hover ~ .wave-svg {
            stroke-dashoffset: 37;
        }
    }
    &__overlay{
        position: absolute;
        top: 0;
        z-index: 1;
        pointer-events: none;
        // color: red;
    }
    &__wrapper {
        position: relative;
    }
    &__modal {
        position: absolute;
        bottom: -14%;
        margin-left: $s-small;
        right: $s-small;
        z-index: 10;
        background-color: $c-white;
        padding: $s-small;
        text-align: center;
        transform: translate3D(-20%, -50%, 0) scale(0.5);
        opacity: 0;
        transition: transform 1s $bounce, opacity 0.2s;
        p { display: none; }
        @include media-query($on-laptop) {
            bottom: 0;
            left: auto;
            padding: $s-small 0;
            p { display: block; }
        }
        &--open {
            transform: translateY(0) scale(1);
            opacity: 1;
        }
    }
    #menu .navigation__modal {
        transition: transform 0.3s 1s;
    }

    .menu-work ~ .navigation__overlay { left: 1.552em; }
    .menu-about ~ .navigation__overlay { left: 1.344em; }
    .menu-curiosities ~ .navigation__overlay { left: 0.725em; }
    .menu-contact ~ .navigation__overlay { left: 1.35em; }
    
    .wave-svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: $s-small;
        // z-index: -1;
        stroke: $c-people;
        stroke-width:7px;
        fill:none;stroke-linecap:round;stroke-linejoin:round;

        stroke-dasharray: 329, 340;
        stroke-dashoffset: 329; // max 329
        transition: stroke-dashoffset 0.8s cubic-bezier(0.16, 0, 0.1, 0.99);
        pointer-events: none;
    }
    .menu-work ~ .wave-svg { stroke: lighten($c-signal, 10%); }
    .menu-work:hover ~ .wave-svg { stroke-dashoffset: 182; }
    .menu-about ~ .wave-svg { stroke: $c-business; }
    .menu-about:hover ~ .wave-svg { stroke-dashoffset: 148; }
    .menu-curiosities ~ .wave-svg { stroke: $c-curiosities; }
    .menu-contact:hover ~ .wave-svg { stroke-dashoffset: 108; }

    &.menu-open {
        z-index: 15;
    }

}

#startmenu {
    z-index: 10;
    .navigation__item {
        opacity: 0;
        animation: slidedown $animTime*2 0s forwards cubic-bezier(0.16, 0, 0.28, 0.99);

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                animation-delay: #{$i / 15}s;
            }
        }
    }
}

#menu {
    position: fixed; top: 0; left: 0; right: 0; bottom: 0;
    z-index: 4;
    pointer-events: none;
    .navigation__item, .navigation__video {
        opacity: 0;
    }
    .navigation__item {
        transform: translate3D(0,-2em,0);
        transition: transform $animTime, opacity $animTime;
    }
    .navigation__bg {
        width: 100%; height: 100%;
        background-color: $c-signal;
        // background-color: red;
        transform: translateX(-3px);
        transform-origin: calc(0% + #{$s-small}) calc(0% + #{$s-small});
        transition: transform $animTime*1.5 cubic-bezier(0.16, 0, 0.28, 0.99), opacity $animTime*1.1 $animTime*0.9;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transform: scale(0.05, 0.01) translate3d($s-small,$s-small,0);
        @media (orientation: landscape) {
            transform: scale(0.01, 0.05) translate3d($s-small,$s-small,0);        
        }
        opacity: 0;
    }
    &.menu-open {
        pointer-events: auto;
        z-index: 20;
        .navigation__bg {
            transform: scale(1, 1) translate3d(0,0,0);
            opacity: 1;
            transition: transform $animTime cubic-bezier(0.16, 0, 0.28, 0.99), opacity 0.1s 0s;
        }
        .navigation__item, .navigation__video {
            opacity: 0;
        }
        .navigation__item {
            opacity: 1;
            transform: translate3d(0,0,0);
            transition: transform $animTime, opacity $animTime*0.5;
            // animation: slidedown $animTime 0s forwards;
        }
        @for $i from 1 through 5 {
            .navigation__item:nth-child(#{$i}) {
                transition-delay: #{$i / 20}s;
            }
        }

        .navigation__video {
            opacity: 1;
            transition: opacity $animTime*1.5 $animTime;
            // animation: show $animTime $animTime forwards;
        }
        position: fixed; top: 0; left: 0; right: 0; bottom: 0;
    }

    &.menu-closed {
        .navigation__bg {
            // animation: closemenu $animTime forwards cubic-bezier(0.16, 0, 0.28, 0.99);
            // transform-origin: 0% 0%;
        }
        .navigation__item, .navigation__video {
            // opacity: 1;
            // animation: hide $animTime forwards;
        }
    }
}

@keyframes openmenu {
	0% { 
        transform: scale(0.03, 0.04) translate3d($s-small,$s-small,0);
        width: 100%; height: 100%;
    }
	100% { 
        transform: scale(1) translate3d(0,0,0); 
        width: 100%; height: 100%;    
    }
}
@keyframes closemenu {
	0% { 
        transform: scale(100) translate3D(-#{$s-small}, -#{$s-small}, 0);
        opacity: 1;
    }
	// 50% { transform: scale(50) translate3D(-#{$s-small}, -#{$s-small}, 0) }
	99% { opacity: 1 }
    100% { opacity: 0 }
}
@keyframes show {
	0% { 
        opacity: 0;
    }
	100% { 
        opacity: 1;
    }
}
@keyframes hide {
	0% { 
        opacity: 1;
    }
	100% { 
        opacity: 0;
    }
}

@keyframes slidedown {
    0% { 
        opacity: 0;
        transform: translate3D(0,-20px,0);
    }

    70% {
        opacity: 1;
    }

	100% { 
        opacity: 1;
        transform: translate3D(0,0,0);        
    }
}