.newsflash {
    position: relative;
    margin-left: $s-small;
    padding: #{$s-small*0.7} #{$s-small*0.25};
    right: $s-small;
    z-index: 10;
    font-size: 0.9em;
    width: 38em;

    transform: scale(0.8);
    transform-origin: 50% -40%;
    opacity: 0;
    transition: transform 1s $bounce, opacity 0.4s;
    max-width: 100%;
    border: 2px solid $c-white;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -#{$s-small*0.25} #{$s-small*0.25} 0 $c-signal;
    * {
        max-width: 100%;
    }
    h3 {
        font-size: 2em;
        width: 100%;
    }
    h3 + p {
        margin-top: $s-small*0.5;
    }
    @media (min-height: 480px) {
        //bottom: 20vw;
    }
    @include media-query($on-laptop) {
        position: absolute;
        padding: $s-small * 0.8;
        bottom: $s-small;
        right: $s-small;
        // padding: $s-small 0;
        // p { display: block; }
        font-size: 0.7em;
        h3, p {
            padding: 0;
            // margin: $s-small*0.5 0 $s-small*0.5;
            // font-size: 0.8em;
        }
        h3 {
            font-size: 2em;
        }
    }
    &--open {
        transform: scale(1);
        opacity: 1;
    }

    .button{
      font-size: 1em;
    }

    .link{
      padding: 0 15px;

      &:before{
        bottom: -3px;
      }
    }

    &--transparent {
        background: rgba(255,255,255,0.5);
        color: $c-signal;
        // border: none;
        box-shadow: none;
        text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
    }
}
#menu .newsflash {
    transition: transform 0.3s 1s;
}