.newsflash {
    position: absolute;
    bottom: -15%;
    margin-left: $s-small;
    right: $s-small;
    z-index: 10;
    // background-color: $c-white;
    // padding: $s-small;
    // text-align: center;
    transform: translate3D(-20%, -50%, 0) scale(0.5);
    opacity: 0;
    transition: transform 1s $bounce, opacity 0.2s;
    max-width: 22em;
    // box-shadow: -#{$s-small*0.25} -#{$s-small*0.25} 0 $c-signal;
    // border: 4px solid $c-signal;
    // p { display: none; }
    // .button {
    //     margin-top: $s-small*0.5;
    //     @include media-query($on-laptop) {
    //         margin-top: $s-small;
    //     }	
    // }
    span {
        padding-top: $s-small;
        padding-bottom: $s-small;
    }
    @include media-query($on-laptop) {
        bottom: $s-small;
        right: $s-small * 2;
        // padding: $s-small 0;
        // p { display: block; }
        // h3 {
        //     font-size: 1.25em;
        // }
        p {
            margin: $s-small*0.5 0 $s-small*0.5;
            // font-size: 0.8em;
        }
    }
    &--open {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    // &:before {
    //     content:"";
    //     display: block;
    //     position: absolute;
    //     top: 0; left: 0; right: 0; bottom: 0;
    //     z-index: -1;
    //     background: $c-signal;
    //     transform: translate($s-small*0.5, $s-small*0.5);
    //     @include media-query($on-palm) {
    //         transform: translate($s-small, $s-small);
    //     }
    // }
}
#menu .newsflash {
    transition: transform 0.3s 1s;
}