// Pagination

// Usage:
// <div class="pagination">
//     <div class="pagination__counter">1<span>/3</span></div>
//     <a class="pagination__arrow pagination__next" href="#">→</a>
//     <a class="pagination__arrow pagination__previous disabled" href="#">←</a>
// </div>

.pagination {
    position: absolute;
    z-index: 2;
    bottom: 1em;
    right: 1em;
    @include media-query($on-laptop) {
        bottom: 2em;
        right: 2em;  
    }
}
.pagination__counter {
    display: block;
    letter-spacing: 0.3em;
    span {
        // font-weight: bold;
        opacity: 0.5
    }
}

.pagination__arrow {
    display: none; 
    @include media-query($on-laptop) {
        width: 2.4em;
        height: 2.4em;
        border-radius: 2.4em;
        text-align: center;
        overflow: hidden;
        display: block;
        line-height: 1.9;
        border: 3px solid #fff;
        margin: 0.4em 0 0.6em;
        transition: background 0.1s, color 0.1s;
        mix-blend-mode: lighten;
        &:hover {
            background: #fff;
            color: #000;
        }
        &.disabled {
            opacity: 0.5;
            &:hover {
                background: inherit;
                color: inherit;
            }
        }
    }
}
