---
layout: default
excerpt: Fully Studios is a Swedish web and film studio, specializing in motion on the web.
---

<div class="navigation__wrapper">
    <nav class="navigation" id="startmenu">
        {% include menu.html %}
    </nav>
    {% unless site.newsflash_buttonurl == nil %}
    <a class="newsflash button" data-videomodal href="{{site.newsflash_buttonurl}}">
    {% else %}
    <div class="newsflash button" data-videomodal>
    {% endunless %}
    <span>
        {{ site.newsflash | markdownify }}
        {% unless site.newsflash_buttontext == nil %}
            <div class="button"><span>{{ site.newsflash_buttontext }}</span></div>
        {% endunless %}
        </span>
    {% unless site.newsflash_buttonurl == nil %}
    </a>
    {% else %}
    </div>
    {% endunless %}
</div>

{% include cc.html %}

{% include case-highlight.html %}

{% include about-us.html %}

{% include logowall.html %}

<section class="box box--people box--right box--center c-people center sectionspacing-small">
    <h2>Quick contact</h2>
    <p class="h4">Ask a question, any question.</p>
    <a href="mailto:{{ site.email }}" class="button"><span>Send us an email</span></a>
</section>


<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
