---
layout: default
excerpt: Fully Studios is a Swedish web and film studio, specializing in motion on the web.
title: Motion on the web

# Settings for the hero - copy from the page hero
newsflash: |
   ### A regal rebranding

   It’s not every day you get to rebrand a school — and one that’s a real-life London castle to boot.
   Inspired by neo-Gothic surroundings and fistfuls of crayons, we got to work.

newsflash_buttontext: View case
newsflash_buttonurl: work/swedishschool-london

herofile: "summer-2018.html"
cssfile: ""
jsfile: "summer-2018.js"
---

<div class="navigation__wrapper">
  <nav class="navigation" id="startmenu">
    {% include menu.html %}
    {% unless page.herofile == nil %}
        {% include news/{{ page.herofile }} newsflash="visible" %}
    {% endunless %}
  </nav>
</div>

{% include cc.html %}

{% include case-highlight.html %}

{% include about-us.html %}

{% include logowall.html %}

<section class="box box--people box--right box--center c-people center sectionspacing-small">
    <h2>Quick contact</h2>
    <p class="h4">Ask a question, or tell us something.</p>
    <a href="mailto:{{ site.email }}" class="button"><span>Send us an email</span></a>
</section>


<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
