---
layout: default
excerpt: Fully Studios is a Swedish web and film studio, specializing in motion on the web.
title: Motion on the web
---

<div class="navigation__wrapper">
    <nav class="navigation" id="startmenu">
        {% include menu.html %}
        <video class="navigation__video" id="startvideo"
            poster="{{ site.baseurl }}/assets/hero/intro_train.jpg"
            autoplay muted playsinline loop>
            <source src="{{ site.baseurl }}/assets/hero/intro_train.mp4?v=2">
            <img src="{{ site.baseurl }}/assets/hero/intro_train.jpg">
        </video>
        {% unless site.newsflash_buttonurl == nil %}
        <div class="newsflash" data-videomodal>
        {% else %}
        <div class="newsflash" data-videomodal>
        {% endunless %}
        
            {{ site.newsflash | markdownify }}
            {% unless site.newsflash_buttontext == nil %}
                <a href="{{site.newsflash_buttonurl}}" class="button button--transparent"><span>{{ site.newsflash_buttontext }}</span></a>
            {% endunless %}
        
        {% unless site.newsflash_buttonurl == nil %}
        </div>
        {% else %}
        </div>
        {% endunless %}
    </nav>
</div>

{% include cc.html %}

{% include case-highlight.html %}

{% include about-us.html %}

{% include logowall.html %}

<section class="box box--people box--right box--center c-people center sectionspacing-small">
    <h2>Quick contact</h2>
    <p class="h4">Ask a question, or tell us something.</p>
    <a href="mailto:{{ site.email }}" class="button"><span>Send us an email</span></a>
</section>


<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
