// custom CSS for news

.fully-hero {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f1be93;
  // svg {
  //   content-fit: cover;
  // }
  display: flex;
  flex-wrap: wrap;

  &__scene {
    width: 33.3332%;
    height: 50%;
  }

  &.fallback {
    background-color: $c-signal; // replace with a fallback image of the finish illustration
  }
}
